.container-elements1 {
  width: 80%;
  margin: 85px 140px;
  display: flex; }

h3 {
  color: #1F2041;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  text-transform: uppercase; }

.elements-left {
  width: 320px; }
  .elements-left p {
    margin: 0; }
  .elements-left__head-input {
    width: 320px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase; }
  .elements-left__title {
    text-transform: uppercase; }
  .elements-left h3, .elements-left p {
    margin-bottom: 5px; }
  .elements-left__input-element {
    width: 304px;
    height: 16.4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 13px 0px 13px 15px;
    color: rgba(31, 32, 65, 0.25); }
  .elements-left #input-el2 {
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75); }
  .elements-left__input {
    margin-bottom: 20px;
    height: 64.4px; }
  .elements-left__input:nth-child(7) {
    margin-top: 40px; }

.content_search_room {
  margin: 0 !important;
  display: block !important; }

.block5 input {
  padding: 10px 37px 10px 10px;
  font-size: 1rem;
  border: none;
  color: rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  cursor: pointer; }

.block5 .email {
  height: 44px;
  width: 266px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(31, 32, 65, 0.5);
  margin-top: 5px; }

.data_arrival_in_otel {
  position: relative;
  width: 266px; }

.data_arrival_in_otel input {
  padding: 12px 110px 14.4px 15px;
  padding-right: 110px;
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-top-color: rgba(31, 32, 65, 0.25);
  border-right-color: rgba(31, 32, 65, 0.25);
  border-bottom-color: rgba(31, 32, 65, 0.25);
  border-left-color: rgba(31, 32, 65, 0.25);
  margin-top: 5px;
  cursor: pointer; }

.data_arrival_in_otel:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 15px;
  width: 12px;
  height: 8px;
  background-image: url(../image/expand_more.svg); }

#el5 {
  border: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  text-transform: uppercase; }

.dropBlock {
  position: relative;
  z-index: 3; }

.elements-center {
  margin-left: 126px; }
  .elements-center__block-elements {
    margin-bottom: 41px; }
  .elements-center__checkboxs {
    width: 260px; }
  .elements-center #checkbox-like, .elements-center #checkbox-star {
    display: flex;
    justify-content: space-between;
    margin-top: 16px; }

.if_have_account {
  margin: 0;
  width: 100px; }

.elements-right {
  margin-left: 132px; }
  .elements-right__buttons {
    display: flex; }
  .elements-right__btn1, .elements-right__btn2 {
    width: 100px; }
  .elements-right__btn1 {
    margin-right: 19px; }
  .elements-right__block-elements {
    margin-bottom: 40px; }
  .elements-right__buttons1 p {
    color: #FFF !important; }
  .elements-right__buttons1 .login {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .elements-right__buttons1 .elements-right__btn2 .login {
    opacity: 0.5; }
  .elements-right__buttons2 .elements-right__btn2 .login {
    border-color: #DDCDFF; }
  .elements-right__buttons3 {
    font-weight: bold; }
    .elements-right__buttons3 .elements-right__btn1 {
      width: 61px; }
    .elements-right__buttons3 .elements-right__btn2 .if_have_account a {
      width: 61px;
      color: rgba(31, 32, 65, 0.5) !important; }

.con-elements2 {
  width: 90%;
  display: flex;
  margin: 100px 140px; }

.elements-left2__drops {
  width: 266px;
  margin-bottom: 20px; }
.elements-left2__head-drop {
  display: flex;
  justify-content: space-between; }
.elements-left2 p {
  margin: 0; }

.elements-center2 {
  width: 320px;
  margin-left: 180px; }

.elements-right2 {
  width: 320px;
  margin-left: 72px; }

.conveniences1 {
  margin-top: 5px;
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 91px 8px 15px;
  position: relative;
  cursor: pointer; }

.conveniences1 input {
  border: none;
  width: 200px;
  cursor: pointer; }

.conveniences1:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 13px;
  width: 12px;
  height: 8px;
  background-image: url(../image/expand_more.svg); }

.drop_block_row h3 {
  padding: 15px 0 0 15px; }

/*# sourceMappingURL=elements.css.map */
