@import '@variables';

.alone-calendar {
  position: relative;
  font-family: $font-family-main;
  border: 1px solid rgb(31 32 65 / 25%);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  & .calendar {
    transform: translateY(5px);
  }

  &__calendar-container {
    display: flex;
    align-items: center;
    height: 44px;
    padding-left: 15px;
  }

  &__arrow {
    position: absolute;
    top: 17px;
    right: 15px;
  }

  &__placeholder {
    color: $color-shade-secondary;
    font-size: $font-size-main;
  }

  &__calendar {
    position: absolute;
    left: 0;
    z-index: 99;
  }
}
