@import '@variables';

.alone-calendar {
  position: relative;
  font-family: $font-family-main;
  border: 1px solid rgb(31 32 65 / 25%);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  &__calendar {
    margin-top: 5px;
  }

  &__calendar-container {
    display: flex;
    align-items: center;
    height: 44px;
    padding-left: 15px;
  }

  &__arrow {
    position: absolute;
    top: 17px;
    right: 15px;
  }

  &__placeholder {
    height: 100%;
    width: 80%;
    color: $color-shade-secondary;
    font-size: $font-size-main;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: $font-family-main;
  }

  &__calendar {
    position: absolute;
    left: -30px;
    z-index: 99;

    @media (max-width: 840px) {
      left: 0;
    }
  }
}
