@import '@variables';

.search-room {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 30px auto 62px;
  font-size: $font-size-small;
  line-height: 15px;

  & .alone-calendar {
    &__calendar {
      transform: translateX(-30px);
      
      @media (max-width: 700px) {
        transform: translateX(0px);
      }
    }
  }

  &__rooms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;

    @media (max-width: 905px) {
      margin: 0 50px;
    }

    @media (max-width: 665px) {
      margin: 0 70px;
    }

    @media (max-width: 520px) {
      margin: 0;
    }
  }

  &__arrival-in-hotel {
    margin-bottom: 18px;
  }

  &__title {
    display: inline-block;
    margin-bottom: 5px;
    color: $color-shade-dark;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__price-hotel {
    z-index: -1;
    width: 266px;
    margin: 30px 0;

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__order-in-room {
    width: 266px;
    height: 128px;
  }

  &__order-in-room &__title {
    margin-bottom: 20px;
  }

  &__availability {
    display: flex;
    flex-direction: column;
    width: 266px;
    height: 148px;
    margin: 34px 0 28px;
    user-select: none;
  }

  &__availability &__title {
    margin-bottom: 12px;
  }

  &__furniture {
    margin-bottom: 12px;
  }

  &__rooms-container {
    margin-left: 45px;

    & .room-info {
      margin-bottom: 20px;
    }

    @media (max-width: 1355px) {
      margin: 0 auto;
      text-align: center;
    }

    @media (max-width: 520px) {
      margin-left: 0;
    }
  }

  &__number-for-user {
    margin: 0 10px 21px 13px;
    font-size: $font-size-big;
    line-height: 30px;

    @media (max-width: 900px) {
      font-size: 20px;
      text-align: center;
    }

    @media (max-width: 520px) {
      font-size: 20px;
    }
  }

  &__pagination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 23px 18px 0 0;
    text-align: center;

    @media (max-width: 1065px) {
      padding: 23px 0 0;
    }
  }

  &__left-bar {
    max-width: 266px;
    margin-left: 10px;

    @media (max-width: 1065px) {
      margin: 0 0 0 60px;
    }

    @media (max-width: 1065px) {
      margin: 0 30px;
      max-width: inherit;
    }
  }

  @media (max-width: 1355px) {
    width: 80%;
  }

  @media (max-width: 1065px) {
    display: flex;
    width: 100%;
  }

  @media (max-width: 700px) {
    flex-direction: column;
  }
}
