@import '@variables';

.search-room {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 30px auto 62px;
  font-size: $font-size-small;
  line-height: 15px;

  & .alone-calendar__calendar {
    transform: translateX(-30px);
  }

  &__rooms-container {
    margin-left: 45px;
  }
  
  &__arrival-in-hotel {
    margin-bottom: 18px;
  }

  &__title {
    display: inline-block;
    margin-bottom: 5px;
    color: $color-shade-dark;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__price-hotel {
    z-index: -1;
    width: 266px;
    margin: 30px 0;
  }

  &__order-in-room {
    width: 266px;
    height: 128px;

    & .search-room__title {
      margin-bottom: 20px;
    }
  }

  &__availability {
    display: flex;
    flex-direction: column;
    width: 266px;
    height: 148px;
    margin: 34px 0 28px;
    user-select: none;
  }

  &__furniture {
    margin-bottom: 12px;
  }

  &__availability {
    & .span_availability {
      color: #575870;
      font-weight: bold;
    }

    & .search-room__title {
      margin-bottom: 12px;
    }
  }

  &__rooms-container {
    & .room-info {
      margin-bottom: 20px;
    }
  }

  &__rooms-container {
    & h2 {
      margin: 0 0 21px 7px;
      font-size: $font-size-big;
      line-height: 30px;
    }
  }

  &__pagination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 23px 18px 0 0;
    text-align: center;
  }

  &__pagination-container {
    & p {
      color: $color-shade-secondary;
      font-size: $font-size-main;
    }
  }

  &__left-bar {
    max-width: 266px;
    margin-left: 10px;
  }
}

.move_arrow {
  position: absolute;
  width: 42px;
  height: 151px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
}

.arrow_right:hover {
  transition: 0.3s;
}

.arrow_left:hover {
  color: white;
  transition: 0.3s;
}

@media screen and (max-width: 1355px) {
  .search-room {
    width: 80%;

    &__rooms-container {
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1065px) {
  .search-room {
    display: flex;
    flex-wrap: wrap;

    &__left-bar {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1065px) {
  .search-room {
    width: 100%;

    &__pagination-container {
      padding: 23px 0 0;
    }
  }
}

@media screen and (max-width: 905px) {
  .search-room {
    &__rooms {
      margin: 0 50px;
    }
  }
}

@media screen and (max-width: 665px) {
  .search-room__rooms {
    margin: 0 70px;
  }
}

@media screen and (max-width: 520px) {
  .search-room {
    &__rooms-container {
      margin-left: 0;
    }

    &__rooms {
      margin: 0;
    }
  }
}

@media screen and (max-width: 520px) {
  h2.search-room__number-for-user {
    font-size: 20px;
  }
}
