extends ../../../template-head/main_index.pug
include ../../../blocks/header/header.pug
include ../../../blocks/footer/footer.pug
include ../../../blocks/calendar/calendar.pug
include ../../../blocks/dropDown/dropDown.pug

block variables
    - pageTitle = '«Toxin» | Лучшие номера для вас'

block header
    +header
block content
    div#timeSpanFrom
    div#timeSpanTo
    div.content_search-room
        div.left_bar
            div.data_arrival_in_otel
                span.h_span_block_hotel даты пребывания в отеле
                input#date-words(data-range="true"
                                      data-multiple-dates-separator=" - "
                                      placeholder="ММ.ДД.ГГГГ"
                                      readonly)
            div.guests-container
                span.h_span_block_hotel Гости
                +dropDown
            div.price_hotel
                div.middle
                    div.container_price
                        div.price_title Диапозон Цен:
                        div.price
                            span#minValue
                            span ₽
                            span -
                            span#maxValue
                            span ₽
                    div.multi-range-slider
                        input#input-left(type="range" min="0" max="15000" value="1000")
                        input#input-right(type="range" min="0" max="15000" value="3000")
                        div.slider
                            div.track
                            div.range
                            div.thumb.left
                            div.thumb.right
                span(style="color:#8E8E9F") Стоимость за сутки пребывания в номере
            div.order_in_house
                span.h_span_block_hotel правила дома
                div.checkbox_order
                        input#block_1.custom-checkbox(type="checkbox" name="block_1")
                        label(for="block_1") Можно курить
                
                        input#block_2.custom-checkbox(type="checkbox" name="block_2")
                        label(for="block_2") Можно с питомцами
                    
                        input#block_3.custom-checkbox(type="checkbox" name="block_3" )
                        label(for="block_3") Можно пригласить гостей (до 10 человек)
            div.availability
                span.h_span_block_hotel доступность
                input#block_4.custom-checkbox(type="checkbox" name="block_4")
                label(for="block_4")
                    span
                        b(style="color:#575870; font-size:14px;") Широкий коридор
                    p Ширина коридоров в номере не менее 91 см.
                input#block_5.custom-checkbox(type="checkbox" name="block_5")
                label(for="block_5")
                    b(style="color:#575870; font-size:14px;") Помощник для инвалидов
                    p На 1 этаже вас встретит специалист  и  проводит до номера.
            span.h_span_block_hotel удобства номера
            div.conveniences.conveniences1
                input#block_6.counte_conveniences(type="text" name="block_6" placeholder="2 спальни, 2 кровати" autocomplete="off" readonly="")
            div.dropBlockCon.dropBlock.hide
                div.drop_block_item
                    div.drop_block_row
                        h3#dropItem.dropItem.dropItemCon1 спальни
                        div.db1
                            button.circle_drop_item.circle_con_minus1(data-direction="minus") -
                            input#counterCon1(type="text" value="0")
                            button.circle_drop_item.circle_con_plus1(data-direction="plus") +
                    div.drop_block_row
                        h3#dropItem2.dropItem.dropItemCon2 кровати
                        div.db2
                            button.circle_drop_item.circle_con_minus2(data-direction="minus") -
                            input#counterCon2(value="0")
                            button.circle_drop_item.circle_con_plus2(data-direction="plus") +
                    div.drop_block_row
                        h3#dropItem3.dropItem.dropItemCon3 ванные комнаты
                        div.db3
                            button.circle_drop_item.circle_con_minus3(data-direction="minus") -
                            input#counterCon3(value="0")
                            button.circle_drop_item.circle_con_plus3(data-direction="plus") +
                    div.drop_function
                        button#clear_conv.link_drop_function ОЧИСТИТЬ
                        button#apply_conv.link_drop_function ПРИМЕНИТЬ
            div.convenience
                span дополнительные удобства
                div.not_active.arrow_convenience
                div.drop_block_convenience.hide
                    div.drop_item_convenience
                        input#drop_1.convenience-checkbox(type="checkbox" name="drop_1")
                        label(for="drop_1") Завтрак

                        input#drop_2.convenience-checkbox(type="checkbox" name="drop_2")
                        label(for="drop_2") Письменный стол

                        input#drop_3.convenience-checkbox(type="checkbox" name="drop_3")
                        label(for="drop_3") Стул для кормления

                        input#drop_4.convenience-checkbox(type="checkbox" name="drop_4")
                        label(for="drop_4") Кроватка

                        input#drop_5.convenience-checkbox(type="checkbox" name="drop_5")
                        label(for="drop_5") Телевизор

                        input#drop_6.convenience-checkbox(type="checkbox" name="drop_6")
                        label(for="drop_6") Шампунь
        div.main_content_search-room
            h2 Номера, которые мы для вас подобрали 
            div.container_in_hotel
                include ../../../includes/Room1.pug
                include ../../../includes/Room2.pug
                include ../../../includes/Room3.pug
                include ../../../includes/Room4.pug
                include ../../../includes/Room5.pug
                include ../../../includes/Room6.pug
                include ../../../includes/Room7.pug
                include ../../../includes/Room8.pug
                include ../../../includes/Room9.pug
                include ../../../includes/Room10.pug
                include ../../../includes/Room11.pug
                include ../../../includes/Room12.pug
            div.pagination__container
                div#pagination
                p 
                    span.pagination-min 1
                    span.pagination-cur  -
                    span.pagination-max  12
                    span.pagination-txt  из
                    span.pagination-all-option  100+
                    span.pagination-txt  вариантов аренды
block footer
    +footer

