extends ../../../template-head/main_index.pug
include ../../../blocks/header/header.pug
include ../../../blocks/footer/footer.pug
include ../../../blocks/calendar/calendar.pug
include ../../../blocks/dropDown/dropDown.pug
include ../../../blocks/slider-range/slider-range.pug
include ../../../blocks/alone-calendar/alone-calendar.pug
include ../../../blocks/custom-checkbox/custom-checkbox.pug
include ../../../blocks/checkbox-double-name/checkbox-double-name.pug
include ../../../blocks/checkbox-list/checkbox-list.pug
include ../../../blocks/room-info/room-info.pug
include ../../../blocks/pagination/pagination.pug


block variables
    - pageTitle = '«Toxin» | Лучшие номера для вас'
    - roomsList = require('./utils/rooms-info.json');

block content
    div#timeSpanFrom
    div#timeSpanTo
    div.content_search-room
        div.left_bar
            div.content__arrival-in-hotel
                span.h_span_block_hotel даты пребывания в отеле
                +alone-calendar
            div.guests-container
                span.h_span_block_hotel Гости
                +dropDown({
                    list: [
                        { name: 'взрослые', val: 2 },
                        { name: 'дети', val: 1 },
                        { name: 'младенцы', val: 1 }
                    ],
                    appointment: 'guests',
                    showFunction: true
                })
            div.price_hotel
                div.middle
                    +slider-range({
                        title: 'ДИАПАЗОН ЦЕНЫ',
                        subTitle: 'Стоимость за сутки пребывания в номере'
                    })
            div.order_in_house
                span.h_span_block_hotel правила дома
                +custom-checkbox({text: 'Можно курить'})
                +custom-checkbox({text: 'Можно с питомцами'})
                +custom-checkbox({text: 'Можно пригласить гостей (до 10 человек)'})
            div.availability
                span.h_span_block_hotel доступность
                +checkbox-double-name({
                    list: [
                        { title: 'Широкий коридор', desc: 'Ширина коридоров в номере не менее 91 см.' },
                        { title: 'Помощник для инвалидов', desc: 'На 1 этаже вас встретит специалист  и проводит до номера.' },
                    ]
                })
            span.h_span_block_hotel удобства номера
            div.conveniences1
                +dropDown({
                    appointment: 'furniture',
                    list: [
                        { name: 'спальни', val: 0 },
                        { name: 'кровати', val: 0 },
                        { name: 'ванные комнаты', val: 0 }
                    ],
                    showFunction: false,
                    placeholder: 'Выберите удобства'
                })
            div.convenienceee
                +checkbox-list({
                    title: 'Дополнительные удобства',
                    list: [
                        { text: 'Завтрак', isChecked: false },
                        { text: 'Письменный стол' },
                        { text: 'Стул для кормления' },
                        { text: 'Кроватка' },
                        { text: 'Телевизор', isChecked: false },
                        { text: 'Шампунь', isChecked: false },
                        { text: 'Телевизор', isChecked: false },
                        { text: 'Шампунь', isChecked: false },
                    ]
                })
        div.main_content_search-room
            h2 Номера, которые мы для вас подобрали 
            .container_in_hotel
                each room in roomsList
                    +room-info({
                        number: room.number,
                        level: room.level,
                        price: room.price,
                        stars: room.start,
                        review: room.review,
                        sliders: room.sliders,
                    })
            div.pagination__container
                +pagination