block footer
    footer.footer
        div.footer_list
            div.block1
                img(src="./assets/image/Logo.svg" width="100px" height="40px")
                div.text_block1_f
                    p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            div.block2
                h3 навигация
                ul.ul_block2
                    li О нас
                    li Новости
                    li Служба поддержки
                    li Услуги
            div.block3
                h3 о нас
                ul.ul_block3
                    li О сервисе
                    li Наша команда
                    li Вакансии
                    li Инвесторы
            div.block4
                h3 Служба поддержки
                ul.ul_block4
                    li Соглашения
                    li Сообщества
                    li Связь с нами
            div.block5
                h3 Подписка
                p Получайте специальные предложения и новости сервиса
                div.email
                    input(placeholder="Email")
    div.footer_sub
        div.footer_sub_container
            p Copyright © 2018 Toxin отель. Все правазачищены.
            div.sub_icons
                a(href="#")
                    i.fab.fa-twitter
                a(href="#")
                    i.fab.fa-facebook-square
                a(href="#")
                    i.fab.fa-instagram