extends Rooms.pug

block variables
    - var classRoom = 'div class="room2 room_in_hotel"'
    - var numberRoom = '№840'
    - var level = 'Люкс'
    - var price = '9 990₽ в сутки'
    - var review = '65 Отзывов'