extends Rooms.pug

block variables
    - var classRoom = 'div class="room4 room_in_hotel"'
    - var numberRoom = '№856'
    - var level = 'Люкс'
    - var price = '7 300₽ в сутки'
    - var review = '19 Отзывов'