extends Rooms.pug

block variables
    - var classRoom = 'div class="room10 room_in_hotel"'
    - var numberRoom = '№666'
    - var level = 'Люкс'
    - var price = '5 000₽ в сутки'
    - var review = '25 Отзывов'
    - room_photo1 = 'img class="slider__photo" src="../assets/image/room_666.png"'
    - room_photo2 = 'img class="slider__photo" src="../assets/image/room_888.png"'
    - room_photo3 = 'img class="slider__photo" src="../assets/image/1room_840.png"'
    - room_photo4 = 'img class="slider__photo" src="../assets/image/room_888.png"'