extends Rooms.pug

block variables
    - var classRoom = 'div class="room8 room_in_hotel"'
    - var numberRoom = '№450'
    - var level = 'Люкс'
    - var price = '5 300₽ в сутки'
    - var review = '39 Отзывов'
    - room_photo1 = 'img class="slider__photo" src="../assets/image/room_450.png"'
    - room_photo2 = 'img class="slider__photo" src="../assets/image/room_350.png"'
    - room_photo3 = 'img class="slider__photo" src="../assets/image/room_666.png"'
    - room_photo4 = 'img class="slider__photo" src="../assets/image/room_888.png"'