extends Rooms.pug

block variables
    - var classRoom = 'div class="room5 room_in_hotel"'
    - var numberRoom = '№740'
    - var level = 'Люкс'
    - var price = '6 000₽ в сутки'
    - var review = '44 Отзывов'