extends Rooms.pug

block variables
    - var classRoom = 'div class="room11 room_in_hotel"'
    - var numberRoom = '№444'
    - var level = 'Люкс'
    - var price = '5 000₽ в сутки'
    - var review = '15 Отзывов'
    - room_photo1 = 'img class="slider__photo" src="../assets/image/11_room.png"'
    - room_photo2 = 'img class="slider__photo" src="../assets/image/12_room.png"'
    - room_photo3 = 'img class="slider__photo" src="../assets/image/1_room.png"'
    - room_photo4 = 'img class="slider__photo" src="../assets/image/2_room.png"'