mixin dropBlock()
    div.dropBlock.hide
        div.drop_block_item
            div.drop_block_row
                h3#dropItem1.dropItem Взрослые
                div.db1  
                    button.circle_drop_item.circle_drop_minus1 -
                    input#counter1(type="text" value="0" readonly)
                    button.circle_drop_item.circle_drop_plus1 +
            div.drop_block_row
                h3#dropItem2.dropItem Дети
                div.db2 
                    button.circle_drop_item.circle_drop_minus2 -
                    input#counter2(type="text" value="0" readonly)
                    button.circle_drop_item.circle_drop_plus2 +
            div.drop_block_row
                h3#dropItem3.dropItem Младенцы
                div.db3 
                    button.circle_drop_item.circle_drop_minus3 -
                    input#counter3(type="text" value="0" readonly)
                    button.circle_drop_item.circle_drop_plus3 +
            div.drop_function
                button#clear.link_drop_function ОЧИСТИТЬ
                button#apply.link_drop_function ПРИМЕНИТЬ