@import '@variables';

.custom-checkbox {
	display:flex;
  width: fit-content;
  max-width: 216px;
  position: relative;
  align-items: center;
  font-size: $font-size-main;
  margin-bottom: 15px;
  cursor: pointer;
  user-select: none;

  &__checkbox {
    position: absolute;
    top: -6px;
    left: 0;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31,32,65,0.25);
    border-radius: 4px;
    margin-right: 10px;

    &:checked {
      background-image:url(../../assets/image/checked.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-color: $color-purple;
    }
  }

  &__span {
    padding-left: 30px;
    line-height: 12px;
    color: $color-shade-grey;
  }
}