mixin custom-checkbox( options={} )
    - const { text = "", isChecked } = options;
    
    label.custom-checkbox 
        input.custom-checkbox__checkbox(type="checkbox" checkbox= isChecked)
        span.custom-checkbox__span= text