@import '@variables';

.custom-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: 216px;
  margin-bottom: 19px;
  font-size: $font-size-main;
  cursor: pointer;
  user-select: none;

  &__checkbox {
    position: absolute;
    top: -6px;
    left: -5px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid rgb(31 32 65 / 25%);
    border-radius: 4px;
    appearance: none;

    &:checked {
      background-image: url('./images/checked.svg');
      background-repeat: no-repeat;
      background-position: center;
      border-color: $color-purple;
    }
  }

  &__caption {
    padding-left: 30px;
    color: $color-shade-grey;
    line-height: 12px;
  }
}
