extends ../../template-head/main.pug

block variables 
    - pageTitle = 'UI «Toxin» | Отели'

block content
    div.contaienr_elements
        a(href="colors-type.html" target="_blank") 
            div.link1.links
                h3 Colors & Type
        a(href="elements.html" target="_blank") 
            div.link2.links
                h3 Form Elements
        a(href="cards.html" target="_blank") 
            div.link3.links
                h3 Cards
        a(href="header-footer.html" target="_blank") 
            div.link4.links
                h3 Headers & Footers