body {
  background: #F2F2F2;
 }
.contaienr_elements {
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin: 40px auto 0px auto;
 }
    
.links {
    width: 180px;
    height: 40px;
}
a {
    width: 180px;
    height: 40px;
    text-align: center;
 }
h3 {
    color:#B99DFF;
    font-size: 16px;
 }
h3:hover {
    color: #DDD0FF;
}