.button-like {
	display: flex;
	position: absolute;
	top: 62px;
	align-items: center;
	justify-content: space-between;
	height:20px;
	border-radius:22px;
	background-color: #fff;
	cursor:pointer;
	border:1px solid rgba(31, 32, 65, 0.25);
	color:#C7C7CF;
}

span.button-like__txt {
	font-size:11px;
	user-select: none;
	pointer-events: none;
	margin-left: 15px;
}

.button-like__heart {
	position: absolute;
	width:10px;
	height:10px;
	background-position: center;
	background-image:url(../../assets/image/favorite_border.svg);
	background-repeat:no-repeat;
	pointer-events: none;
}

.fill_heart {
	background-image:url(../../assets/image/favorite.svg);
}

.border_heart {
	background-image:url(../../assets/image/favorite_border.svg);
}

.active_heart {
	border:1px solid #B59DFF;
	color:#BC9CFF;
}