.button-like {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height:20px;
	border-radius:22px;
	background-color: #fff;
	cursor:pointer;
	border:1px solid $color-shade;
	color:#C7C7CF;

	&__txt {
		font-size:11px;
		user-select: none;
		pointer-events: none;
		margin-left: 15px;
	}

	&__heart {
		position: absolute;
		width:10px;
		height:10px;
		background-position: center;
		background-image:url(../../../assets/image/favorite-border.svg);
		background-repeat:no-repeat;
		pointer-events: none;
	}
}

.fill_heart {
	background-image:url(../../../assets/image/favorite.svg);
}

.border_heart {
	background-image:url(../../../assets/image/favorite-border.svg);
}

.active_heart {
	border:1px solid #B59DFF;
	color:$color-purple;
}