@import '@variables';

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: $font-size-small;
  font-family: $font-family-main;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  user-select: none;

  &__title {
    border-radius: 22px;

    &_type {
      &_long {
        width: 100%;
        padding: 14.5px 17px;
        color: #fff;
        background: $gradient-main;
      }

      &_border {
        padding: 12.5px 17px;
        color: $color-purple;
        background: $gradient-main;
        background-position: center center;
        background-size: 110% 110%;
        border: 2px solid transparent;
        box-shadow: inset 0 0 0 100px #fff;
      }

      &_background {
        padding: 9.5px 20px;
        color: #fff;
        background: $gradient-main;
      }

      &_empty {
        color: $color-purple;
        border: none;

        &:hover {
          color: $color-shade-grey;
        }
      }
    }

    &_size_small {
      padding: 7px 20px;
    }

    &_size_high {
      padding: 14.5px 20px;
    }
  }

  &:disabled {
    cursor: default;
  }

  &:disabled > &__title {
    opacity: 0.5;

    &_type {
      &_empty {
        color: $color-shade-grey;
        opacity: 1;
      }
    }
  }

  &:hover > &__title {
    opacity: 0.5;

    &_type {
      &_empty {
        color: $color-shade-grey;
        opacity: 1;
      }
    }
  }

  &__button-arrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 44px;
    height: 44px;
    background-image: url('./images/arrow-forward.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 22px 22px 0;
  }
}
