$color-shade-dark: #1F2041;
$color-shade-secondary: #1F2041;
$color-shade-grey: #1F2041;
$color-shade: #1F2041;
$color-shade-ligth: #1F2041;
$color-purple: #BC9CFF;
$color-green: #6FCF97;

$gradient-main: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

$font-family-main: Montserrat, Tahoma, sans-serif;
$font-family-secondary: Quicksand, Tahoma, sans-serif;

$font-size-main: 14px;
$font-size-small: 12px;
$font-size-medium: 19px;
$font-size-big: 24px;
