.impressions-room {
	&__container {
		display:flex;
	}

	&__container-donut {
		position: relative;
		margin-right: 25px;
	}

	&__comments-count {
		height: 50px;
		position: absolute;
		top: 28px;
		left: 24px;
		color: $color-purple;
		text-align: center;
		z-index: -3;
	}

	&__comments-count p {
		margin: 0;
	}

	&__comments-count p:first-child {
		font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
		font-size: 1.714rem;
		font-style: normal;
		font-weight: bold;
		line-height: 2.143rem;
		text-transform: uppercase;
	}

	&__comments-count p:last-child {
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		font-size: 0.857rem;
		font-weight: bold;
		line-height: 1.071rem;
		text-transform: uppercase;
	}

	&__list {
		width:161px;
		height:96px;
		margin-top:15px;
		padding:0;
		list-style:none
	}

	&__list li {
		margin-bottom:8px;
	}

	&__list li:before {
		content:'';
		width:10px;
		height:10px;
		display:inline-block;
		border-radius:50%;
		margin-right:5px;
	}
}

#li_impressions1:before {
	background:linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}

#li_impressions2:before {
	background:$gradient-secondary;
}

#li_impressions3:before {
	background:$gradient-main;
}

#li_impressions4:before {
	background:linear-gradient(180deg, #919191 0%, #3D4975 100%);
}