.impressions_room {
	width:311px;
}

.impressions-room__container {
	display:flex;
}

.impressions-room__container-donut {
	position: relative;
	margin-right: 25px;
}

.impressions-room__container-donut .impressions-room__comments-count {
	height: 50px;
	position: absolute;
	top: 28px;
	left: 24px;
	color: #BC9CFF;
	text-align: center;
	z-index: -3;
}

.impressions-room__container-donut .impressions-room__comments-count p {
	margin: 0;
}

.impressions-room__container-donut .impressions-room__comments-count p:first-child {
	font-family: 'Quicksand', 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 1.714rem;
	font-style: normal;
	font-weight: bold;
	line-height: 2.143rem;
	text-transform: uppercase;
}
.impressions-room__container-donut .impressions-room__comments-count p:last-child {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 0.857rem;
	font-weight: bold;
	line-height: 1.071rem;
	text-transform: uppercase;
}

.impressions-room__list {
    width:161px;
	height:96px;
	margin-top:15px;
	padding:0;
	list-style:none
}

.impressions-room__list li {
	margin-bottom:8px;
}

/*Блоки круги напротив li*/
.impressions-room__list li:before {
	content:'';
	width:10px;
	height:10px;
	display:inline-block;
	border-radius:50%;
	margin-right:5px;
}

#li_impressions1:before {
	background:linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}

#li_impressions2:before {
	background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

#li_impressions3:before {
	background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

#li_impressions4:before {
	background:linear-gradient(180deg, #919191 0%, #3D4975 100%);
}