mixin impressions-room({ list=[] }={})
    .impressions-room.js-impressions-room
        h2.impressions-room__title Впечатления от номера
        .impressions-room__container
            .impressions-room__container-donut
                canvas.impressions-room__donut
                .impressions-room__comments-count 
                    p.impressions-room__count
                    p.impressions-room__desc Голосов
            ul.impressions-room__list
                each element in list
                    li.impressions-room__item(data-set-comment= element.votes, data-colors= element.colors, tabindex="0")
                        div.impressions-room__item-color-circle
                        span.impressions-room__item-title= element.name 