mixin impressions-room({}={})
    .impressions-room.js-impressions-room
        h2.impressions-room__title Впечатления от номера
        .impressions-room__container
            .impressions-room__container-donut
                canvas.impressions-room__donut
                .impressions-room__comments-count 
                    p.impressions-room__count 260
                    p.impressions-room__desc Голосов
            ul.impressions-room__list
                li.impressions-room__item Великолепно 
                li.impressions-room__item Хорошо 
                li.impressions-room__item Удовлетворительно 
                li.impressions-room__item Разочарован 