@import '@variables';

.impressions-room {
	&__container {
		display:flex;
	}

	&__title {
		margin-bottom: 24px;
		margin-top: 0;
		font-size: $font-size-medium;
	}

	&__container-donut {
		position: relative;
		margin-right: 30px;
	}

	&__comments-count {
		height: 50px;
		position: absolute;
		top: 35px;
		left: 26px;
		color: $color-purple;
		text-align: center;
		z-index: -3;
	}

	&__comments-count p {
		margin: 0;
	}

	&__comments-count p:first-child {
		font-size: 1.714rem;
		font-weight: 700;
		line-height: 29px;
		text-transform: uppercase;
	}

	&__comments-count p:last-child {
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
		text-transform: uppercase;
	}

	&__list {
		width:161px;
		height:96px;
		margin-top:26px;
		padding:0;
		list-style:none
	}

	&__list li:before {
		content:'';
		width:10px;
		height:10px;
		display:inline-block;
		border-radius:50%;
		margin-right:5px;
	}
}

#li_impressions1:before {
	background:linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
}

#li_impressions2:before {
	background:$gradient-secondary;
}

#li_impressions3:before {
	background:$gradient-main;
}

#li_impressions4:before {
	background:linear-gradient(180deg, #919191 0%, #3D4975 100%);
}