div.dropBlock.hide
    div.drop_block_item
        div.drop_block_row
            span#dropItem1.dropItem Взрослые
            button.circle_drop_item.circle_drop_minus1 -
            input#counter1(type="text" value="0")
            button.circle_drop_item.circle_drop_plus1 +
        div.drop_block_row
            span#dropItem2.dropItem Дети
            button.circle_drop_item.circle_drop_minus2 -
            input#counter2(value="0")
            button.circle_drop_item.circle_drop_plus2 +
        div.drop_block_row
            span#dropItem3.dropItem Младенцы
            button.circle_drop_item.circle_drop_minus3 -
            input#counter3(value="0")
            button.circle_drop_item.circle_drop_plus3 +
        div.drop_function
            button#clear.link_drop_function ОЧИСТИТЬ
            button#apply.link_drop_function ПРИМЕНИТЬ