extends Rooms.pug

block variables
    - var classRoom = 'div class="room6 room_in_hotel"'
    - var numberRoom = '№982'
    - var level = 'Люкс'
    - var price = '5 800₽ в сутки'
    - var review = '56 Отзывов'