extends Rooms.pug

block variables
    - var classRoom = 'div class="room1 room_in_hotel"'
    - var numberRoom = '№888'
    - var level = 'Люкс'
    - var price = '9 990₽ в сутки'
    - var review = '145 Отзывов'