extends ../template

block variables
    - var pageTitle = 'Sign in'

block content

    include ../../../blocks/sign-in-form/sign-in-form.pug

    main.sign-in(style="background-image: url('./img/sign-background.jpg')")
      article.sign-in__container
        +sign-in-form()