doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="style.css")
        link(rel="shortcut icon" href="image/Logo.png" type="image/png")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(type="text/javascript" src="awesome/fontawesome.min.js")
        script(src="https://kit.fontawesome.com/bc390f5649.js" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        title= pageTitle
    body
        block header
            nav.header
                a(href="index.html")
                    div.logo
                        img(src="image/Logo.svg" width="106px" height="40px")
                div.right_Part_Header
                    div.list
                        ul.menu_list
                            li
                                u
                                    a(href="#") UI Компоненты
                            li
                                a(href="#") О нас
                            li
                                a.arrow_list_li#arrow_li_left(href="#") Услуги
                            li
                                a(href="#") Вакансии
                            li
                                a(href="#") Новости
                            li
                                a.arrow_list_li(href="#") Соглашения
                div.logup
                    a(href="login.html")
                        div.login
                            p Войти
                    a(href="Registration.html")
                        div.registration
                            p Зарегистрироваться
                                
                div.burger.burger_menu_active
                    button.border1.border
                    button.border2.border
                    button.border3.border
                    ul.menu_burger
                        a(href="index.html")
                            li.li_burger.li_burger1 Главная
                        a(href="#")
                            li.li_burger.li_burger1 О Нас
                        a(href="#")
                            li.li_burger Услуги
                        a(href="#")
                            li.li_burger Вакансии
                        a(href="#")
                            li.li_burger Новости
                        a(href="#")
                            li.li_burger Соглашения
                        a(href="login.html")
                            li.li_burger
                                b Войти
                        a(href="Registration.html")
                            li.li_burger.li_burger7
                                b Регистрация
        block content