/*Основной контент*/
.container_room_loop {
	height:485px;
	display:flex;
}
/*Комнаты*/
.room_loop1 {
	width:981px;
	height:485px;
	background-image:url(image/room_loop1.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	transition:0.3s;
}

/*прближение картинки фона*/
.room_loop1:hover {
	background-size:115%;
	transition:0.3s;
}


.room_loop_head {
	height:485px;
	width:538px;
}

.room_loop2 {
	width:538px;
	height:243px;
	background-image:url(image/room_loop2.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	transition:0.3s;
	background-position:center;
}

/*прближение картинки фона*/
.room_loop2:hover {
	background-size:115%;
	transition:0.3s;
}

.room_loop3 {
	width:538px;
	height:242px;
	background-image:url(image/room_loop3.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	transition:0.3s;
	background-position:center;
}

/*прближение картинки фона*/
.room_loop3:hover {
	background-size:115%;
	transition:0.3s;
	background-position:center;
}


/*Блок с подробной информацией*/

.expend_details_room {
	height:866px;
	display:block;
}

.container_expend_details_room {
	width:1179px;
	height:796px;
	margin:70px auto;
}

.room_information {
	height:273px;
	width:280px;
}

.room_information h2 {
	font-size:19px;
	line-height:24px;
	margin:0 0 24px 0;
}

.room_information p {
	margin:0 0 5px 0;

}

.room_information b {
	color:#575871;
}

.ul_room {
	padding:0;
}

.ul_room li{
	display:block;
	width:243px;
	height:48px;
}

.ul_room hr {
	color:rgba(31, 32, 65, 0.1);;
	margin:15px 0 20px 0;
}

.ul_room li:before {
	content:'';
	width:40px;
	height:40px;
	font-size:12px;
	display:inline-block;
	margin-right:5px;
	float:left;
}

#li_room1:before {
	background-image:url(image/insert_emoticon.svg);
	background-repeat:no-repeat;
	background-size:90%;
	margin:2px 5px 0 0;
}

#li_room2:before {
	background-image:url(image/location_city.svg);
	background-repeat:no-repeat;
	background-size:80%;
}

#li_room3:before {
	background-image:url(image/whatshot.svg);
	background-repeat:no-repeat;
	background-size:77%;
}

.impressions_room {
	width:311px;
	height:165px;
	background:red;
}

