@import '@variables';

.pagination {
  font-size: 12px;
  user-select: none;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    color: $color-shade-secondary;
    font-size: $font-size-main;
  }
}
