mixin footer-nav-menu({ navList = [] }={})
  .footer-nav-menu
    each list in navList
      .footer-nav-menu__blocks
        span.footer-nav-menu__title-list= list.title
        ul.footer-nav-menu__list
          each link in list.links
            li.footer-nav-menu__item
              a.footer-nav-menu__link(href=link.href)= link.title
