extends Rooms.pug

block variables
    - var classRoom = 'div class="room10 room_in_hotel"'
    - var numberRoom = '№666'
    - var level = 'Люкс'
    - var price = '5 000₽ в сутки'
    - var review = '25 Отзывов'