extends Rooms.pug

block variables
    - var classRoom = 'div class="room3 room_in_hotel"'
    - var numberRoom = '№980'
    - var level = 'Люкс'
    - var price = '8 500₽ в сутки'
    - var review = '35 Отзывов'