@import '@variables';

.colors {
  display: flex;
  align-items: center;

  &__color-hex {
    display: block;
    font-size: $font-size-medium;
  }

  &__text {
    line-height: 27.79px;
  }

  &__title-color {
    display: block;
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__square {
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 6px;

    &_shade-dark {
      background: $color-shade-dark;
    }

    &_shade-secondary {
      background: $color-shade-secondary;
    }

    &_shade-grey {
      background: $color-shade-grey;
    }

    &_shade {
      background: $color-shade;
    }

    &_shade-light {
      background: $color-shade-light;
    }

    &_purple {
      background: $color-purple;
    }

    &_green {
      background: $color-green;
    }
  }
}
