mixin colors({ colorItem='shade-dark', title='Dark Shade 100%', hex='#1F2041' }={})
  - var colorSquare = 'colors__square_' + colorItem;

  .colors
    .colors__square(class=[colorSquare])
    .colors__text
        span.colors__title-color= title
        span.colors__color-hex= hex