@import '@variables';

.room-rules {
  font-size: $font-size-main;

  &__order {
    @media (max-width: 793px) {
      margin-right: 0;
    }
  }

  &__title {
    display: block;
    margin-bottom: 20px;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__list {
    margin: 0;
    padding: 0;
    color: $color-shade-secondary;
    list-style: none;
  }

  &__element {
    position: relative;
    display: flex;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      top: 7px;
      left: -20px;
      width: 10px;
      height: 10px;
      background-color: $color-shade;
      border-radius: 50%;
      content: '';
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__container {
    @media (max-width: 1200px) {
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 693px) {
      flex-direction: column;
    }
  }

  &__orders {
    @media (max-width: 693px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    display: block;
    width: 240px;
    color: $color-shade-secondary;
    line-height: 24px;
  }
}
