mixin room-rules({ list = [], title = 'Правила' }={})
  .room-rules
    if title
      span.room-rules__title= title
    ul.room-rules__list
      each element in list
        li.room-rules__element
          .room-rules__circle
          span.room-rules__text= element.txt
