@import '@variables';

.checkbox-double-name {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 10px;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
  }

  &__title {
    color: $color-shade-secondary;
    font-weight: bold;
    font-size: $font-size-main;
    line-height: 18px;
  }

  &__description {
    color: $color-shade-grey;
    font-size: $font-size-small;
    line-height: 14px;
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid rgb(31 32 65 / 25%);
    border-radius: 4px;
    appearance: none;

    &:checked {
      background-image: url('./images/checked.svg');
      background-repeat: no-repeat;
      background-position: center;
      border-color: $color-purple;
    }
  }
}
