@import '@variables';

.ui-cards {
  display: flex;
  justify-content: space-between;
  padding: 140px;
  line-height: 14px;
  background-color: #fff;

  &__left-blocks {
    width: 320px;
  }

  &__right-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 711px;
  }

  &__first-right-block {
    width: 320px;
  }

  &__second-right-block {
    width: 320px;
  }

  &__titles, &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
  }

  &__bold-caption, &__title {
    font-weight: bold;
  }

  &__text {
    color: $color-shade-grey;
    font-weight: 400;
  }

  &__default-field,
  &__drop-down {
    margin-bottom: 20px;
  }

  &__masked-field,
  &__range-dates,
  &__filter-date {
    margin-bottom: 40px;
  }

  &__subscribe-field {
    margin-bottom: 95;
  }

  &__bullet-list {
    margin-top: 10px;
  }

  &__rich-checkbox-list {
    margin-top: 6px;
  }

  &__checkbox-list {
    margin-bottom: 100px;
  }

  &__like-buttons {
    display: flex;
  }

  &__like-button-second {
    margin-left: 10px;
  }

  &__checkbox-buttons {
    margin: 17px 0 40px;
  }

  &__drop-down-not-panel-def {
    margin-bottom: 84px;
  }

  &__radio-buttons {
    margin: 16px 0 37px;
  }

  &__toggles,
  &__like-buttons {
    margin: 16px 0 40px;
  }

  &__rate-buttons {
    margin: 16px 0 90px;
  }

  &__drop-down-with-panel {
    margin-bottom: 100px;
  }

  &__button-top {
    display: flex;
    justify-content: space-between;
    width: 218px;
    height: 43px;
    margin: 16px 0 30px;
  }

  &__button-empty {
    display: flex;
    height: 15px;
    margin-bottom: 30px;
  }

  &__button-empty-not-disabled {
    margin-right: 20px;
  }

  &__button-center {
    display: flex;
    justify-content: space-between;
    width: 218px;
    height: 44px;
    margin-bottom: 30px;
  }

  &__pay-button {
    height: 44px;
    margin-bottom: 30px;
  }

  &__pagination {
    margin-top: 25px;
    margin-bottom: 151px;
  }

  &__drop-down-with-guests {
    margin-bottom: 95px;
  }

  &__right-blocks-container {
    display: flex;
    justify-content: space-between;
  }

  &__toggle-2 {
    margin-top: 10px;
  }

  &__alone-calendar {
    margin-bottom: 30px;
  }
}
