@import '@variables';

.elements {
  display: flex;
  justify-content: space-between;
  padding: 140px;
  line-height: 14px;
  background-color: #fff;

  &__left-blocks {
    width: 320px;
  }

  &__right-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 711px;
  }

  &__like-buttons {
    display: flex;
  }

  &__first-right-block {
    width: 320px;
  }

  &__checkbox-list {
    margin-bottom: 100px;
  }

  &__comment {
    margin-top: 10px;
  }

  &__second-right-block {
    width: 320px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: bold;

    &_margin {
      &_middle {
        margin-bottom: 15px;
      }
    }
  }

  &__form-elements-set {
    margin-bottom: 20px;

    &_margin {
      &_small {
        margin-bottom: 30px;
      }

      &_middle {
        margin-bottom: 40px;
      }

      &_big {
        margin-bottom: 90px;
      }

      &_very-big {
        margin-bottom: 161px;
      }
    }
  }

  &__like-button-second {
    margin-left: 10px;
  }

  &__toggles,
  &__like-buttons {
    margin: 16px 0 40px;
  }

  &__button-top {
    display: flex;
    justify-content: space-between;
    width: 218px;
    height: 43px;
    margin: 16px 0 30px;
  }

  &__button-empty {
    display: flex;
    height: 15px;
    margin-bottom: 30px;
  }

  &__button-empty-not-disabled {
    margin-right: 20px;
  }

  &__button-center {
    display: flex;
    justify-content: space-between;
    width: 218px;
    height: 44px;
    margin-bottom: 30px;
  }

  &__pay-button {
    height: 44px;
    margin-bottom: 30px;
  }

  &__right-blocks-container {
    display: flex;
    justify-content: space-between;
  }

  &__toggle-2 {
    margin-top: 10px;
  }
}