extends ../../../template-head/main-ui.pug
include ../../../blocks/text-input/text-input.pug
include ../../../blocks/dropDown/dropDown.pug
include ../../../blocks/range-date-calendar/range-date-calendar.pug
include ../../../blocks/alone-calendar/alone-calendar.pug
include ../../../blocks/sub-text-input/sub-text-input.pug
include ../../../blocks/checkbox-list/checkbox-list.pug
include ../../../blocks/about-room/about-room.pug
include ../../../blocks/custom-checkbox/custom-checkbox.pug
include ../../../blocks/toggle/toggle.pug
include ../../../blocks/radio-input/radio-input.pug
include ../../../blocks/stars/stars.pug
include ../../../blocks/button-like/button-like.pug
include ../../../blocks/checkbox-double-name/checkbox-double-name.pug
include ../../../blocks/slider-range/slider-range.pug
include ../../../blocks/button/button.pug
include ../../../blocks/pagination/pagination.pug
include ../../../blocks/room-rules/room-rules
include ../../../blocks/user-reviews/user-reviews.pug
include ../blocks/form-elements-set/form-elements-set.pug

block variables 
  - pageTitle = 'Элементы'

block content
  .elements
    .elements__left-blocks
      .elements__form-elements-set
        +form-elements-set({ title: 'text field', details: 'Default' })
          +text-input({ placeholder: 'Email', name: 'email', type: 'email' })
      .elements__form-elements-set
        +form-elements-set({ title: 'dropdown' })
          +dropDown({
            list: [
              { name: 'взрослые', val: 0 },
              { name: 'дети', val: 0 },
              { name: 'младенцы', val: 0 }
            ],
            appointment: 'guests',
            showFunction: true,
            keyPhrases: ['гость', 'гостя', 'гостей']
          })
      .elements__form-elements-set.elements__form-elements-set_margin_middle
        +form-elements-set({ title: 'Masked text field' })
          +text-input({ isMasked: true, name: 'birthday' })
      .elements__form-elements-set.elements__form-elements-set_margin_middle
        +range-date-calendar({
          titleFirst: 'DATE DROPDOWN',
          titleSecond: 'DATE DROPDOWN'
          })
      .elements__form-elements-set.elements__form-elements-set_margin_small
        +form-elements-set({ title: 'filter date dropdown'})
          +alone-calendar
      .elements__form-elements-set.elements__form-elements-set_margin_big
        +form-elements-set({ title: 'subscription text field' })
          +sub-text-input({ name: 'email', placeholder: 'Email', link: 'change-me/mock-address', type: 'email' })
      .elements__form-elements-set.elements__form-elements-set_margin_big
        +form-elements-set({ title: 'dropdown', details: 'Default' })
          +dropDown({
            appointment: 'furniture',
            list: [
              { name: 'спальни', val: 0 },
              { name: 'кровати', val: 0 },
              { name: 'ванные комнаты', val: 0 }
            ],
            showFunction: false,
            placeholder: 'Выберите удобства',
            name: 'furniture'
          })
      .elements__checkbox-list
        +checkbox-list({
          title: 'Дополнительные удобства',
          list: [
            { text: 'Завтрак', isChecked: false },
            { text: 'Письменный стол' },
            { text: 'Стул для кормления' },
            { text: 'Кроватка' },
            { text: 'Телевизор', isChecked: false },
            { text: 'Шампунь', isChecked: false },
            { text: 'Телевизор', isChecked: false },
            { text: 'Шампунь', isChecked: false },
          ]
          })
      .elements__about-room
        +about-room({
          list: [
            {
              firstAdvantage: 'Комфорт',
              secondAdvantage: 'Шумоподавляющие стены',
              class: 'about-room__insert-emoticon'
            },
            {
              firstAdvantage: 'Удобство',
              secondAdvantage: 'Окно в каждой из спален',
              class: 'about-room__location-city'
            },
          ],
          title: ''
        })
    .elements__right-blocks
      .elements__right-blocks-container
        .elements__first-right-block
          .elements__form-elements-set.elements__form-elements-set_margin_middle
            .elements__title.elements__title_margin_middle CHECKBOX BUTTONS
            .elements__custom-checkboxes
              +custom-checkbox({text: 'Можно курить'})
              +custom-checkbox({text: 'Можно с питомцами'})
              +custom-checkbox({text: 'Можно пригласить гостей (до 10 человек)'})
          .elements__form-elements-set.elements__form-elements-set_margin_middle
            .elements__title.elements__title_margin_middle Radio Buttons
            +radio-input
          .elements__form-elements-set
            .elements__title.elements__title_margin_middle Toggle
            .elements__toggles
              +toggle({ isChecked: true })
              .elements__toggle-2
                +toggle
          .elements__form-elements-set
            .elements__title.elements__title_margin_middle like button
            .elements__like-buttons
              .elements__like-button
                +button-like({ count: 2 })
              .elements__like-button-second
                +button-like({ count: 11 })
          .elements__form-elements-set.elements__form-elements-set_margin_big
            .elements__title.elements__title_margin_middle rate button
            +stars({ stars: 4, readonly: false })
            +stars({ stars: 5 })
          .elements__form-elements-set.elements__form-elements-set_margin_big
            +form-elements-set({ title: 'dropdown'})
              +dropDown({
                list: [
                  { name: 'взрослые', val: 0 },
                  { name: 'дети', val: 0 },
                  { name: 'младенцы', val: 0 }
                ],
                appointment: 'guests',
                showFunction: true,
                keyPhrases: ['гость', 'гостя', 'гостей'],
                name: 'furniture'
              })
          .elements__form-elements-set
            +form-elements-set({ title: 'rich Checkbox Buttons'})
              +checkbox-double-name({
                list: [
                  { title: 'Широкий коридор', desc: 'Ширина коридоров в номере не менее 91 см.' },
                  { title: 'Помощник для инвалидов', desc: 'На 1 этаже вас встретит специалист  и проводит до номера.' },
                ]
              })
        .elements__second-right-block
          .elements__range-slider
            +slider-range({
              title: 'Range Slider',
              subTitle: ''
            })
          .elements__title buttons
          .elements__buttons-all
            .elements__button-top
              .elements__button-top-not-disabled
                +button({
                  type: 'background',
                  text: 'CLICK ME',
                  high: true,
                })
              .elements__button-top-disabled
                +button({
                  type: 'background',
                  text: 'CLICK ME',
                  disabled: true,
                  high: true,
                })
            .elements__button-center
              .elements__button-center-not-disabled
                +button({
                  type: 'border',
                  text: 'CLICK ME',
                })
              .elements__button-center-disabled
                +button({
                  type: 'border',
                  text: 'CLICK ME',
                  disabled: true,
                })
            .elements__button-empty
              .elements__button-empty-not-disabled
                +button({
                  type: 'empty',
                  text: 'CLICK ME',
                })
              .elements__button-empty-disabled
                +button({
                  type: 'empty',
                  text: 'CLICK ME',
                  disabled: true,
                })
            .elements__pay-button
              +button({
                text:'перейти к оплате',
                href: 'mock-address/change-me',
                type: 'long'
              })
          .elements__form-elements-set.elements__form-elements-set_margin_very-big
            .elements__title.elements__title_margin_middle pagination
            +pagination({
              items: 180,
              itemsOnPage: 12,
              displayedPages: 3,
            })
          .elements__form-elements-set.elements__form-elements-set_margin_big
            +form-elements-set({ title: 'dropdown'})
              +dropDown({
                list: [
                  { name: 'взрослые', val: 2 },
                  { name: 'дети', val: 1 },
                  { name: 'младенцы', val: 0 }
                ],
                appointment: 'guests',
                showFunction: true,
                keyPhrases: ['гость', 'гостя', 'гостей'],
              })
          .elements__form-elements-set
            +form-elements-set({ title: 'bullet list'})
              +room-rules({
                list: [
                  { txt: 'Нельзя с питомцами' },
                  { txt: 'Без вечеринок и мероприятий' },
                  { txt: 'Время прибытия — после 13:00, а выезд до 12:00' }
                ],
                title: ''
              })
      .elements__comment
        +user-reviews({ count: 11, src: 'assets/image/user-1.png' })
