@import '@variables';

.room-info {
  position: relative;
  max-width: 270px;
  max-height: 257.5px;
  font-size: $font-size-small;
  background: #fff;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: 0 10px 20px $color-shade-light;
  user-select: none;

  &__container {
    max-width: 270px;

    @media (max-width: 1100px) {
      max-width: 470px;
    }

    @media (max-width: 920px) {
      max-width: 420px;
    }

    @media (max-width: 840px) {
      max-width: 320px;
    }

    @media (max-width: 685px) {
      max-width: 270px;
    }

    @media (max-width: 590px) {
      max-width: 400px;
    }

    @media (max-width: 450px) {
      max-width: 320px;
    }

    @media (max-width: 350px) {
      max-width: 270px;
    }
  }

  &__photo {
    @media (max-width: 1100px) {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 11px;
    border-top: 1px solid #e8e8ec;
  }

  &__slider-rooms {
    width: 100%;
  }

  &__level {
    margin-top: 3px;
    margin-left: 8px;
    color: $color-purple;
    font-weight: bold;
    font-size: $font-size-small;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__link {
    max-height: 106px;
    border-radius: 0 0 4px 4px;
  }

  &__link-container {
    padding: 24px 16px 19px 20px;
  }

  &__head-room {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: $font-family-main;
    text-decoration: none;
  }

  &__number-room {
    margin-right: 8px;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: 18px;
  }

  &__price {
    color: #1f204180;
    font-weight: bold;
    font-size: $font-size-main;
    line-height: 18px;
  }

  &__price-day {
    font-weight: normal;
    font-size: $font-size-small;
  }

  &__star {
    height: 24px;
  }

  &__feedback {
    color: #1f204180;
    font-weight: bold;
    font-size: $font-size-main;
  }

  &__feedback-txt {
    font-weight: normal;
  }

  &_responsive {
    @media (max-width: 1100px) {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
