.room-info {
	width:270px;
	height:257px;
	margin:0 12px 12px 0;
	background: #FFF;
	background-repeat:no-repeat;
	box-shadow:0px 10px 20px $color-shade-ligth;
	border-radius:4px;
	position:relative;
	user-select:none;

	&__contianer {
		height:151px;
		width:270px;
	}

	&__contianer:hover > .move_arrow {
		opacity:1;
	}

	&__contianer .circle {
		width:7.5px;
		height:7.49px;
		border: 1px solid #FFFFFF;
		box-sizing: border-box;
		filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
		box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
		margin-right:3.75px;
		border-radius:50%;
	}

	&__contianer .circle:last-child {
		margin:0;
	}

	&__contianer .circle a {
		padding:0;
		margin:0;
	}

	&__rating {
		width:230px;
		height:32px;
		border-top:1px solid #E8E8EC;
		position:absolute;
		bottom:15px;
		right:20px;
		display:flex;
		justify-content:space-between;
		align-items: center;
		padding-top:8px;
	}

	&__rating ul {
		list-style:none;
		display:flex;
		margin:0;
		padding:0;
	}

	&__slider-rooms:hover > button.slick-prev.slick-arrow {
		opacity: 1;
		transition: .3s;
	}

	&__slider-rooms:hover > button.slick-next.slick-arrow {
		opacity: 1;
		transition: .3s;
	}

	&__slider-rooms {
		width: 100%;
		height: 100%;
	}

	&__level {
		color:$color-purple;
		text-transform:uppercase;
		line-height:15px;
		padding:0 30px 0 4px;
		font-weight:bold;
		margin-top:3px;
	}

	&__link {
		width: 100%;
		height: 100%;
		width: 100%;
		height: 105px;
		display: block;
		border-radius: 0 0 4px 4px;
	}
	
	&__head-room {
		height:24px;
		width:230px;
		display:flex;
		position:absolute;
		bottom:62px;
		right:20px;
		font-family:montserrat;
	}

	&__head-room p, h2, h3{
		margin:0;
		padding:0;
	}

	&__number-room {
		font-size: 18px;
		font-weight: bold;
		color: $color-shade-dark;
	}

	&__price {
		color: #1F204180;
		font-weight: bold;
	}

	&__price-day {
		font-weight: normal;
	}

	&__star {
		height: 24px;
	}

	&__feedback {
		color: #1F204180;
		font-weight: bold;
		font-size: $font-size-main;
		width: 90px;
	}

	&__feedback-txt {
		font-weight: normal;
	}
}

.br-selected {
	overflow:hidden;
	padding-right:22px;
	background-image:url(../../assets/image/star.svg);
	background-repeat:no-repeat;
}

.stars_border {
	width:20px;
	height:20px;
	padding-right:22px;
	background-image:url(../../assets/image/star_border.svg);
	background-repeat:no-repeat;
	cursor:pointer;
}

.search-room__rooms {
	display:flex;
	flex-wrap:wrap;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

button.slick-prev.slick-arrow {
	height: 151px;
	width: 42px;
	background:linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
	top: 50%;
	left: 0%;
	z-index: 10;
	opacity: 0;
	transition: .3s;
}

button.slick-next.slick-arrow {
	width: 42px;
	height: 151px;
	background:linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
	top: 50%;
	right: 0%;
	z-index: 10;
	opacity: 0;
	transition: .3s;
}

.slick-prev {
	border-radius: 4px 0 0 4px;
}

.slick-next {
	border-radius: 0 4px 4px 0;
}

button.slick-next.slick-arrow::before, button.slick-prev.slick-arrow::before {
	content: '';
	display: inline-block;
	height: 12px;
	width: 8px;
	font-size: 15px;
	background:url(../../assets/image/expand_more_left.svg);
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateX(-80%);
}

button.slick-next.slick-arrow::before {
	background:url(../../assets/image/expand_more_right.svg);
	transform: rotate(180deg);
	transform: translate(80%);
}

.slick-list {
	border-radius: 4px 4px 0 0;
}