@import '@variables';

.room-info {
  position: relative;
  width: 270px;
  height: 257px;
  font-size: $font-size-small;
  background: #fff;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: 0 10px 20px $color-shade-light;
  user-select: none;

  &__container {
    width: 270px;
    height: 151px;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    padding-top: 10px;
    border-top: 1px solid #e8e8ec;
  }

  &__slider-rooms:hover > button.slick-next.slick-arrow {
    opacity: 1;
    transition: 0.3s;
  }

  &__slider-rooms:hover > button.slick-prev.slick-arrow {
    opacity: 1;
    transition: 0.3s;
  }

  &__slider-rooms {
    width: 100%;
    height: 100%;
  }

  &__level {
    margin-top: 3px;
    margin-right: 25px;
    color: $color-purple;
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__link {
    border-radius: 0 0 4px 4px;
  }

  &__link-container {
    padding: 22px 16px 19px 20px;
  }

  &__head-room {
    display: flex;
    justify-content: space-between;
    font-family: $font-family-main;
    text-decoration: none;
    margin-bottom: 10px;
  }

  &__number-room {
    margin-right: 8px;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: 18px;
  }

  &__price {
    color: #1f204180;
    font-weight: bold;
    font-size: $font-size-main;
    line-height: 18px;
  }

  &__price-day {
    font-weight: normal;
    font-size: $font-size-small;
  }

  &__star {
    height: 24px;
  }

  &__feedback {
    color: #1f204180;
    font-weight: bold;
    font-size: $font-size-main;
  }

  &__feedback-txt {
    font-weight: normal;
  }
}
