@import '@variables';

.user-reviews {
	max-width:711px;
	color: $color-shade-secondary;
	font-size: $font-size-main;
	line-height:24px;
	margin-bottom: 22px;

	&:last-child {
		margin-bottom: 0;
	}

	&__day-comment {
		margin-bottom: 10px;
	}

	&__avatar-container {
		display: flex;
		flex-direction: column;
		margin-right: 15px;
		position: relative;
	}

	&__comment {
		display: flex;
		list-style:none;
		padding:0;

		& li {
			margin-bottom:12px;
		}
	}
	
	&__avatar {
		width:48px;
		height:48px;
		border:2px solid #FFFFFF;
		box-sizing:border-box;
		filter:drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
		border-radius:32px;
		border-radius:50%;
		margin-bottom: 12px;

		& span {
			margin-left:60px;
		}
	}

	&__username {
		font-weight:bold;
	}

	&__text-reviews {
		display:flex;
		flex-direction: column;
		position: relative;
		z-index: 3;
	}
}

@media all and (max-width: 1200px) {
    .user-reviews {
        margin: 10px;
    }
}