@import '@variables';

.user-reviews {
  max-width: 711px;
  margin-bottom: 25px;
  color: $color-shade-secondary;
  font-size: $font-size-main;
  line-height: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  &__day-comment {
    margin-bottom: 10px;
  }

  &__avatar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 8px;
  }

  &__comment {
    display: flex;
    padding: 0;
    list-style: none;
  }

  &__avatar {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin-bottom: 11px;
    border: 2px solid #fff;
    border-radius: 32px;
    border-radius: 50%;
    filter: drop-shadow(0 10px 20px rgb(31 32 65 / 10%));
  }

  &__username {
    font-weight: bold;
  }

  &__text-reviews {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }
}
