include ../button-like/button-like.pug

mixin user-reviews({ src="assets/image/user-1.png", count= 12, username= 'Мурад Сарафанов', dayComment= '5 дней назад', desc="Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", alt="Мурад Сарафанов" }={})
    .user-reviews
        .user-reviews__comment
            .user-reviews__avatar-container
                img.user-reviews__avatar(src= src alt= alt)
                .user-reviews__button-like
                    +button-like({ count: count })
            .user-reviews__text-reviews
                span.user-reviews__username= username 
                span.user-reviews__day-comment= dayComment
                span.user-reviews__text= desc