@import '@variables';

.room-order {
  width: 380px;
  font-size: $font-size-main;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);

  &__container {
    margin: 46px 30px 30px;

    @media (max-width: 375px) {
      margin: 15px;
    }
  }

  &__level {
    margin-left: 8px;
    color: $color-purple;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__price-day-title {
    margin-top: 5px;
    margin-left: 10px;
  }

  &__all-result-price-title {
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__number-container {
    font-weight: bold;
  }

  &__number-room-title {
    color: $color-shade-dark;
    font-size: $font-size-big;
  }

  &__in-day {
    color: $color-shade-grey;
    font-size: $font-size-small;
  }

  &__price-for-day {
    color: rgb(31 32 65 / 50%);
    font-weight: bold;
  }

  &__price-currency {
    color: rgb(31 32 65 / 50%);
    font-weight: bold;
  }

  &__number-num {
    margin-right: 2px;
    color: $color-shade-dark;
    font-size: $font-size-main;
  }

  &__number-level {
    margin-left: 8px;
    color: $color-purple;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__arrival {
    margin-bottom: 15px;

    @media (max-width: 793px) {
      flex-direction: column;
    }
  }

  &__container-arrival {
    position: relative;
    width: 150px;
    height: 64.4px;
    margin-right: 20px;
    transition: 0.3s;

    &::after {
      @media (max-width: 793px) {
        right: 0;
      }
    }

    @media (max-width: 793px) {
      width: 88%;
    }
  }

  &__guests {
    margin-bottom: 17px;
  }

  &__fees,
  &__full-price,
  &__additional-fees {
    display: flex;
    justify-content: space-between;
  }

  &__full-price {
    margin-bottom: 11px;
  }

  &__fees {
    margin-bottom: 10px;
  }

  &__additional-fees {
    margin-bottom: 28px;
  }

  &__currency-information,
  &__additional-fees-information {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    display: none;
    max-width: 160px;
    padding: 5px;
    color: $color-shade-secondary;
    font-weight: bold;
    font-size: $font-size-small;
    background-color: #c3c3c3;
    border: 1px dotted #000;
    border-radius: 4px;
  }

  &__additional-fees-title {
    position: relative;
    width: 214px;
    line-height: 19px;

    &::after {
      position: absolute;
      top: 0;
      right: -30px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url('./images/inform-price.svg');
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $color-shade;
      border-radius: 50%;
      cursor: pointer;
      content: '';

      &:hover {
        display: block;
      }

      @media (max-width: 380px) {
        right: 0;
      }
    }

    &:focus {
      border: none;
      outline: none;

      &::after {
        outline: 1px solid #000;
      }
    }
  }

  &__additional-fees-title:focus > &__additional-fees-information {
    display: block;
  }

  &__fees-container {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: -30px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url('./images/inform-price.svg');
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $color-shade;
      border-radius: 50%;
      cursor: pointer;
      content: '';
    }

    &:focus {
      border: none;
      outline: none;

      &::after {
        outline: 1px solid #000;

        @media (max-width: 380px) {
          right: -20px;
        }
      }
    }

    &:hover {
      &::after {
        display: block;
      }
    }
  }

  &__fees-container:focus > &__currency-information {
    display: block;
  }

  &__result-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__all-result-price-container {
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__all-result-price {
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__all-result-price-hr {
    width: 100%;
    border-bottom: 1px dotted $color-shade;
  }

  &__title-guest {
    color: $color-shade-dark;
    font-weight: bold;
  }

  @media (max-width: 380px) {
    width: 100%;
  }
}
