@import '@variables';

.room-order {
  width: 380px;
  font-size: $font-size-main;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);

  &__container {
    margin: 46px 30px 30px;
  }

  &__level {
    margin-left: 8px;
    color: $color-purple;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__price-day-title {
    margin-top: 5px;
    margin-left: 10px;
  }

  &__all-result-price-title {
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__number-container {
    font-weight: bold;
  }

  &__number-room-title {
    color: $color-shade-dark;
    font-size: $font-size-big;
  }

  &__in-day {
    color: $color-shade-grey;
    font-size: $font-size-small;
  }

  &__price-for-day {
    color: rgb(31 32 65 / 50%);
    font-weight: bold;
  }

  &__price-currency {
    color: rgb(31 32 65 / 50%);
    font-weight: bold;
  }

  &__number-num {
    margin-right: 2px;
    color: $color-shade-dark;
    font-size: $font-size-main;
  }

  &__number-level {
    margin-left: 8px;
    color: $color-purple;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__arrival {
    margin-bottom: 15px;
  }

  &__container-arrival {
    position: relative;
    width: 150px;
    height: 64.4px;
    margin-right: 20px;
    transition: 0.3s;
  }

  &__container-arrival input:hover {
    border-color: #8c8c92;
    transition: 0.3s;
  }

  &__container-arrival::after {
    position: absolute;
    top: 44px;
    right: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../../../assets/image/expand-more.svg');
    background-repeat: no-repeat;
    content: '';
    pointer-events: none;
  }

  &__guests {
    margin-bottom: 17px;
  }

  &__fees,
  &__full-price,
  &__additional-fees {
    display: flex;
    justify-content: space-between;
  }

  &__full-price {
    margin-bottom: 11px;
  }

  &__fees {
    margin-bottom: 10px;
  }

  &__additional-fees {
    margin-bottom: 28px;
  }

  &__additional-fees-title {
    position: relative;

    &:focus {
      outline: none;
      border: none;

      &::after {
        outline: 1px solid #000;
      }
    }
  }

  &__additional-fees-title:focus > &__additional-fees-information {
    display: block;
  }

  &__additional-fees-title:hover > &__additional-fees-information {
    display: block;
  }

  &__fees-container {
    position: relative;

    &:focus {
      outline: none;
      border: none;

      &:after {
        outline: 1px solid #000;
      }
    }
  }

  &__fees-container::after,
  &__additional-fees-title::after {
    position: absolute;
    top: 0;
    right: -30px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../../assets/image/inform-price.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $color-shade;
    border-radius: 50%;
    cursor: pointer;
    content: '';
  }

  &__fees-container:focus > &__currency-information {
    display: block;
  }

  &__fees-container:hover > &__currency-information {
    display: block;
  }

  &__additional-fees-title {
    width: 214px;
    line-height: 19px;
  }

  &__result-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__all-result-price-container {
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__all-result-price {
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__all-result-price-hr {
    width: 100%;
    border-bottom: 1px dotted $color-shade;
  }

  &__currency-information, &__additional-fees-information {
    position: absolute;
    border-radius: 4px;
    padding: 5px;
    top: 0;
    right: 0;
    display: none;
    max-width: 160px;
    border: 1px dotted #000;
    background-color: #C3C3C3;
    color: $color-shade-secondary;
    font-size: $font-size-small;
    font-weight: bold;
    z-index: 99;
  }

  &__title-guest {
    color: $color-shade-dark;
    font-weight: bold;
  }
}

@media all and (max-width: 793px) {
  .booking {
    width: 360px;
  }

  .room-order {
    &__arrival {
      flex-direction: column;

      & input {
        width: 100%;
      }
    }

    &__container-arrival {
      width: 88%;
    }

    &__container-arrival::after {
      right: 0;
    }
  }
}

@media all and (max-width: 360px) {
  .booking {
    width: 100%;

    & .container {
      width: 100%;
      margin: 10px 0 10px 10px;
    }
  }
}

@media all and (max-width: 375px) {
  .room-order {
    &__container {
      margin: 15px;
    }
  }
}

@media all and (max-width: 380px) {
  .room-order {
    width: 100%;

    &__fees-container::after {
      right: -20px;
    }

    &__additional-fees-title::after {
      right: 0;
    }
  }
}
