@import '@variables';

.range-date-calendar {
    display: flex;
    flex-direction: column;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__element {
        width: 150px;
    }

    &__title {
        text-transform: uppercase;
        font-size: $font-size-small;
        font-weight: bold;
        color: $color-shade-dark;
    }

    &__input {
        height: 44px;
        border: 1px solid rgba(31,32,65,0.25);
        padding-left: 15px;
        display: flex;
        align-items: center;
        color: rgba(31,32,65,0.75);
        border-radius: 4px;
        font-weight: normal;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    &__arrow {
        content: '';
        position: absolute;
        width: 12px;
        height: 9px;
        background-position: 4px 4px 0 0;
        background-repeat: no-repeat;
        right: 15px;
        top: 17px;
        background-image: url(../../assets/image/expand-more.svg);
    }

    &__placeholder {
        display: inline-block;
    }
}

@media all and (max-width:380px) {
    .range-date-calendar {
        &__list {
           flex-direction: column;
        }

        &__element {
            width: 100%;
        }
    }
}