include ../calendar/calendar.pug
include ../text-input/text-input.pug

mixin range-date-calendar({ titleFirst='Прибытие', titleSecond='Выезд', isOpen = false, range='true', lang, separator=' - ', format}={})
    .range-date-calendar.js-range-date-calendar(data-is-open= isOpen data-date-format= format)
        .range-date-calendar__list
            .range-date-calendar__element
                span.range-date-calendar__title= titleFirst
                .range-date-calendar__input.js-range-date-calendar__input
                    .range-date-calendar__masked-arrival.js-range-date-calendar__masked-arrival
                        +text-input({ isMasked: true, name: 'arrival' })
                    .range-date-calendar__container-arrow
                        .range-date-calendar__arrow
            .range-date-calendar__element
                span.range-date-calendar__title= titleSecond
                .range-date-calendar__input.js-range-date-calendar__input
                    .range-date-calendar__masked-departure.js-range-date-calendar__masked-departure
                        +text-input({ isMasked: true, name: 'departure' })
                    .range-date-calendar__container-arrow
                        .range-date-calendar__arrow
        .range-date-calendar__container-calendar
            .range-date-calendar__calendar.js-range-date-calendar__calendar
                +calendar
