include ../calendar/calendar.pug

mixin range-date-calendar({ titleFirst='Прибытие', titleSecond='Выезд', isOpen = false, placeholder='ДД.ММ.ГГГГ', range='true', lang, separator=' - ', format}={})
    .range-date-calendar.js-range-date-calendar(data-is-open= isOpen data-date-format= format)
        .range-date-calendar__list
            .range-date-calendar__element
                span.range-date-calendar__title= titleFirst
                .range-date-calendar__input.js-range-date-calendar__input
                    span.range-date-calendar__placeholder(data-mov="arrival")= placeholder
                    .range-date-calendar__arrow
            .range-date-calendar__element
                span.range-date-calendar__title= titleSecond
                .range-date-calendar__input.js-range-date-calendar__input
                    span.range-date-calendar__placeholder(data-mov="departure")= placeholder
                    .range-date-calendar__arrow
        .range-date-calendar__container-calendar
            .range-date-calendar__calendar.js-range-date-calendar__calendar
                +calendar
