input.datepicker-here(type="text" 
                      data-range="true" 
                      data-multiple-dates-separator=" - " 
                      data-language="ru" 
                      placeholder="ДД.ММ.ГГГГ")