@import '@variables';

.calendar-container {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  transform: translateY(5px);
  user-select: none;
  font-family: 'montserrat';

  &__hidden {
    display: none;
  }
}

.js-calendar-clear-btn {
  &_close {
    cursor: default;
    opacity: 0;
    pointer-events: none;
  }
}

.arrow-back-btn {
  width: 40px;
  height: 40px;
  background-image: url('./images/arrow-back.svg');
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}

.arrow-next-btn {
  width: 40px;
  height: 40px;
  background-image: url('./images/arrow-back.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  content: '';
}

.calendar {
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
    color: $color-purple;
    font-weight: bold;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__button {
    cursor: pointer;
  }
}
