.header-footer {
  padding: 140px 0;
  background-color: #e5e5e5;

  &__header {
    margin-bottom: 40px;
  }

  &__header-login {
    margin-bottom: 40px;
  }

  &__footer {
    margin-bottom: 40px;
  }

  &__footer-mobile {
    width: 768px;
  }
}
