body {
  background: #e5e5e5;
}

.header-footer {
  margin: 62px 0 140px;

  &__header {
    margin-bottom: 40px;
  }

  &__header-login {
    margin-bottom: 40px;
  }

  &__footer {
    margin-bottom: 40px;
  }

  &__footer-mobile {
    width: 768px;
  }
}
