@import '@variables';

.nav-burger {
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;

  &__menu-burger {
    display: none;
    margin-top: 60px;
    padding: 0;
    list-style: none;
    user-select: none;

    &_open {
      display: block;
    }
  }

  &__link {
    width: 100%;
    color: $color-shade-grey;
    text-decoration: none;
    background: #fff;

    &:first-child {
      border-radius: 0 0 4px 4px;
    }

    &:last-child {
      border-radius: 4px 4px 0 0;
    }
  }

  &__item {
    position: relative;
    right: 260px;
    z-index: 99;
    display: flex;
    flex-direction: row;
    width: 310px;
    margin: 0;
    padding: 10px 0 10px 15px;
    font-size: 16px;
    background: #fff;
    border-bottom: 1px solid #e8e8ec;
    box-shadow: 0 -2px 4px 0 #e8e8ec;
  }

  &__border-1 {
    position: absolute;
    top: 4px;
    left: 0;
    width: 50px;
    height: 8px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
  }

  &__border-2 {
    position: absolute;
    top: 21px;
    width: 50px;
    height: 8px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
  }

  &__border-3 {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 50px;
    height: 8px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
  }

  @media (max-width: 1200px) {
    display: block;
    margin-right: 15px;
  }
}
