@import '@variables';

.nav-burger {
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;

  &__menu-burger {
    display: none;
    margin-top: 50px;
    padding: 0;
    padding-left: -20px;
    list-style: none;
    user-select: none;

    & a {
      background: #fff;
    }
  }
  
  &__li-burger {
    position: relative;
    right: 260px;
    z-index: 99;
    display: flex;
    flex-direction: row;
    width: 320px;
    margin: 0;
    padding: 6px 0 8px 7px;
    font-size: 16px;
    background: #fff;
    border-bottom: 1px solid #e8e8ec;
    box-shadow: 0 -2px 4px 0 #e8e8ec;

    & a:first-child {
      border-radius: 0 0 4px 4px;
    }

    & a:last-child {
      border-radius: 4px 4px 0 0;
    }
  }

  &__link {
    width: 100%;
    color: $color-shade-grey;
    text-decoration: none;
  }

  .js-nav-burger_open {
    display: block;
  }

  &__border-1 {
    position: absolute;
    top: 4px;
    left: 0;
    width: 50px;
    height: 8px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }

  &__border-2 {
    position: absolute;
    top: 21px;
    width: 50px;
    height: 8px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
  }

  &__border-3 {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 50px;
    height: 8px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
  }
}

@media all and (max-width: 1200px) {
  .nav-burger {
    display: block;
    margin-right: 15px;
  }
}
