mixin nav-burger({ navLinks = [] }={})
  .nav-burger.js-nav-burger
    button.nav-burger__line_top-position(type="button")
    button.nav-burger__line_center-position(type="button")
    button.nav-burger__line_bottom-position(type="button")
    ul.nav-burger__menu-burger.js-menu-burger
      each item in navLinks
        li.nav-burger__item
          a.nav-burger__link(href=item.link)= item.title
