@import '@variables';

.nav-burger {
  position: relative;
  display: none;
  width: 50px;
  height: 40px;
  cursor: pointer;

  &__menu-burger {
    position: absolute;
    top: 60px;
    right: -8px;
    z-index: 999;
    display: none;
    width: 310px;
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;

    &_open {
      display: block;
    }
  }

  &__link {
    width: 100%;
    color: $color-shade-grey;
    text-decoration: none;
    background: #fff;

    &:first-child {
      border-radius: 0 0 4px 4px;
    }

    &:last-child {
      border-radius: 4px 4px 0 0;
    }
  }

  &__arrow {
    margin-left: 10px;
  }

  &__submenu {
    display: none;
    padding: 0;
    margin-top: 10px;
    list-style: none;

    &_open {
      display: block;
    }
  }

  &__submenu-item {
    box-shadow: 1px 1px 4px #808080;
    padding: 7px;
    margin-right: 10px;
    color: $color-shade-grey;
  }

  &__sub-list {
    display: flex;
    align-items: center;
    color: $color-shade-grey;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 15px;
    font-size: 16px;
    background: #fff;
    border-bottom: 1px solid #e8e8ec;
    box-shadow: 0 -2px 4px 0 #e8e8ec;
  }

  &__button-menu {
    width: 50px;
    height: 8px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border: none;
    outline: none;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 8px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      content: '';
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 8px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      content: '';
    }
  }

  @media (max-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
