mixin nav-burger({ navLinks = [] }={})
    div.nav-burger.burger_menu_active.js-nav-burger
        button.nav-burger__border-1
        button.nav-burger__border-2
        button.nav-burger__border-3
        ul.nav-burger__menu-burger.js-nav-burger__menu-burger
            each item in navLinks
                li.nav-burger__li-burger
                    a(href= item.link).nav-burger__link= item.title