mixin nav-burger({ navLinks = [] }={})
    div.nav-burger.burger.burger_menu_active
        button.nav-burger__border1.border
        button.nav-burger__border2.border
        button.nav-burger__border3.border
        ul.menu_burger
            each item in navLinks
                li.li_burger
                    a(href= item.link).nav-burger__link= item.title