mixin nav-burger({ navLinks = [] }={})
    div.nav-burger.burger.burger_menu_active
        button.border1.border
        button.border2.border
        button.border3.border
        ul.menu_burger
            each item in navLinks
                a(href= item.link)
                    li.li_burger= item.title