<!DOCTYPE html>
<html>
<head>
	<link href="style.css" rel="stylesheet">
	<link href="roomDetails.css" rel="stylesheet">
	<meta charset="URF-8">
	<link rel="stylesheet" href="fontawesome.min.css">
	<!-- <script type="text/javascript" src="awesome/fontawesome.min.js"></script> -->
	<!-- <script src="https://kit.fontawesome.com/bc390f5649.js" crossorigin="anonymous"></script> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="image/Logo.png" type="image/png">
	<title>«Toxin» | Номер для вас</title>
</head>
<body>
<nav class="header">
	<a href="index.html">
		<div class="logo">
			<img src="image/Logo.svg" width="106px" height="40px">
		</div>
	</a>
<div class="right_Part_Header">
	<!-- список в navbar -->
		<div class="list">	
		<ul class="menu_list">
	
			<li><a href="#">О нас</a></li>
				<li>
					<a href="#" class="arrow_list_li" id="arrow_li_left">
					Услуги
					</a>
		   	   </li>
				<li>
					<a href="#">
						Вакансии
					</a>
				</li>
				<li>
					<a href="#">
						Новости
					</a>
				</li>
				<li>
					<a href="#" class="arrow_list_li">Соглашения</a>
				</li>	
		</ul>
	</div>
	<!-- панель входа и регистрации -->
	<div class="logup">
		<a href="login.html">
			<div class="login">
				<p>Войти</p>
			</div>
		</a>
		<a href="Registration.html">
			<div class="registration">
				<p>Зарегистрироваться</p>
			</div>
		</a>
	</div>
</div>

<div class="burger">
	<button class="border1 border"></button>
	<button class="border2 border"></button>
	<button class="border3 border"></button>

	<ul class="menu_burger">
		<a href="index.html"><li class="li_burger li_burger1">Главная</li></a>
		<a href="#"><li class="li_burger li_burger1">О нас</li></a>
		<a href="#"><li class="li_burger">Услуги</li></a>
		<a href="#"><li class="li_burger">Вакансии</li></a>
		<a href="#"><li class="li_burger">Новости</li></a>
		<a href="#"><li class="li_burger">Соглашения</li></a>
		<a href="login.html">
			<li class="li_burger">
			<b>Войти</b>
			</li>
		</a>
		<a href="Registration.html">
			<li class="li_burger li_burger7">
				<b>Регистрация</b>
			</li>
		</a>
	</ul>
</div>
</nav>
<!-- Основной контент -->
<div class="content_room_details">
	<div class="container_room_loop">
		<div class="room_loop1"></div>
		<div class=".room_loop_head">
			<div class="room_loop2"></div>
			<div class="room_loop3"></div>
		</div>
	</div>

	<div class="expend_details_room">
		<div class="container_expend_details_room">
			<div class="container_expend_details">
				<div class="room_information">
					<h2>Сведения о номере</h2>
					<ul class="ul_room">
						<li id = "li_room1">
							<p><b >Комфорт</b></p>
							<p>Шумопоглощающие стены</p>
						</li>
						<hr>
						<li id = "li_room2">
							<p><b>Удобство</b></p>
							<p>Окно в каждой из спален</p>
						</li>
						<hr>
						<li id = "li_room3">
							<p><b>Уют</b></p>
							<p>Номер оснащён камином</p>
						</li>
					</ul>
				</div>
				<!-- Впечатления от номера -->
				<div class="impressions_room">
					<h2>Впечатления от номера</h2>
					<div class="container_impressions">
							<div class="rating_impressions">
								<p>260</p>
								<p>Голосов</p>
							</div>
						<div class="impressions_list">
							<ul class="ul_impressions">
								<li id="li_impressions1">Великолепно</li>
								<li id="li_impressions2">Хорошо</li>
								<li id="li_impressions3">Удовлетворительно</li>
								<li id="li_impressions4">Разочарован</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Подробные отзывы посетителей -->
			<div class="user_reviews">
				<h2>Отзывы посетителей номера</h2>
				<span class="otziv">2 отзыва</span>
					<ul class="ul_reviews">
						<li class="avatars avatar_1">
							<span class="head">Мурад Сарафанов</span>
							<span>5 дней назад</span>
						</li>
						<li class="text_reviews_1 text_reviews">
							<div class="heart heart_1">
							<div class="fa_heart"></div>
								<span>12</span>
							</div>
							<span>Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.</span>
						</li>
						<li class="avatars avatar_2">
							<span class="head">Патрисия Стёклышкова</span>
							<span>Неделю назад</span>
						</li>
						<li class="text_reviews_2 text_reviews">
							<div class="heart heart_2">
								<div class="fa_heart fa_heart2"></div>
								<span id="span_heart">2</span>
							</div>
							<span>Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент</span>
						</li>
					</ul>
			</div>
			<!-- Правила номера и отмена -->
			<div class="order_rooms">
				<div class="container">
					<div class="order">
						<h2>Правила</h2>
						<ul class="ul_order">
							<li class="li_order1">Нельзя с питомцами</li>
							<li class="li_order2">Без вечеринок и мероприятий
							</li>
							<li class="li_order3">
								<span>Время прибытия — после 13:00,<span>а выезд до 12:00</span></span>
							</li>
						</ul>
					</div>
					<div class="cancel">
						<h2 style="margin-bottom:19px;">Отмена</h2>
						<p style="margin-top:0; color:rgba(31,32,65,0.75);">Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.</p>
					</div>
				</div>
			</div>
			<!-- Бронирование -->
			<div class="booking">
				<div class="container">
					<div class="head">
						<h2>№ 888<span>люкс</span></h2>
						<p>9 990₽ в сутки</p>
					</div>
					<div class="booking_arrival">
						<div class="container_arrival">
							<h2>прибытие</h2>
							<div class="date_arrival">
							ДД.ММ.ГГГГ
							<div class="arrow">
							</div>
							<div class="calendar_main hide">
								<div class="calendar hide">
									<div class="container">
									<div class="month">
										<h2>Август 2020</h2></div>
										<div class="date">
											<div class="day">Пн</div>
											<div class="day">Вт</div>
											<div class="day">Ср</div>
											<div class="day">Чт</div>
											<div class="day">Пт</div>
											<div class="day">Сб</div>
											<div class="day">Вс</div>
											<div class="number">29</div>
											<div class="number">30</div>
											<div class="number">31</div>
											<div class="number">1</div>
											<div class="number">2</div>
											<div class="number">3</div>
											<div class="number">4</div>
											<div class="number">5</div>
											<div class="number">6</div>
											<div class="number">7</div>
											<div class="number">8</div>
											<div class="number">9</div>
											<div class="number">10</div>
											<div class="number">11</div>
											<div class="number">12</div>
											<div class="number">13</div>
											<div class="number">14</div>
											<div class="number">15</div>
											<div class="number">16</div>
											<div class="number">17</div>
											<div class="number">18</div>
											<div class="number">19</div>
											<div class="number">20</div>
											<div class="number">21</div>
											<div class="number">22</div>
											<div class="number">23</div>
											<div class="number">24</div>
											<div class="number">25</div>
											<div class="number">26</div>
											<div class="number">27</div>
											<div class="number">28</div>
											<div class="number">29</div>
											<div class="number">30</div>
											<div class="number">31</div>
											<div class="number">1</div>
										</div>
										<div class="function">
											<div class="clear">Очистить</div>
											<div class="apply">Применить</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
						<div class="container_departure">
							<h2>выезд</h2>
							<div class="date_departure">
							ДД.ММ.ГГГГ
							<!-- <input class="departure_input" placeholder="ДД.ММ.ГГГГ" autocomplete="off" readonly=""> -->
							<div class="arrow">
							</div>
							<div class="calendar_main hide" style="left:-184px;">
								<div class="calendar">
									<div class="container">
									<div class="month">
										<h2>Август 2020</h2></div>
										<div class="date">
											<div class="day">Пн</div>
											<div class="day">Вт</div>
											<div class="day">Ср</div>
											<div class="day">Чт</div>
											<div class="day">Пт</div>
											<div class="day">Сб</div>
											<div class="day">Вс</div>
											<div class="number">29</div>
											<div class="number">30</div>
											<div class="number">31</div>
											<div class="number">1</div>
											<div class="number">2</div>
											<div class="number">3</div>
											<div class="number">4</div>
											<div class="number">5</div>
											<div class="number">6</div>
											<div class="number">7</div>
											<div class="number">8</div>
											<div class="number">9</div>
											<div class="number">10</div>
											<div class="number">11</div>
											<div class="number">12</div>
											<div class="number">13</div>
											<div class="number">14</div>
											<div class="number">15</div>
											<div class="number">16</div>
											<div class="number">17</div>
											<div class="number">18</div>
											<div class="number">19</div>
											<div class="number">20</div>
											<div class="number">21</div>
											<div class="number">22</div>
											<div class="number">23</div>
											<div class="number">24</div>
											<div class="number">25</div>
											<div class="number">26</div>
											<div class="number">27</div>
											<div class="number">28</div>
											<div class="number">29</div>
											<div class="number">30</div>
											<div class="number">31</div>
											<div class="number">1</div>
										</div>
										<div class="function">
											<div class="clear">Очистить</div>
											<div class="apply">Применить</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
						<!-- <input class="guests_input" placeholder="3 гостя" autocomplete="off" readonly=""> -->
					<div class="booking_guests">
						<h2>гости</h2>
						<div class="guests">
							<input placeholder="Сколько Гостей" autocomplete="off" readonly="" class="counte_guests">
						<div class="arrow"></div>
						</div>
						<div class="dropBlock hide">
							<div class="drop_block_item">
								<div class="drop_block_row">
									<span class="dropItem" id="dropItem1">Взрослые</span>
									<button class="circle_drop_item circle_drop_minus1">
										-
									</button>
										<input type="text" id="counter1" value="0">
									<button class="circle_drop_item circle_drop_plus1">
										+
									</button>
								</div>
								<div class="drop_block_row">
									<span class="dropItem" id="dropItem2">Дети</span>
									<button class="circle_drop_item circle_drop_minus2">
										-
									</button>
										<input id="counter2" value="0">
									<button class="circle_drop_item circle_drop_plus2">
										+
									</button>
								</div>
								<div class="drop_block_row">
									<span class="dropItem" id="dropItem3">Младенцы</span>
									<button class="circle_drop_item circle_drop_minus3">
										-
									</button>
										<input id="counter3" value="0">
									<button class="circle_drop_item circle_drop_plus3">
										+
									</button>
								</div>
								<div class="drop_function">
									<button id = "clear" class="link_drop_function">ОЧИСТИТЬ</button>
									<button class="link_drop_function" id = "apply">ПРИМЕНИТЬ</button>
								</div>
							</div>
						</div>
					</div>

					<div class="booking_price">
						<div class="container_block1">
							<span>9 990₽ х 4 суток</span>
							<span>39 960₽</span>
						</div>
						<div class="container_block2">
							<span class="span_container">Сбор за услуги: скидка 2 179₽</span>
							<span>0₽</span>
						</div>
						<div class="container_block3">
								<span style="width:214px;" class="span_container">
									Сбор за дополнительные услуги.
								</span>
								<span>300₽</span>
						</div>

					</div>
					<div class="result">
						<h2>Итого</h2>
						<h2>38 081₽</h2>
					</div>
					<a href="login.html">
						<div class="to_book">
							<p>забронировать</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- Футер -->
<footer class="footer">
	<div class="footer_list">
		<div class="block1">
			<img src="image/Logo.svg" width="100px" height="40px">
			<div class="text_block1_f"><p>Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»</p>
			</div>
		</div>
		<div class="block2">
			<h3>навигация</h3>
			<ul class="ul_block2">
				<li>О нас</li>
				<li>Новости</li>
				<li>Служба поддержки</li>
				<li>Услуги</li>
			</ul>
		</div>
		<div class="block3">
			<h3>о нас</h3>
			<ul class="ul_block3">
				<li>О сервисе</li>
				<li>Наша команда</li>
				<li>Вакансии</li>
				<li>Инвесторы</li>
			</ul>
		</div>
		<div class="block4">
			<h3>Служба поддержки</h3>
			<ul class="ul_block4">
				<li>Соглашения</li>
				<li>Сообщества</li>
				<li>Связь с нами</li>
			</ul>
		</div>
		<div class="block5">
			<h3>Подписка</h3>
			<p>Получайте специальные предложения и новости сервиса</p>
			<div class="email">
				<input placeholder="Email"></input>
			</div>
		</div>
	</div>
</footer>

<div class="footer_sub">
	<div class="footer_sub_container">
		<p style="margin:0;">Copyright © 2018 Toxin отель. Все правазачищены.</p>
		<div class="sub_icons">
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-facebook-square"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
		</div>
	</div>
</div>


<script src="js/like.js"></script>
<script src="js/menu.js"></script> 
<script src="js/close.js"></script>
<script src="js/click.js"></script>
<script src="js/close_calendare.js"></script>
</body>
</html>