.logotype {
  height: 40px;

  &__icon-image {
    width: 106px;
    height: 40px;
    background-image: url('./images/logotype.svg');
  }

  @media (max-width: 1200px) {
    margin-left: 10px;
  }
}
