mixin logotype()
  a.logotype(href="./index.html" style="height:40px;")
      img(class="logotype__icon-image" 
          src="assets/image/logotype.svg" 
          alt="logo-icon" 
          width="106" 
          height="40")