mixin logotype()
  a(href="/mock-address/change-me")
      img(class="logotype__icon-image" 
          src="assets/image/Logo.svg" 
          alt="logo-icon" 
          width="106" 
          height="40")