@import '@variables';

.footer {
  font-size: $font-size-main;
  background-color: #fff;
  border-top: 1px solid $color-shade-light;

  &__container {
    max-width: 1160px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 1px 0 rgb(31 32 65 / 10%);
    user-select: none;

    @media (max-width: 1200px) {
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__sub-links {
    padding-left: 20px;

    &:hover {
      opacity: 0.5;
    }

    &:first-child {
      padding: 0;
    }

    @media (max-width: 1200px) {
      padding-left: 0;
    }
  }

  &__sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    height: 70px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      padding: 0 15px;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__sub-copyright {
    margin: 0;

    @media (max-width: 768px) {
      margin-bottom: 25px;
      text-align: center;
    }
  }

  &__sub-icons {
    width: 108px;
    margin-top: 7px;
    text-align: center;

    @media (max-width: 1200px) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__sub-container {
    width: 100%;
    margin: 0 auto;
    color: $color-shade-secondary;
    background: #fff;
    border-top: 1px solid #e5e5e5;
    box-shadow: none;

    @media (max-width: 1200px) {
      display: flex;
      justify-content: space-around;
      border: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 100px 0 88px;
    line-height: 15px;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__item {
    width: 150px;
    margin-top: 23px;
    white-space: nowrap;
    text-align: left;

    &:first-child {
      margin-top: 11px;
    }
  }

  &__navigation {
    width: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__description-container {
    width: 260px;
    height: 72px;
    margin-top: 15px;
    line-height: 24px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__description-special-title {
    margin-top: 15px;
    color: $color-shade-secondary;
    line-height: 24px;
  }

  &__description-email {
    width: 260px;
    margin-top: 21px;
  }

  &__description {
    width: 260px;
    margin-top: 4px;
    margin-bottom: 10px;
    color: $color-shade-secondary;

    @media (max-width: 1200px) {
      margin-top: 50px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__description-title {
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__about-company {
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      margin-bottom: 50px;
    }
  }

  & .fa-twitter {
    width: 24px;
    height: 24px;
  }

  @media (max-width: 768px) {
    padding: 100px 0;
  }
}
