extends ../template-head/main_index.pug

block header
    include ../blocks/header/header.pug
    +header
    
block content
    include ../blocks/filter/filter.pug
            
block footer
    include ../blocks/footer/footer.pug
