extends ../template-head/main_index.pug
include ../blocks/calendar/calendar.pug
include ../blocks/filter/filter.pug

block variables
    - pageTitle = 'Главная «Toxin» | Отели'

block content
    +filter({
        title:'Найдём номера под ваши пожелания',
        buttonOptions: {
            href:'searchRoom.html',
            type:'long',
            text:'Подобрать номер'
        },
        dropDownOptions: {
            isOpen: false,
            list: [
              { name: 'взрослые', val: 0 },
              { name: 'дети', val: 0 },
              { name: 'младенцы', val: 0 }
            ],
            appointment: 'guests',
            showFunction: true,
        },
    })