body {
	font-family:'Montserrat',sans-serif;
	margin:0;
	padding:0;
	font-size:14px;
	color: rgba(31,32,65,.75);
}

h3 {
    color: #1F2041;
    font-size: 12px;
    line-height: 15px;
	margin: 0;
}

a {
	text-decoration:none;
	cursor:pointer;
	color: rgba(31,32,65,0.75);
}

input:active, input:focus {
	outline:none;
}

button {
	border:none;
	outline:none;
}

/*Инпуты*/
.input_favorite {
	height:44px;
	width:320px;
	border:1px solid rgba(31, 32, 65, 0.25);
	box-sizing:border-box;
	border-radius:4px;
	margin-bottom:10px;
	padding-left:15px;
	cursor:pointer;
}

.input_favorite:hover {
	border-color:#6F6F74;
}

.input_favorite:focus {
	color:rgba(31, 32, 65, 0.75);
}
/*верхушка сайта*/
.header {
	height:70px;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	display:flex;
	justify-content:space-around;
	align-items:center;
	background: #FFFFFF;
}

/*Бургер*/
.burger {
	width:50px;
	height:50px;
	display:none;
	z-index:1;
	position:relative;
}
.border1 {
	height:8px;
	width:50px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	position:absolute;
	top:4px;
	left:0;
	transition:0.2s;
}
.border2 {
	position:absolute;
	width:50px;
	height:8px;
	top:21px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	transition:0.2s;
}

.border3 {
	height:8px;
	width:50px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	position:absolute;
	bottom:4px;
	left:0;
	transition:0.2s;
}


.menu_burger {
	list-style:none;
	padding:0;
	margin-top:50px;
	padding-left:-20px;
	display:none;
	user-select:none;
}

.arrow_list_li {
	position: relative;
}

.arrow_list_li:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 5px;
	right: -18px;
	width: 12px;
	height: 8px;
	background-image: url(../assets/image/expand_more.svg);
}

#arrow_li_left {
	margin-right: 18px;
}

.li_burger {
	padding:6px 0px 8px 7px;
	font-size:16px;
	margin:0;
	display:flex;
	flex-direction:row;
	width:320px;
	position:relative;
	right:278px;
	background:#fff;
	border-bottom:1px solid #E8E8EC;	
	box-shadow:0px -2px 4px 0px #E8E8EC;
}

.li_burger a:first-child {
	border-radius:0 0 4px 4px;
}

.li_burger a:last-child {
	border-radius:4px 4px 0 0;
}

.menu_burger a {
	background:#fff;
}

/*Появление бургера*/
.burger:hover > .menu_burger{
	display:block;
}

.burger:hover > .border2{
	opacity:0;
	transition:0.2s;
}

.burger:hover > .border1{
	transform:rotate(45deg);
	top:20px;
	transition:0.2s;
}

.burger:hover > .border3{
	transform:rotate(-45deg);
	bottom:22px;
	transition:0.2s;
}

.burger:hover > .border {
	animation:lir 2s infinite;
}

.list ul {
	display:flex;
	font-weight:400;
	list-style:normal;
	font-size:14px;
	line-height:17,07px;
	color:rgba(31, 32, 65, 0.5);
	height:35px;
	align-items: center;
	margin-right: 44px;
}

.list li {
	list-style:none;
	cursor:pointer;
	padding-left: 24px;
}

.list a {
	color: rgba(31, 32, 65, 0.5);
}


.list ul li a {
	display:block;
	background:white;
}

.list ul ul {
	display:none;
	position:absolute;
	padding:25px 35px 0 0;
	text-align: center;
}

.button:hover {
	opacity: 0.8;
}

.list ul li ul li {
	border:1px solid grey;
	background:white;
	width:100%;
	height:100%;
	border-radius: 5px;
	font-size: 16px;
}

.list ul li:hover ul {
	display:block;
}

.list ul li a:hover{
	color: rgba(31, 32, 65, 0.75);
}

.menu_list {
	margin:0;
	padding:0;
	height:70px;
}


/*панель входа и список*/
.rightPartHeader{
	display:flex;
	justify-content:space-around;
	height:35px;
	align-items: center;
	text-align: center;
}
/* 
.header img {
	padding-left:10px;
} */


/*панель входа и регистрации*/
.logup {
	display:flex;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	line-height:15px;
	text-align:center;
}

.logup .login .button a {
	color:#BC9CFF;
	padding: 7px 20px;
	border:3px solid #BC9CFF;
	border-radius:22px;
}

.logup .login:hover {
	opacity: 0.5;
}


.logup .login a{
	color:#BC9CFF;
}

.logup .registration a {
	padding: 7px 20px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color:#fff;
	border-radius:22px;
	margin-left:20px;
	border:3px solid transparent;
}

.logup .registration a {
	color:#fff;
}

.logup .registration:hover {
	opacity: 0.5;
}


.logup p {
	padding:0;
	margin:7px 0;
}

/*блок контента*/
.content {
	height:1022px;
	background-image:url(../assets/image/content.jpg);
	background-repeat:no-repeat;
}

/*блок в контенте с временем выезда и прибытия*/
.content .search_room {
	height:374px;
	width:380px;
	background:#fff;
	color:#1F2041;
	position:absolute;
	left:180px;
	top:140px;
	font-weight:bold;
	font-style:normal;
	font-family:Montserrat,sans-serif;
	padding:40px 30px 30px 30px;
	border:1px solid rgba(0, 0, 0, 0.12);
	box-sizing:border-box;
	box-shadow:0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius:4px;
	display:flex;
	flex-direction:column;
}

.content .search_room h1 {
	font-size: 24px;
	margin:0;
}

.content .search_room p {
	margin-bottom: 5.44px;
}


.content_page {
	width:297px; 
	height:48px;
	position:absolute;
	text-align:right;
	bottom:-310px;
	right:175px;
	line-height:24px;
	color:rgba(31, 32, 65, 0.75);
}

.residence {
	font-family:Montserrat;
	font-size:13px;
	font-style:normal;
	font-weight:700;
	line-height:15px;
	letter-spacing:0em;
	text-align:left;
	text-transform:uppercase;
}

/*Календарь*/
.datepicker-left {
	z-index:3;
	position:absolute;
	top: 2px;
	left: 0;
}

.calendar {
	width:320px;
	height:389px;
	box-sizing:border-box;
	background:#fff;
	padding:20px 0 20px 25px;
	border:1px solid rgba(31, 32, 65, 0.25);
	border-radius:4px;
	font-size:12px;
	line-height:15px;
	box-shadow:0px 10px 20px rgba(31, 32, 65, 0.05);
	margin-top: 50px;
}

.text-field-calendar {
	width: 100%;
}

.text-field-calendar:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 18px;
	right: 15px;
	width: 12px;
	height: 8px;
	background-image: url(../assets/image/expand_more.svg);
	z-index: 5;
	pointer-events: none;
}

.search_room .text-field-calendar .datepicker-here {
	width: 120px;
	padding: 12px 12px 8.44px 15px;
}

input.datepicker {
	user-select: none;
}

.search_room .datepicker {
	width: 320px;
}

.search_room .date_departure {
	width: 150px;
}

#dateCalendare {
	position: absolute;
	z-index: 4;
	width: 270px;
	left:0;
	border: 1px solid #000;
	opacity: 0;

}

.calendar h2 {
	margin:0 0 30px 0;
	color:#000;
	text-transform:capitalize;
}

.calendar h2:after {
	content:'';
	width:23px;
	height:24px;
	display:inline-block;
	position:absolute;
	top:18px;
	right:20px;
	background-image:url(../assets/image/arrow_forward.svg);
	background-position:center;
	background-repeat:no-repeat;
}

.calendar h2:before {
	content:'';
	width:23px;
	height:24px;
	display:inline-block;
	position:absolute;
	top:18px;
	left:20px;
	background-image:url(../assets/image/arrow_back.svg);
	background-position:center;
	background-repeat:no-repeat;
}

/*Сделать блок в виде таблицы*/
.calendar .container {
	width:260px;
	height:280px;
}
.calendar .container .date {
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(25px, 1fr));
	grid-gap:10px;
	box-sizing:border-box;
	text-transform:capitalize;
}

.calendar .container .date div {
	display:flex;
	justify-content:center;
	align-items:center;
	color:green;
}

.calendar .container .date div.day {
	font-weight:bold;
	color:#BC9CFF;
	padding-left:10px;
}


/*Месяц*/
.month {
	font-weight:bold;
	text-align:center;
}

/*Числа*/
.calendar .container .date .number {
	color:#8F8FA0;
	height:40px;
	width:40px;
}

/*функции календаря*/
.calendar .container .function {
	width:280px;
	height:15px;
	display:flex;
	justify-content:space-between;
	color:#BC9CFF;
	font-weight:bold;
	margin-top:20px;
}

/*Выпадение календаря*/
.calendar_main:hover {
	display:block;
}
.calendar .container .date .number:hover {
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border-radius:22px;
	color:white;
	font-weight:bold;
}


.block_date {
	display:flex;
	justify-content:space-around;
	text-align:left;
	flex-wrap:wrap;
	margin:0;
	padding:0;
	color:rgba(31, 32, 65, 0.75);
}

.block_date p {
	margin-top: 21.7px;
	font-size: 12px;
}

.block_date h3 {
	margin-top: 21.7px;
	font-size: 12px;
}

.drop_block_row h3 {
    padding: 15px 0 0 15px;
	margin: 0
}

.search_room .residence input {
	cursor:pointer;
	border:none;
	border-radius:3px;
}

.search_room .residence .guests p{
	padding:10px;
	color: rgba(31, 32, 65, 0.75);
}

/*выпадающее меню счетчик*/
.dropBlock {
	height:159px; 
}

.dropBlock input {
	border:none !important;
}

.dropBlock .drop_block_item {
	border:1px solid rgba(31, 32, 65, 0.5);
	box-sizing:border-box;
	box-shadow:0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius:4px;
	background:white;
	border-top:none;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	height:159px;
	cursor:default;
	font-size: 12px !important;
	line-height: 15px;
}

.dropBlock .drop_block_item span {
	padding:15px 0 0 15px;
	font-weight:bold;
	font-size:13px;
	user-select:none;
}


/*Выравнивание кругов счетчика и названий*/

.dropBlock .drop_block_row {
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
	font-size: 12px;
	width: 100%;
	height: 38px;
	text-transform: uppercase;
}


/*Выравнивание кругов*/
.dropBlock .circle_drop_item {
	border:1px solid;
	box-sizing:border-box;
	border-radius:22px;
	width:30px;
	height:30px;
	margin:7px 10px 0 0px;
	font-size:16px;
	text-align:center;
	cursor:pointer;
	background:white;
	transition:0.1s;
}

.dropBlock .circle_drop_minus {
	color:rgba(31, 32, 65, 0.25);
	border-color:rgba(31, 32, 65, 0.25);
}

.circle_opacity {
	opacity:1;
}

.dropBlock .circle_drop_plus {
	margin-right:0;
	margin-left:4px;
	border-color:#9393A3;
}

/*анимация кнопки по нажатию плюса и минуса*/
.dropBlock .circle_drop_item:active{
	color:white;
	border-color:white;
	background:#C8AEFF;
	transition:0.1s;
	font-weight:bold;
}

.link_drop_function {
	border:none;
	background-color:#fff;
	color:#BC9CFF;
	font-weight:bold;
	cursor:pointer;
}

.dropBlock .circle_drop_item {
	opacity:0.5;
}


#counter {
	padding-top:12px;
	margin:0;
}

/*функции dropItem*/
.dropBlock .drop_function {
	display:flex;
	justify-content:space-between;
	padding:10px 7px 13px 10px;
	font-weight:bold;
	color:#1F2041;
	width: 95%;
}

.dropBlock .drop_function button {
	font-size: 12px;
}

.dropBlock .drop_block_item .drop_block_row input {
	margin:0;
	padding:0;
	margin-top:15px;
	width:15px;
	height:12px;
}

#clear {
	display:block;
}

.guests {
	cursor:pointer;
}

.search_room .guests .dropBlock {
	position:absolute;
	z-index:0;
}

.hide {
	display:none;
}

/*блоки с прибытием отправкой и гостями */
.date_arrival, .date_departure  {
	height:44px;
	width:150px;
	background:#FFFFFF;
	border:1px solid rgba(31, 32, 65, 0.25);
	box-sizing:border-box;
	border-radius:4px;
	font-family:Montserrat;
	font-size:14px;
	font-style:normal;
	font-weight:400;
	line-height:18px;
	text-align:left;
	cursor: pointer;
	user-select: none;
}

.date_arrival p, .date_departure p, .guests p {
	margin:0;
}

.search_room .date_arrival, .date_departure, .guests {
	position:relative;
	border-radius: 4px;
	border:1px solid rgba(31, 32, 65, 0.25);
}

.search_room .date_arrival:hover, .date_departure:hover, .guests:hover {
	border:1px solid #787878;
}

.search_room .block3 .guests {
	height: 23px; 
	width: 268px; 
	padding: 12px 32px 8.44px 15px;
}

.search_room .arrow {
	position:absolute;
	width:15px;
	height:9px;
	background-position:4px 4px 0 0;
	background-repeat:no-repeat;
	right:15px;
	top:17px;
	background-image:url(../assets/image/expand_more.svg);
}

.search_room .block2 {
	margin-left: 18px;
}

.search_room .block4{
	width:320px;
	height:19px;
	border-radius:22px;
	background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color:white;
	text-align:center;
	padding: 15px 0 10px 0;
}

.search_room .residence .block4:hover {
	background:linear-gradient(90deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius:40px;
}

.search-room_link {
	height: 44px;
	margin-top:32px;
}

#second_date,#first_date {
	width:100px;
	padding: 12px 32px 14px 15px;
}

.search-room_link .block4 p {
	margin: 0;
}

.footer_container {
	width: 100%;
}

.footer {
	height:392px;
	box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
	border-top:1px solid #D0D0D5;
	background: #FFFFFF;
}

/*Список блоков*/
.footer .footer_list {
	display:flex;
	justify-content: space-between;
	line-height:15px;
	padding:86px 178px 116px 168px;
}

.footer .footer_list li {
	width: 150px;
	margin-top:20px;
	text-align:left;
	white-space: nowrap;
}

.footer .footer_list li a:hover {
	font-weight: bold;
}

.footer .text_block1_f {
	height:72px;
	width:260px;
	margin-top:10px;
}

.footer .footer_list ul {
	list-style:none;
	display:flex;
	flex-direction:column;
	padding:0;
}

.footer .footer_list h3 {
	text-transform:uppercase;
	font-weight:bold;
}

.footer .footer_list .block5{
	height:168px;
	width:260px;
}

.footer .footer_list .email {
	height:44px;
	width:255px;
	border:1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	color:rgba(31, 32, 65, 0.5);
}

.footer .footer_list .email input {
	padding:10px 37px 10px 10px;
	font-size:1rem;
	border:none;
	color:rgba(31, 32, 65, 0.25);
	border-radius:3px;
	cursor:pointer;
}

.footer .footer_list .email input:focus {
	color:#000;
}

.block5 .email {
	position:relative;
}

/*Стрелка в блоке email*/
.block5 .email:after {
	content:'';
	width:18px;
	height:18px;
	display:inline-block;
	position:absolute;
	top:12px;
	right:12px;
	background-image:url(../assets/image/arrow_forward.svg);
	background-repeat:no-repeat;
}

/*Под футером*/
.footer_sub {
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	padding:25px 0 15px 0;
	color:rgba(31, 32, 65, 0.75);
	background: #FFFFFF;
}

.footer_sub_container {
	width:1190px;
	height:35px;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
}

.footer_sub .sub_icons{
	width:150px;
	text-align:center;
}

.footer_sub i {
	font-size:24px;
	background:-webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  	-webkit-background-clip:text;
  	-webkit-text-fill-color:transparent;
}

.footer_sub a {
	padding-left:20px;
}

.footer_sub a:first-child {
	padding:0;
}

.footer_sub_container p {
	margin-top: 0;
}

.footer-mobile {
	width: 560px;
	height: 127px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	margin: 0 auto;
	padding: 120px 104px;
	text-align: center;
}

.footer-mobile .footer_sub {
	box-shadow: none;
	width: 112px;
}

.footer-mobile .sub_icons {
	width: 100%;
}

.footer-mobile .logo{
	margin: 0 auto;
	width: auto;
}

.footer-mobile p {
	margin: 20px auto 0 auto;
}

.footer-mobile .footer_sub {
	margin: 0 auto;
}

.hiden_clear {
	opacity: 0;
	cursor: default;
	user-select: none;
}

/*Адаптивная верстка (для смартфонов)*/
@media all and (max-width:480px ) and (min-width:320px) {
	h1 {
		font-size:20px;
	}
	.header {
		display:flex;
		justify-content:space-between;
	}
	.rightPartHeader {
		display:none;
		justify-content:space-between;
	}
	.burger {
		display:block;
		margin-right:15px;
	}
	.logo {
		position:absolute;
		left:0;
		top:15px;
	}
	.content .search_room {
		position:relative;
		top:50px;
		left:20px;
		max-width:320px; 
	}
	.content .search_room .block_date {
		max-width:320px;
		max-height:150px;
		justify-content:flex-start;
	}

	.search_room .block3,.guests {
		max-width:220px;
		margin:5px 0 0 0;
	}

	.search_room .block_date p {
		margin:2px 0 2px 0;
		padding:0;
	}

	.content .search_room .residence .block2 {
		margin:5px 0 0 0 !important;
	}

	.date_arrival, .date_departure {
		width:220px;
	}

	.footer {
		box-shadow:none;
	}

	.footer_list {
		padding:0;
		flex-direction:column;
	}
	.footer_sub {
		margin-top:650px;
		border-top:1px solid #E8E8EC;
	}
	.footer_sub_container {
		width:330px;
		font-size:12px;
	}
	.footer_sub_container a {
		padding-left:5px;
	}
	.footer .footer_list {
		padding:30px;
	}
	.footer .block1 {
		margin:0;
	}
	.footer .block2 {
		margin:0;
	}.footer .block3 {
		margin:0;
	}.footer .block4 {
		margin:0;
	}.footer .block5 {
		margin:0;
	}
	.dropBlock, .drop_block_row {
		width:220px;
	}

	.drop_block_item {
		height:180px !important;
		width:220px !important;
	}

	.drop_function {
		padding-top:30px;
	}

	#dropItem1 {
		margin-right:18px;
	}
	#dropItem2 {
		margin-right:60px;
	}
	#dropItem3 {
		margin-right:10px;
	}
}

@keyframes lir {
	from {background:#BC9CFF;}
	30% {background:#A176FF;}
	50% {background:#874FFF;}
	80% {background:#436EF9;}
	to {background:#8BA4F9;}
}
