@import '../assets/styles/reset.scss';
@import '@variables';

.index-main {
	height:830px;
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;

	&__container {
		max-width: 1175px;
		margin: 0 auto;
		position: relative;
		min-height: 830px;
	}

	&__description {
		width: 297px;
		text-align: right;
		position: absolute;
		bottom: 8px;
		right: 1px;
	}

	&__filter-item {
		padding: 70px 5px 0 5px;
	}
}

@media all and (max-width:1200px ) {
	.logotype {
		margin-left: 10px;
	}
}

@media all and (max-width:650px ) {
	.index-main {
		&__description {
			display: none;
		}
	}
}
