body {
	font-family:'Montserrat',sans-serif;
	margin:0;
	padding:0;
	font-size:14px;
	color: rgba(31,32,65,.75);
}

h3 {
    color: #1F2041;
    font-size: 12px;
    line-height: 15px;
	margin: 0;
}

a {
	text-decoration:none;
	cursor:pointer;
	color: rgba(31,32,65,0.75);
}

input:active, input:focus {
	outline:none;
}

button {
	border:none;
	outline:none;
}

/*Инпуты*/
.input_favorite {
	height:44px;
	width:320px;
	border:1px solid rgba(31, 32, 65, 0.25);
	color: rgba(31, 32, 65, 0.25);
	box-sizing:border-box;
	border-radius:4px;
	padding-left:15px;
	cursor:pointer;
	margin-bottom: 10px;
}

.input_favorite:hover {
	border-color:#6F6F74;
}

.input_favorite:focus {
	color:rgba(31, 32, 65, 0.75);
}
/*верхушка сайта*/

/*Бургер*/

.border1 {
	height:8px;
	width:50px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	position:absolute;
	top:4px;
	left:0;
	transition:0.2s;
}
.border2 {
	position:absolute;
	width:50px;
	height:8px;
	top:21px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	transition:0.2s;
}

.border3 {
	height:8px;
	width:50px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	position:absolute;
	bottom:4px;
	left:0;
	transition:0.2s;
}




.arrow_list_li {
	position: relative;
}

.arrow_list_li:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 5px;
	right: -18px;
	width: 12px;
	height: 8px;
	background-image: url(../assets/image/expand_more.svg);
}

.dropdown-arrow {
	position:absolute;
	width:15px;
	height:9px;
	background-position:4px 4px 0 0;
	background-repeat:no-repeat;
	right:15px;
	top:17px;
	background-image:url(../assets/image/expand_more.svg);
}

#arrow_li_left {
	margin-right: 18px;
}





/*Появление бургера*/


.list {
	margin-right: 20px;
}

.list ul {
	display:flex;
	width: 100%;
	font-weight:400;
	list-style:normal;
	font-size:14px;
	color:rgba(31, 32, 65, 0.5);
	align-items: center;
	padding: 0;
	margin: 0;
	position: relative;
}


.list li {
	list-style:none;
	cursor:pointer;
}

.nav-menu__item {
	margin-left: 24px;
}

.list li:first-child {
	margin-left: 0;
}

.list a {
	color: rgba(31, 32, 65, 0.5);
	display: block;
	position: relative;
	text-align: center;
}

.list ul ul {
	width: 100%;
	display:none;
	position:absolute;
	padding-top: 25px;
	text-align: center;
	width: 150px;
	background-color: #fff;
}



.list ul li ul li {
	padding: 5px;
}

.list ul li ul li:hover {
	font-weight: bold;
}

.nav-menu__item:hover {
	font-weight: bold;
}

.list ul li:hover ul {
	display:block;
}

.list ul li a:hover{
	color: rgba(31, 32, 65, 0.75);
}

.list ul li span:hover{
	color: rgba(31, 32, 65, 0.75);
}

.menu_list {
	margin:0;
	padding:0;
	height:70px;
}


/*панель входа и список*/


.logup {
	display:flex;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	line-height:15px;
	text-align:center;
}



.logup .login:hover {
	opacity: 0.5;
}


.logup .login a{
	color:#BC9CFF;
}

.logup .registration a {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color:#fff;
	border-radius:22px;
	margin-left:20px;
	border:3px solid transparent;
}

.logup .registration a {
	color:#fff;
}

.logup .registration:hover {
	opacity: 0.5;
}


.logup p {
	padding:0;
	margin:7px 0;
}

.residence {
	font-family:Montserrat;
	font-size:13px;
	font-style:normal;
	font-weight:700;
	line-height:15px;
	letter-spacing:0em;
	text-align:left;
	text-transform:uppercase;
}

/*Календарь*/
.datepicker-left {
	z-index:3;
	position:absolute;
	top: 2px;
	left: 0;
}

// .calendar {
// 	width:320px;
// 	height:389px;
// 	box-sizing:border-box;
// 	background:#fff;
// 	padding:20px 0 20px 25px;
// 	border:1px solid rgba(31, 32, 65, 0.25);
// 	border-radius:4px;
// 	font-size:12px;
// 	line-height:15px;
// 	box-shadow:0px 10px 20px rgba(31, 32, 65, 0.05);
// 	margin-top: 50px;
// }

.text-field-calendar {
	width: 100%;
}

.text-field-calendar:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 18px;
	right: 15px;
	width: 12px;
	height: 8px;
	background-image: url(../assets/image/expand_more.svg);
	z-index: 5;
	pointer-events: none;
}


input.datepicker {
	user-select: none;
}

#dateCalendare {
	position: absolute;
	z-index: 4;
	width: 270px;
	left:0;
	border: 1px solid #000;
	opacity: 0;
}

.calendar h2 {
	margin:0 0 30px 0;
	color:#000;
	text-transform:capitalize;
}

.calendar h2:after {
	content:'';
	width:23px;
	height:24px;
	display:inline-block;
	position:absolute;
	top:18px;
	right:20px;
	background-image:url(../assets/image/arrow_forward.svg);
	background-position:center;
	background-repeat:no-repeat;
}

.calendar h2:before {
	content:'';
	width:23px;
	height:24px;
	display:inline-block;
	position:absolute;
	top:18px;
	left:20px;
	background-image:url(../assets/image/arrow_back.svg);
	background-position:center;
	background-repeat:no-repeat;
}

/*Сделать блок в виде таблицы*/
.calendar .container {
	width:260px;
	height:280px;
}
.calendar .container .date {
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(25px, 1fr));
	grid-gap:10px;
	box-sizing:border-box;
	text-transform:capitalize;
}

.calendar .container .date div {
	display:flex;
	justify-content:center;
	align-items:center;
	color:green;
}

.calendar .container .date div.day {
	font-weight:bold;
	color:#BC9CFF;
	padding-left:10px;
}

.month {
	font-weight:bold;
	text-align:center;
}

.calendar .container .date .number {
	color:#8F8FA0;
	height:40px;
	width:40px;
}

/*функции календаря*/
.calendar .container .function {
	width:280px;
	height:15px;
	display:flex;
	justify-content:space-between;
	color:#BC9CFF;
	font-weight:bold;
	margin-top:20px;
}

/*Выпадение календаря*/
.calendar_main:hover {
	display:block;
}
.calendar .container .date .number:hover {
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border-radius:22px;
	color:white;
	font-weight:bold;
}

.fa-twitter {
	width: 24px;
	height: 24px;
}

input.dropDown__counte-guests {
	border: none;
	pointer-events: none;
}

.hide {
	display:none;
}

/*блоки с прибытием отправкой и гостями */
.date_arrival, .date_departure  {
	height:44px;
	width:150px;
	background:#FFFFFF;
	border:1px solid rgba(31, 32, 65, 0.25);
	box-sizing:border-box;
	border-radius:4px;
	font-family:Montserrat;
	font-size:14px;
	font-style:normal;
	font-weight:400;
	line-height:18px;
	text-align:left;
	cursor: pointer;
	user-select: none;
}

.date_arrival p, .date_departure p, .dropDown__name p {
	margin:0;
}

#second_date,#first_date {
	width:100px;
	padding: 12px 32px 14px 15px;
}



.email_button-link {
	width:18px;
	height:18px;
	position:absolute;
	background: none;
	background-image:url(../assets/image/arrow_forward.svg);
	cursor: pointer;
	right: 10px;
	top: 12px;
}

.email_button-link:active {
	opacity: 0.8;
}

/*Под футером*/


.hiden_clear {
	opacity: 0;
	cursor: default;
	user-select: none;
	pointer-events: none;
}

/*Адаптивная верстка (для смартфонов)*/
@media all and (max-width:1200px ) {
	p {
		font-size: 12px;
	}
	.logotype {
		margin-left: 10px;
	}
	
	
	.logo {
		position:absolute;
		left:0;
		top:15px;
	}

	.search-room .block2 {
		margin-left: 0;
	}

}


@media all and (max-width:425px) {
	.date_arrival {
		width: 100%;
	}

	.block3 {
		width: 100%;
	}
}