@import '../assets/styles/global.scss';
@import '../blocks/filter/filter.scss';
@import '../blocks/header/header.scss';
@import '../blocks/footer/footer.scss';

h3 {
    color: $color-shade-dark;
    font-size: $font-size-small;
    line-height: 15px;
	margin: 0;
}

a {
	text-decoration:none;
	cursor:pointer;
	color: $color-shade-secondary;
}

input:active, input:focus {
	outline:none;
}

button {
	border:none;
	outline:none;
}

.index-main {
	height:830px;
	background-repeat:no-repeat;
	background-position: center;
	position: relative;

	&__container {
		padding: 70px 0 0 180px;
	}

	&__description {
		width: 297px;
		text-align: right;
		position: absolute;
		right: 150px;
		bottom: 0;
	}
}

.input_favorite {
	height:44px;
	width:320px;
	border:1px solid $color-shade;
	color: $color-shade;
	box-sizing:border-box;
	border-radius:4px;
	padding-left:15px;
	cursor:pointer;
	margin-bottom: 10px;

	&:hover {
		border-color:#6F6F74;
	}

	&:focus {
		color: $color-shade-secondary;
	}
}

.nav-burger__border1 {
	height:8px;
	width:50px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	position:absolute;
	top:4px;
	left:0;
	transition:0.2s;
}
.nav-burger__border2 {
	position:absolute;
	width:50px;
	height:8px;
	top:21px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	transition:0.2s;
}

.nav-burger__border3 {
	height:8px;
	width:50px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	position:absolute;
	bottom:4px;
	left:0;
	transition:0.2s;
}

.dropdown-arrow {
	position:absolute;
	width:15px;
	height:9px;
	background-position:4px 4px 0 0;
	background-repeat:no-repeat;
	right:15px;
	top:17px;
	background-image:url(../assets/image/expand_more.svg);
}

.list {
	margin-right: 20px;
}

.list ul {
	display:flex;
	width: 100%;
	font-weight:400;
	list-style:normal;
	font-size: $font-size-main;
	color: $color-shade-grey;
	align-items: center;
	padding: 0;
	margin: 0;
	position: relative;
}

.list li {
	list-style:none;
	cursor:pointer;
}

.nav-menu__item {
	margin-left: 24px;
}

.list li:first-child {
	margin-left: 0;
}

.list a {
	color: $color-shade-grey;
	display: block;
	position: relative;
	text-align: center;
}

.list ul ul {
	width: 100%;
	display:none;
	position:absolute;
	padding-top: 25px;
	text-align: center;
	width: 150px;
	background-color: #fff;
}

.list ul li ul li {
	padding: 5px;
}

.list ul li ul li:hover {
	font-weight: bold;
}

.nav-menu__item:hover {
	font-weight: bold;
}

.list ul li:hover ul {
	display:block;
}

.list ul li a:hover{
	color: $color-shade-secondary;
}

.list ul li span:hover{
	color: $color-shade-secondary;
}

.menu_list {
	margin:0;
	padding:0;
	height:70px;
}

.header__container-logup {
	display:flex;
	text-transform:uppercase;
	font-weight:bold;
	font-size: $font-size-small;
	line-height:15px;
	text-align:center;
}



.header__container-logup .header__btn-login:hover {
	opacity: 0.5;
}


.header__container-logup .header__btn-login a{
	color:$color-purple;
}

.header__container-logup .header__btn-registration a {
	background: $gradient-main;
	color:#fff;
	border-radius:22px;
	margin-left:20px;
	border:3px solid transparent;
}

.header__container-logup .header__btn-registration a {
	color:#fff;
}

.header__container-logup .header__btn-registration:hover {
	opacity: 0.5;
}


.header__container-logup p {
	padding:0;
	margin:7px 0;
}

.residence {
	font-family:Montserrat;
	font-size:13px;
	font-style:normal;
	font-weight:700;
	line-height:15px;
	letter-spacing:0em;
	text-align:left;
	text-transform:uppercase;
}

/*Календарь*/
.datepicker-left {
	z-index:3;
	position:absolute;
	top: 2px;
	left: 0;
}

.text-field-calendar {
	width: 100%;
}

.text-field-calendar:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 18px;
	right: 15px;
	width: 12px;
	height: 8px;
	background-image: url(../assets/image/expand_more.svg);
	z-index: 5;
	pointer-events: none;
}


input.datepicker {
	user-select: none;
}

#dateCalendare {
	position: absolute;
	z-index: 4;
	width: 270px;
	left:0;
	border: 1px solid #000;
	opacity: 0;
}

.fa-twitter {
	width: 24px;
	height: 24px;
}

input {
	border: none;
	outline: none;
}

.hide {
	display:none;
}

/*блоки с прибытием отправкой и гостями */
.date_arrival, .date_departure  {
	height:44px;
	width:150px;
	background:#FFFFFF;
	border:1px solid $color-shade;
	box-sizing:border-box;
	border-radius:4px;
	font-family:Montserrat;
	font-size: $font-size-main;
	font-style:normal;
	font-weight:400;
	line-height:18px;
	text-align:left;
	cursor: pointer;
	user-select: none;
}

.date_arrival p, .date_departure p, .dropDown__name p {
	margin:0;
}

#second_date,#first_date {
	width:100px;
	padding: 12px 32px 14px 15px;
}

.arrow-back-btn {
	content: '';
	width: 40px;
	height: 40px;
	background-image: url('../assets/image/arrow_back.svg');
	background-position: center;
	background-repeat: no-repeat;
}

.arrow-expend-btn {
	content: '';
	position: absolute;
	width: 15px;
	height: 9px;
	background-position: 4px 4px 0 0;
	background-repeat: no-repeat;
	right: 15px;
	top: 17px;
	background-image: url(../assets/image/expand_more.svg);

	&_active {
		transform: rotate(-180deg);
	}
}
  
.arrow-next-btn {
	content: '';
	width: 40px;
	height: 40px;
	background-image: url('../assets/image/arrow_back.svg');
	transform: rotate(180deg);
	background-position: center;
	background-repeat: no-repeat;
}

.hiden_clear {
	opacity: 0;
	cursor: default;
	user-select: none;
	pointer-events: none;
}

/*Адаптивная верстка (для смартфонов)*/
@media all and (max-width:1200px ) {
	p {
		font-size: $font-size-small;
	}
	.logotype {
		margin-left: 10px;
	}
	
	
	.logo {
		position:absolute;
		left:0;
		top:15px;
	}

	.search-room .block2 {
		margin-left: 0;
	}

}

@media all and (max-width:425px) {
	.date_arrival {
		width: 100%;
	}

	.block3 {
		width: 100%;
	}
}