@import '@variables';

.dropDown {
    width: 100%;
    position: relative;
    user-select: none;

    &__name {
        border: 1px solid #1F204140;
        border-radius: 4px;
        height: 44px;
        cursor: pointer;
        display: flex;
        align-items: center;

        &_active {
            border:1px solid #1F204180;
            border-radius: 4px 4px 0 0;
        }

        &:hover {
            border:1px solid #1F204180;
        }
    }

    &__drop-block {
        width: 100%;
        position:absolute;
        z-index:99;
    }

    &__dropItem {
        font-weight:bold;
        font-size:12px;
        user-select:none;
    }

    &__items {
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        border:1px solid $color-shade-grey;
        box-sizing:border-box;
        box-shadow:0px 10px 20px $color-shade-ligth;
        border-radius:0 0 4px 4px;
        background:white;
        border-top:none;
        cursor:default;
        line-height: 15px;
        padding: 0 7px 7px 15px;

        & input {
            border: none;
            text-align: center;
        }
    }

    &__block-input {
        width: 92px;
        display: flex;
        justify-content: space-between;
    }

    &__row {
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap:wrap;
        font-size: $font-size-small;
        width: 100%;
        text-transform: uppercase;
        margin-top: 7px;

        & input {
            width:30px;
        }
    }

    &__circle {
        border:1px solid;
        box-sizing:border-box;
        border-radius:22px;
        width:30px;
        height:30px;
        font-size:16px;
        text-align:center;
        cursor:pointer;
        background:white;
        transition:0.1s;
        opacity:0.5;
    }

    &__circle-plus {
        border-color: #1F204180;

        &:active{
            color:white;
            border-color:white;
            background:#C8AEFF;
            transition:0.1s;
            font-weight:bold;
        }
    }

    &__circle-minus {
        border-color: #1F204180;

        &:active{
            color:white;
            border-color:white;
            background:#C8AEFF;
            transition:0.1s;
            font-weight:bold;
        }
    }

    &__function-btn {
        border:none;
        background-color:#fff;
        color:$color-purple;
        font-weight:bold;
        text-transform: uppercase;
        cursor:pointer;
        font-size: $font-size-small;
    }

    &__function {
        display:flex;
        justify-content:space-between;
        padding:19px 7px 7px 0;
        font-weight:bold;
        color:#1F2041;
        width: 100%

    }

    &__counte-guests {
        width: 100%;
        color:#1F2041BF;
        cursor: pointer;
        user-select: none;
        padding-left: 15px;
        border: none;
        outline: none;
    }

    &__counter {
        color: $color-shade-dark;
        font-weight: bold;
        line-height: 12px;
        text-transform: uppercase;
    }

    &__function-clear {
        display: block;
    }
    
}

.dropdown-arrow {
	position:absolute;
	width:12px;
	height:9px;
	background-position:4px 4px 0 0;
	background-repeat:no-repeat;
	right:15px;
	top:17px;
	background-image:url(../../assets/image/expand-more.svg);
}

.js-clear-none {
    opacity: 0;
    pointer-events: none;
}

.js-drop-close {
    display: none;
}

.js-drop-open {
    display: block;
}