mixin dropDown({placeholder = 'Сколько Гостей',isOpen, showFunction, list = []}={})
    .dropDown.js-dropDown
        .dropDown__name
            input.dropDown__counte-guests.js-dropDown__counte-guests(placeholder=placeholder readonly value="")
            .dropDown__arrow.dropdown-arrow
        .dropDown__drop-block(data-is-open= isOpen)
            .dropDown__items
                each element in list
                    .dropDown__row.js-dropDown__row(data-item-name=element.name)
                        h3.dropDown__dropItem(data-type="name-counter") #{element.name}
                        .dropDown__block-input.dropDown__block-input
                            button.dropDown__circle.dropDown__circle-minus(data-button="data-button-minus") -
                            input.dropDown__counter(data-type="counter-value" value= element.value || 0 readonly) 
                            button.dropDown__circle.dropDown__circle-plus(data-button="data-button-plus") +
                    if showFunction
                        .dropDown__function
                            button.dropDown__function-clear(data-button="clear") Очистить
                            button.dropDown__function-apply(data-button="apply") Применить