@import '@variables';

.drop-down {
  position: relative;
  width: 100%;
  user-select: none;

  &__name {
    display: flex;
    align-items: center;
    height: 42px;
    border: 1px solid #1f204140;
    border-radius: 4px;
    cursor: pointer;

    &_active {
      border: 1px solid #1f204180;
      border-radius: 4px 4px 0 0;
    }

    &:hover {
      border: 1px solid #1f204180;
    }
  }

  &__drop-block {
    position: absolute;
    z-index: 98;
    width: 100%;

    &_close {
      display: none;
    }

    &_open {
      display: block;
    }
  }

  &__drop-item {
    font-weight: bold;
    font-size: 12px;
    user-select: none;
  }

  &__items {
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    padding: 0 7px 7px 15px;
    line-height: 15px;
    background: white;
    border: 1px solid $color-shade-grey;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 20px $color-shade-light;
    cursor: default;
  }

  &__block-input {
    display: flex;
    justify-content: space-between;
    width: 92px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 7px;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__circle-plus, &__circle-minus {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    background: white;
    border: 1px solid;
    border-radius: 22px;
    opacity: 0.5;
    transition: 0.1s;
  }

  &__circle-plus {
    cursor: pointer;
    border-color: #1f204180;

    &:active {
      color: white;
      font-weight: bold;
      background: #c8aeff;
      border-color: white;
      transition: 0.1s;
    }
  }

  &__circle-minus {
    cursor: pointer;

    &:active {
      color: white;
      font-weight: bold;
      background: #c8aeff;
      border-color: #1f204180;
      transition: 0.1s;
    }

    &:disabled {
      cursor: default;
    }
  }

  &__functional-buttons {
    color: $color-purple;
    font-weight: bold;
    font-size: $font-size-small;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    cursor: pointer;

    &:nth-child(1) {
      padding-left: 0;
      font-family: $font-family-main;
    }

    &:nth-child(2) {
      padding-right: 0;
      font-family: $font-family-main;
    }
  }

  &__control-panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 19px 7px 7px 0;
    color: #1f2041;
    font-weight: bold;

    &_close {
      display: none;
    }

    &_open {
      display: block;
    }
  }

  &__counts-guests {
    width: 100%;
    padding-left: 15px;
    color: #1f2041bf;
    font-family: $font-family-main;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
  }

  &__counter {
    width: 30px;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-small;
    font-family: $font-family-main;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    border: none;
  }

  &__function-clear {
    display: block;
  }

  &__arrow {
    position: absolute;
    top: 17px;
    right: 15px;
  }

  &__btn-clear {
    &_transparent {
      opacity: 0;
      pointer-events: none;
    }
  }
}
