mixin dropDown({itemNameTop='Взрослые', itemNameMiddle='Дети', itemNameBottom='Младенцы'}={})
    div.dropDown
        div.dropDown__name
            input.dropDown__counte-guests(placeholder="Сколько Гостей" autocomplete="off" readonly value="")
            div.dropDown__arrow.dropdown-arrow
        div.dropBlock.hide
            div.dropBlock__items
                div.dropBlock__row
                    h3#dropItem1.dropItem #{itemNameTop}
                    div.dropBlock__block-input.dropBlock__block-input1(count="")  
                        button.dropBlock__circle.dropBlock__circle-minus1 -
                        input#counter1.dropBlock__counter(type="text" value="0" readonly)
                        button.dropBlock__circle.dropBlock__circle-plus1 +
                div.dropBlock__row
                    h3#dropItem2.dropItem #{itemNameMiddle}
                    div.dropBlock__block-input.dropBlock__block-input2(count="")
                        button.dropBlock__circle.dropBlock__circle-minus2 -
                        input#counter2.dropBlock__counter(type="text" value="0" readonly)
                        button.dropBlock__circle.dropBlock__circle-plus2 +
                div.dropBlock__row
                    h3#dropItem3.dropItem #{itemNameBottom}
                    div.dropBlock__block-input.dropBlock__block-input3(count="") 
                        button.dropBlock__circle.dropBlock__circle-minus3 -
                        input#counter3.dropBlock__counter(type="text" value="0" readonly)
                        button.dropBlock__circle.dropBlock__circle-plus3 +
                div.dropBlock__function
                    button#clear.dropBlock__function-link ОЧИСТИТЬ
                    button#apply.dropBlock__function-link ПРИМЕНИТЬ