mixin dropDown({placeholder = "Сколько Гостей",appointment,isOpen = false, showFunction, list = []}={})
    .dropDown.js-dropDown(data-attribute-appointment =appointment, data-attribute-function=functionPanel)
        .dropDown__name.js-dropDown__name
            input.dropDown__counte-guests.js-dropDown__counte-guests(placeholder=placeholder readonly value="")
            .dropDown__arrow.dropdown-arrow
        .dropDown__drop-block.js-dropDown__drop-block(class= isOpen ? "js-drop-open" : "js-drop-close")
            .dropDown__items.js-dropDown__items
                each element in list
                    .dropDown__row
                        span.dropDown__dropItem(data-item-name= element.name) #{element.name}
                        .dropDown__block-input
                            button.dropDown__circle.js-dropDown-minus -
                            input.dropDown__counter.js-dropDown__counter(value= element.val || 0 readonly) 
                            button.dropDown__circle.dropDown__circle-plus.js-dropDown-plus +
                if showFunction
                    .dropDown__function
                        button.dropDown__function-btn.js-dropDown_clear Очистить
                        button.dropDown__function-btn.js-dropDown_apply Применить