mixin dropDown({showFunction, list = []}={})
    div.dropDown
        div.dropDown__name
            input.dropDown__counte-guests(placeholder="Сколько Гостей" autocomplete="off" readonly value="")
            div.dropDown__arrow.dropdown-arrow
        div.dropDown__drop-block.hide
            div.dropDown__items
                each element in list
                    div.dropDown__row
                        h3#dropItem1.dropItem #{element.name}
                        div.dropDown__block-input.dropDown__block-input
                            button.dropDown__circle.dropDown__circle-minus -
                            input#counter.dropDown__counter(value="0" readonly)
                            button.dropDown__circle.dropDown__circle-plus +
                    if showFunction
                        div.dropDown__function
                            button#clear.dropDown__function-link ОЧИСТИТЬ
                            button#apply.dropDown__function-link ПРИМЕНИТЬ