@import '@variables';

.dropDown {
  position: relative;
  width: 100%;
  user-select: none;

  &__name {
    display: flex;
    align-items: center;
    height: 42px;
    border: 1px solid #1f204140;
    border-radius: 4px;
    cursor: pointer;

    &_active {
      border: 1px solid #1f204180;
      border-radius: 4px 4px 0 0;
    }

    &:hover {
      border: 1px solid #1f204180;
    }
  }

  &__drop-block {
    position: absolute;
    z-index: 99;
    width: 100%;
  }

  &__dropItem {
    font-weight: bold;
    font-size: 12px;
    user-select: none;
  }

  &__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 7px 7px 15px;
    line-height: 15px;
    background: white;
    border: 1px solid $color-shade-grey;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 20px $color-shade-light;
    cursor: default;

    & input {
      text-align: center;
      border: none;
    }
  }

  &__block-input {
    display: flex;
    justify-content: space-between;
    width: 92px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 7px;
    font-size: $font-size-small;
    text-transform: uppercase;

    & input {
      width: 30px;
    }
  }

  &__circle {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    background: white;
    border: 1px solid;
    border-radius: 22px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.1s;
  }

  &__circle-plus {
    border-color: #1f204180;

    &:active {
      color: white;
      font-weight: bold;
      background: #c8aeff;
      border-color: white;
      transition: 0.1s;
    }
  }

  &__circle-minus {
    border-color: #1f204180;

    &:active {
      color: white;
      font-weight: bold;
      background: #c8aeff;
      border-color: white;
      transition: 0.1s;
    }
  }

  &__function-btn {
    color: $color-purple;
    font-weight: bold;
    font-size: $font-size-small;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  &__function {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 19px 7px 7px 0;
    color: #1f2041;
    font-weight: bold;
  }

  &__counts-guests {
    width: 100%;
    padding-left: 15px;
    color: #1f2041bf;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
  }

  &__counter {
    color: $color-shade-dark;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
  }

  &__function-clear {
    display: block;
  }
}

.dropdown-arrow {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 12px;
  height: 9px;
  background-image: url(../../assets/image/expand-more.svg);
  background-repeat: no-repeat;
  background-position: 4px 4px 0 0;
}

.js-not-clear {
  opacity: 0;
  pointer-events: none;
}

.js-drop_close {
  display: none;
}

.js-drop_open {
  display: block;
}
