include ../expand-more-arrow/expand-more-arrow.pug

mixin dropDown({placeholder = 'Сколько гостей',appointment,isOpen = false, showFunction, list = [], keyPhrases=[]}={})
    .drop-down.js-drop-down(data-attribute-appointment =appointment, data-attribute-function=functionPanel, data-key-phrases= keyPhrases, tabindex="0")
        .drop-down__name.js-drop-down__name
            input.drop-down__counts-guests.js-drop-down__counts-guests(placeholder=placeholder readonly value="")
            .drop-down__arrow
                +expand-more-arrow
        .drop-down__drop-block.js-drop-down__drop-block(class= isOpen ? "js-drop_open" : "js-drop_close")
            .drop-down__items.js-drop-down__items
                each element in list
                    .drop-down__row
                        span.drop-down__dropItem(data-item-name= element.name) #{element.name}
                        .drop-down__block-input
                            button.drop-down__circle.js-drop-down__minus -
                            input.drop-down__counter.js-drop-down__counter(value= element.val || 0 readonly) 
                            button.drop-down__circle.drop-down__circle-plus.js-drop-down__plus +
                if showFunction
                    .drop-down__function
                        button.drop-down__function-btn.js-drop-down_clear Очистить
                        button.drop-down__function-btn.js-drop-down_apply Применить