include ../custom-checkbox/custom-checkbox.pug
include ../expand-more-arrow/expand-more-arrow.pug

mixin checkbox-list(params = {})
  -
    const {
      title = 'Открыть список', 
      list = [], 
      isOpen= false
    } = params

  .checkbox-list.js-checkbox-list(
    class=isOpen ? 'js-list-open' : 'js-list-close',
    tabindex='0'
  )
    .checkbox-list__name.js-title-list
      span.checkbox-list__title= title
      .checkbox-list__arrow.js-arrow
        +expand-more-arrow
    .checkbox-list__container
      .checkbox-list__menu.js-menu
        each input in list
          +custom-checkbox(input)
