@import '@variables';

.checkbox-list {
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  color: $color-shade-dark;
  font-weight: bold;
  font-size: $font-size-small;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  &__container {
    position: absolute;
    top: 50px;
    z-index: 999;
    width: fit-content;
    width: 266px;
    max-width: 266px;
    color: #1f204180;
    line-height: 12px;
    text-transform: none;
    background-color: #fff;
  }

  &__menu {
    font-weight: normal;
  }

  &__name {
    &_hide {
      display: none;
    }
  }
}
