@import '@variables';

.checkbox-list {
  position: relative;
  display: flex;
  flex-direction: column;
  user-select: none;

  &__arrow {
    position: absolute;
    top: 2px;
    right: 15px;

    &_active {
      transform: rotate(180deg);
    }
  }

  &__title {
    font-size: $font-size-small;
    text-transform: uppercase;
    color: $color-shade-dark;
    font-weight: bold;
  }

  &__name {
    cursor: pointer;
  }

  &__menu {
    display: none;
    margin-top: 20px;
    flex-direction: column;
    max-width: 266px;
    color: #1f204180;
    line-height: 12px;

    &_open {
      display: flex;
    }
  }

  &__checkbox {
    position: absolute;
    top: -4px;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(31 32 65 / 25%);
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
    appearance: none;

    &:checked {
      background-image: url('./images/checked.svg');
      background-repeat: no-repeat;
      background-position: center;
      border-color: $color-purple;
    }
  }

  &__list {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    max-width: 266px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__caption {
    font-size: $font-size-main;
    margin-left: 30px;
    cursor: pointer;
  }
}
