@import '@variables';

.checkbox-list {
    display: flex;
    align-items: center;
    height: 44px;
    position: relative;
    cursor: pointer;
    font-size: $font-size-small;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-shade-dark;
    user-select: none;

    &__container {
        position: absolute;
        top: 50px;
        background-color: #FFF;
        width: fit-content;
        max-width: 266px;
        width: 266px;
        text-transform: none;
        color: #1F204180;
        z-index: 999;
        line-height: 12px;
    }

    &__menu {
        font-weight: normal;
    }

    &__name {
        &_hide {
            display: none;
        }
    }
}