.registration-main {
	width: 100%;
	height:684px;
	background-image:url(../../assets/image/registration_bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;

	& .container {
		width: 100%;
		height:684px;
		padding: 17px 0;
	}
}

.registration-card {
	&__email {
		margin: 5px 0 10px 0;
	}

	&__first-name {
		margin-bottom: 10px;
	}

	&__has-account {
		display:flex;
		justify-content:space-between;
		margin-top:30px;
	}

	&__has-account .login {
		height:42.4px;
		width:97.4px;
		border:2px solid $color-purple;
		border-radius:22px;
		text-align:center;
		text-transform:uppercase;
		color:$color-purple;
		font-weight:bold;
		cursor:pointer;
	}

	&__title {
		color: $color-shade-dark;
	}

	&__question-txt {
		font-size: $font-size-main;
		color: #000;
	}

	&__question {
		width:186px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__question p {
		margin: 0;
	}

	&__has-account .login p {
		margin: 0;
	}
}