@import '@variables';

.registration-main {
  width: 100%;
  height: 684px;
  background-image: url(../../../assets/image/registration-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & .container {
    width: 100%;
    height: 684px;
    padding: 17px 0;
  }
}

.registration-card {
  width: 380px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  line-height: 24px;

  &__email {
    margin: 0 0 10px;
  }

  &__offer {
    margin-top: 8px;
  }

  &__first-name {
    margin-bottom: 10px;
  }

  &__has-account {
    display: flex;
    justify-content: space-between;
    height: 44px;
    margin-top: 30px;
  }

  &__has-account .login {
    width: 97.4px;
    height: 42.4px;
    color: $color-purple;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid $color-purple;
    border-radius: 22px;
    cursor: pointer;
  }

  &__title {
    color: $color-shade-dark;
  }

  &__question-txt {
    color: #000;
    font-size: $font-size-main;
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
  }

  &__question p {
    margin: 0;
  }

  &__has-account .login p {
    margin: 0;
  }

  &__container {
    padding: 40px 30px 30px;
  }

  &__buy-btn {
    margin-top: 24px;
  }

  &__user-info h1 {
    margin: 0;
    font-size: $font-size-big;
    line-height: 30px;
  }

  &__gender-checkbox {
    position: absolute;
    top: 0;
    display: inline-flex;
    align-items: center;
    width: 50px;
    opacity: 0;
    user-select: none;
  }

  &__birthday {
    display: flex;
    flex-direction: column;
    margin: 23px 0 5px;
    line-height: 15px;
  }

  &__data-login {
    margin-top: 15px;
    text-transform: uppercase;
  }

  &__sub-title {
    margin-bottom: 5px;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__gender {
    position: relative;
    margin-top: 7px;
  }

  &__user-name input:last-child {
    margin: 0;
  }
}

@media all and (max-width: 340px) {
  .registration-card {
    width: auto;
    margin: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  .registration-card .registration-card__user-info h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 380px) {
  .registration-card {
    width: auto;

    &__container {
      padding-top: 15px;
    }
  }
}
