{% extends 'Site/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
  <div class="form-section">
    <h2><b>Добавление статей</b></h2>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <!-- form.as_p  стандартная форма-->
      <!-- без токена не будет работать -->
      <button type="submit" class="btn btn-outline-warning">Добавить статью</button>
    </form>
    <hr>
  </div>
{% endblock main_section %}

{% block aside_news_section%}
<h3><b>Лучшие заголовки от...</b></h3>
  <img src="https://www.google.com/url?sa=i&url=http%3A%2F%2Fprocomputer.su%2Fosnovy-kompyutera%2F9-kakie-kompyutery-byvayut-vidy-i-tipy-kompyuterov&psig=AOvVaw0ZI8BeHzGhktuVtH-0A04k&ust=1585740053146000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNCppMDMxOgCFQAAAAAdAAAAABAD" class="img-thumbnail-2 w-100 h-100">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Quisquam sed, veniam rem consectetur debitis consequuntur! Omnis,
    iste fugiat voluptate quia.
</p>
<a href="#" target="_blank">
  <button class="btn btn-warning">Сюдой</button>
</a>


{% endblock aside_news_section%}
