{% extends 'Site/main.html' %}
{% block main_section %}
<! цикл перебора списка news>
  {% for post in news %}
  <!Вызов переменных списка(берем значения по ключам)>
    <div class="alert alert-light">
      <h1>{{ post.title }}</h1>
      <!-- safe позволяет в статье доабвлять теги из html и они будут работать -->
      <!-- striptags удаляет html из записи -->
      <!--truncatechars:200 обрезает текст до определенного кол-во символов-->
      <p>{{ post.text|striptags|truncatechars:200 }}</p>
        <div class="row">
          <div>
              {% if post.author.profile.img %}
                <img src="{{ post.author.profile.img.url }}" alt="{{post.author}}" class="user_image">
              {% else %}
                <img src="/pictures/default.jpg" alt="{{ post.author }}" class="user_image">
              {% endif %}
          </div>
          <div class="mt-2">
            <span class="text-muted">Пост: {{ post.date|date:"d E Y в H:i:s" }} </span>
            <p><b>Автор:</b> <mark><a href="{% url 'news-user' post.author %}">{{ post.author }}</a></mark>
          </div>
        </div>
        <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning">Подробнее </a>
    </div>
  {% endfor %}

  <!-- Прописываем пагинацию( листаь странички )-->
    <!-- Проверяем есть ли она вообще-->
    <!--Есть то отобразить значки перехода -->
    <!-- page_obg если объект страничка есть то-->
    <!--has_previous возвращает true если етсь предыдущая страничка -->
    <!-- ?page=1 номер страницы-->
    <!--page_obj.previous_page.number показать страничку предыдущую с номером -->
    <!--paginator.num_pages кол-во всего страничек -->
    <!-- нижнее подчеркваиние указывает на то, что мы вызываем фкнцию а не объект -->
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="/" class="btn btn-outline-warning">Начало</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-warning">Предыдущая</a>
    {% endif %}

    <!-- Перебираем все странички в цикле  -->
    <!-- цикл for переменная num потом где перебираем это  in  в page.object потом кол-во страничек paginator и кол-во страничек page_range  -->
      {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number%}
          <!-- Вывести страничку на которйо мы наодимся -->
          <!-- Елси переменная num == page.obj_number(страничке на которйо мы находимся, то ) -->
          <button class="btn btn-warning">{{ num }}</button>
          <!-- напрмер : если 1 больше чем страничка на которой мы (1) ссылку не выводим, далее выводим  -->
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}" class="btn btn-outline-warning">{{ num }}</a>
          {% endif %}
       {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-warning">Следующуая</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-warning">Последняя</a>
    {% endif %}
  {% endif %}

<! конец цикла>
{% endblock main_section %}
{% block aside_news_section %}
  <h3><b>Intresting Article</b></h3>
    <img src="https://free-png.ru/wp-content/uploads/2019/05/Telefon-mokap-1-t.png" class="img-thumbnail-2 w-100 h-100">
    <a href="https://ria.ru/20190919/1558870880.html" target="_blank">
      Lorem ipsum dolor sit amet.
    </a>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Quisquam sed, veniam rem consectetur debitis consequuntur! Omnis,
      iste fugiat voluptate quia.
  </p>
  <a href="" target="_blank">
    <button class="btn btn-warning">Перейти</button>
  </a>
{% endblock aside_news_section %}
