mixin logotype()
  figure.logotype
    a(href="/mock-address/change-me")
        img(class="logotype__icon-image" 
            src="./image/header-logotype.svg" 
            alt="logo-icon" 
            width="106px" 
            height="40px")