.backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;

  &_transitioned {
    opacity: 1;
    transition: opacity 1s;
  }

  &_opacity_high {
    opacity: 0.1;
    transition: opacity 1s;
  }
}
