.expand-more-arrow {
    width: 12px;
    height: 9px;
    background-image: url('./images/expand-more.svg');
    background-repeat: no-repeat;
    background-position: 4px 4px 0 0;

    &_active {
        transform: rotate(-180deg);
    }
}