body{
  background:#fafafa;
}

.alert-light {
  border-color: #bfbfbf;
}

#reg {
  color:#FFC107;
  margin-bottom: 5px;
}

.col-md-4 {
  margin-top:80px;
}

.col-md-8 {
  margin-top:80px;
}

.form-section{
  padding:10px 10px 15px 10px;
  background-color:white;
  border:1px solid #F68353;
  border-radius:4px;
}

.user_image{
  width:64px;
  height:64px;
  border-radius:50%;
  margin:10px;

}

footer {
  padding:10px;
  background:#343A40;
  color:#FAFAFA;
  margin-top:35px;
}

img {
  max-width: 100%!important;
}
