@import '~nouislider/dist/nouislider.min.css';
@import '@variables';

.slider-range {
    width: 266px;

    &__slider {
        width: 100%;
        margin: 20px 0 15px 0;
    }

    &__name {
        font-weight: bold;
        color: $color-shade-dark;
    }

    &__values {
        font-size: $font-size-small;
        color: $color-shade-grey;
    }

    &__container-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__sub-title {
        width: 100%;
        font-size: $font-size-small;
        margin: 0;
        color: $color-shade-grey;
    }

    .noUi-horizontal .noUi-handle {
        width: 16px;
        height: 16px;
        right: -9px;
        top: -6px;
        cursor: pointer;
        outline: none;
    }

    .noUi-target {
        background: #fff;
        border: 1px solid #C7C7CF;
        border-radius: 3px;
        box-shadow: none;
    }
    
    .noUi-connect {
        background: $gradient-secondary;
    }

    .noUi-horizontal {
        height: 6px;
    }
    
    .noUi-handle {
        border: 2px solid #fff;
        border-radius: 10px;
        background: $gradient-secondary;
        box-shadow: none;   
    }
    
    .noUi-handle::after,
    .noUi-handle::before {
        display: none;
    }
}