@import '@variables';

.slider-range {
  &__slider {
    width: 100%;
    margin: 20px 0 15px;
  }

  &__name {
    text-transform: uppercase;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-small;
  }

  &__values {
    color: $color-shade-grey;
    font-size: $font-size-small;
  }

  &__container-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__sub-title {
    width: 100%;
    margin: 0;
    color: $color-shade-grey;
    font-size: $font-size-small;
  }
}
