.form-elements-set {
  &__legend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
  }

  &__title {
    font-weight: bold;
  }

  &__details {
    color: rgba(31,32,65,.5)
  }
}
