@import '@variables';

.text-description {
  display: flex;
  justify-content: space-between;
  width: 436px;

  &__title {
    margin: 0;
    color: $color-shade;
    font-weight: 400;

    &_big-size {
      margin-left: 8px;
    }

    &_medium-size {
      margin-left: 10px;
    }

    &_small-size {
      margin-left: 18px;
    }

    &_default-size {
      margin-left: 5px;
    }
  }

  &__description {
    width: 369px;
    margin: 0;
    color: #1f2041;
  }

  &_big-size {
    font-weight: bold;
    font-size: $font-size-big;
  }

  &_medium-size {
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &_small-size {
    font-weight: bold;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &_default-size {
    font-size: $font-size-main;
  }
}
