<!-- загружаем стили -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css"
   href="/static/base/main.css">
   <link rel="stylesheet" type="text/css" href="fullpage.css" />
  <script src="vendors/easings.min.js"></script>
  <script type="text/javascript" src="vendors/scrolloverflow.min.js"></script>
<script type="text/javascript" src="fullpage.js"></script>
  <title>{{ title }}</title>
</head>
<body>
  <!-- { block product_view } -->
  <!-- { endblock product_view } -->
  <div class="HomePage">
    <!-- показать все товары на главной -->
    {% block main_section %}
    {% endblock main_section %}

  </div>
</body>
</html>
