block variables
    - var pageTitle = 'Главная «Toxin» | Отели'
    - var linkStyle =  '../css/style.css'
    - var scripts = '../js/click.js'

doctype html
html
    block head
        head
            meta(charset="UTF-8")
            link(rel="stylesheet" href=linkStyle)
            link(rel="stylesheet" href='../css/style.css')
            link(rel="shortcut icon" href="image/Logo.png" type="image/png")
            link(rel="stylesheet" href='../css/UI.css')
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            script(type="text/javascript" src="awesome/fontawesome.min.js")
            script(src="https://kit.fontawesome.com/bc390f5649.js" crossorigin="anonymous")
            script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
            title=pageTitle
    body
        block header
        block content
        script(src=scripts)
