@import '@variables';

.radio-input {
  display: flex;
  font-size: $font-size-main;

  &__text {
    padding-left: 10px;
    color: $color-shade-grey;
    user-select: none;
  }

  &__button {
    margin: 0;
    padding: 0;
    appearance: none;

    &::before {
      display: block;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      border: 1px solid $color-shade;
      border-radius: 50%;
      cursor: pointer;
      content: '';
    }

    &:checked::before {
      background-image: url('./images/radio-checked.svg');
      background-repeat: no-repeat;
      background-position: 3px;
      border-color: $color-purple;
    }

    &:not(:disabled, :checked):hover::before {
      border-color: $color-purple;
    }

    &:checked + .radio-input {
      &__text {
        color: $color-shade-secondary;
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:last-child {
      margin-left: 20px;
    }
  }
}
