.radio-input {
	display: flex;

	&__input {
		appearance: none;
		margin: 0;
		padding: 0;
	}

	&__text {
		padding-left: 10px;
		color: #1F204180;
	}

	&__label {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&__label:last-child {
		margin-left: 20px;
	}

	&__input::before {
		content:'';
		width:20px;
		height:20px;
		border-radius:50%;
		border:1px solid rgba(31, 32, 65, 0.25);;
		box-sizing:border-box;
		display:block;
		cursor: pointer;
	}

	&__input:not(:disabled):not(:checked):hover::before {
		border-color:#BC9CFF;
	}

	&__input:checked::before {
		background-image:url(../../assets/image/radio-chacked.svg);
		background-repeat:no-repeat;
		background-position:center;
		border-color:#BC9CFF;
	}

	&__input:checked + .radio-input__text {
		color: #1F2041BF;
	}
}