/*Основной контент*/
.room-details__room-loop {
	height:485px;
	display:flex;
}
/*Комнаты*/
.room-details__room-loop-big {
	width:982px;
	height:485px;
	background-image:url(../../../assets/image/room_loop1.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	transition:0.4s;
	background-position:center;
}

/*прближение картинки фона*/
.room-details__room-loop-big:hover {
	background-size:115%;
	transition:0.4s;
	background-position:center;
}


.room-details__room-loop-head {
	height:485px;
	width:538px;
}

.room-details__room-loop-middle-1 {
	width:538px;
	height: 243px;
	background-image:url(../../../assets/image/room_loop2.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	transition:0.4s;
	background-position:center;
}

/*прближение картинки фона*/
.room-details__room-loop-middle-1:hover {
	background-size:115%;
	transition:0.3s;
}

.room-details__room-loop-middle-2 {
	width:538px;
	height:242px;
	background-image:url(../../../assets/image/room_loop3.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	transition:0.4s;
	background-position:center;
}

/*прближение картинки фона*/
.room-details__room-loop-middle-2:hover {
	background-size:115%;
	transition:0.3s;
	background-position:center;
}

.room-details__expend-container {
	max-width:1179px;
	margin:70px auto;
}

.room-details__split-container {
	display: flex;
	justify-content: space-between;
	margin-bottom:30px;
}
/*Контейнер для блоков сведения и впечатлений*/
.room-details__more-info {
	display:flex;
	max-width:672px;
	margin-bottom:20px
}

/*Блок сведение о номере*/


.room-details__expend-container h2 {
	font-size:19px;
	line-height:24px;
	margin:0 0 24px 0;
}


.calendar {
	padding:0;
}


/*Блок с рейтингом впечатления*/
.rating_impressions {
	width:120px;
	height:120px;
	border-radius:50%;
	// background-image:url(../../../assets/image/Ellipse.jpg);
	margin-right:30px;
}

/*Кол-во голосов*/
.rating_impressions p {
	text-align:center;
	color:#BC9CFF;
	font-weight:bold;
}

.rating_impressions p:first-child{
	font-size:24px;
	line-height:30px;
	margin:35px 0 0 0;
}

.rating_impressions p:last-child{
	font-size:12px;
	line-height:15px;
	margin:0;
}

.room-details__split {
	max-width: 672px;
}

.room-details__orders {
	display: flex;
}

.room-details__reviews-comments {
	display: flex;
	list-style:none;
	padding:0;
}

.room-details__cancel {
	width:341px;
	line-height:24px;
	margin-bottom:19px;
}

.room-details__cancel-title {
	margin: 0 0 20px 0;
	font-weight: bold;
	color: #1F2041;
	font-size: 19px;
}

.container_departure input:hover {
	border-color:#8C8C92;
	transition:0.3s;
}

.container_departure {
	height:64.4px;
	width:150px;
	position:relative;
	transition:0.3s;
}

.room-details__user-reviews-comments {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.room-details__title-comment {
	font-weight: bold;
	font-size: 19px;
	color: #1F2041;
}

#temp {
	margin-left:20px;
}

#dropItem1 {
	margin-right:124px;
}
#dropItem2 {
	margin-right:165px;
}

#dropItem3 {
	margin-right: 116px;
}

/*Стрелочка - узнать больше*/



.guests {
	border: none;
}

.guests:hover {
	border: none;
}

.room-details__more-info {
	z-index: -1;
}


@media all and (max-width:1500px) {
	.room-details__room-loop-big {
		background-size: auto;
	}
}

@media all and (max-width: 1200px) {

	.room-details__split-container {
		justify-content: center;
		flex-direction: column-reverse;
		align-items: center;
	}

	.room-details__more-info {
		margin-top: 60px;
	}


}

@media all and (max-width: 920px) {

	.room-details__room-loop {
		height: auto;
		padding: 0 10px;
		flex-direction: column;
	}

	.room-details__room-loop-big,.room-details__room-loop-middle-1,.room-details__room-loop-middle-2 {
		width: 100%;
		margin: 10px auto;
	}

	.room-details__room-loop-middle-1,.room-details__room-loop-middle-2 {
		height: 420px;
	}

	.room-details__room-loop-big {
		margin-bottom: 0;
		background-size: 100%;
	}

	.room-details__room-loop-head {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
}

@media all and (max-width: 793px) {

	.container_departure {
		margin-top: 10px;
	}

	
}

@media all and (max-width: 693px) {

	.room-details__more-info {
		flex-direction: column;
		align-items: center;
	}

	.room-details__room-loop-big,.room-details__room-loop-middle-1, .room-details__room-loop-middle-2 {
		height: 243px;
	}

}

@media all and (max-width: 440px) {
	.room-details__room-loop-big,.room-details__room-loop-middle-1, .room-details__room-loop-middle-2 {
		height: 180px;
	}
}
