@import '@variables';

.room-details {
  &__room-loop {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    height: 485px;
    margin: 0 auto;

    @media (max-width: 920px) {
      flex-direction: column;
      height: auto;
      padding: 0 10px;
    }
  }

  &__first-orders {
    margin-right: 100px;
  }

  &__room-loop-big {
    height: 485px;

    @media (max-width: 1500px) {
      background-size: auto;
    }

    @media (max-width: 920px) {
      width: 100%;
      margin: 10px auto;
      margin-bottom: 0;
      background-size: 100%;
    }

    @media (max-width: 693px) {
      height: auto;
    }

    @media (max-width: 440px) {
      height: 180px;
    }
  }

  &__room-loop-head {
    width: 459px;
    height: 485px;

    @media (max-width: 920px) {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  &__room-order {
    margin-right: 9px;
  }

  &__room-loop-middle-1 {
    height: 243px;

    @media (max-width: 920px) {
      width: 100%;
      height: auto;
      margin: 10px auto;
    }

    @media (max-width: 693px) {
      height: auto;
    }

    @media (max-width: 440px) {
      height: 180px;
    }
  }

  &__room-loop-middle-2 {
    height: 242px;

    @media (max-width: 920px) {
      width: 100%;
      height: auto;
      margin: 10px auto;
    }

    @media (max-width: 693px) {
      height: auto;
    }

    @media (max-width: 440px) {
      height: 180px;
    }
  }

  &__expend-container {
    max-width: 1179px;
    margin: 67px auto 72px;
  }

  &__split {
    margin-top: 4px;
  }

  &__split-container {
    display: flex;
    justify-content: space-between;
    margin-bottom:29px;

    @media (max-width: 1200px) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    @media all and (max-width: 693px) {
      margin: 5px;
    }
  }

  &__more-info {
    display: flex;
    max-width: 672px;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      margin-top: 60px;
    }

    @media (max-width: 693px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__room-secondary-3,
  &__room-secondary-2,
  &__room-secondary-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__orders {
    display: flex;

    & .room-orders {
      margin-left: 28px;

      @media (max-width: 341px) {
        margin-left: 0;
      }
    }

    @media (max-width: 1200px) {
      justify-content: center;
    }

    @media (max-width: 693px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 341px) {
      display: flex;
    }
  }

  &__reviews-comments {
    display: flex;
    padding: 0;
    color: $color-shade-grey;
    font-size: $font-size-main;
    list-style: none;
  }

  &__about-room-container {
    margin-right: 87px;

    @media (max-width: 693px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__cancel {
    width: 341px;
    margin-bottom: 19px;
    color: $color-shade-secondary;
    font-size: $font-size-main;
    line-height: 24px;

    @media (max-width: 693px) {
      margin: 0 10px;
    }

    @media (max-width: 380px) {
      width: auto;
    }

    @media (max-width: 341px) {
      width: 300px;
    }
  }

  &__cancel-title {
    margin: 0 0 19px;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__user-reviews {
    margin-top: 37px;
    margin-left: 10px;
  }

  &__user-reviews-comments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    margin-bottom: 20px;
  }

  &__title-comment {
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-medium;

    @media (max-width: 440px) {
      width: 220px;
    }

    @media (max-width: 380px) {
      font-size: $font-size-main;
    }
  }

  &__button-like {
    position: absolute;
    top: 62px;
  }

  &__order {
    @media (max-width: 1200px) {
      margin-right: 0 !important;
    }
  }

  @media (max-width: 380px) {
    & .calendar {
      transform: translate(-26px, 5px);
    }
  }
}
