extends ../../../template-head/main_index.pug
include ../../../blocks/header/header.pug
include ../../../blocks/dropDown/dropDown.pug
include ../../../blocks/footer/footer.pug
include ../../../blocks/calendar/calendar.pug
include ../../../blocks/about-room/about-room.pug
include ../../../blocks/impressions-room/impressions-room.pug
include ../../../blocks/room-order/room-order.pug
include ../../../blocks/user-reviews/user-reviews.pug
include ../../../blocks/room-orders/room-orders.pug

block variables 
    - pageTitle = '«Toxin» | Номер для вас'

block content
    .room-details
        .room-details__room-loop
            .room-details__room-loop-big
            .room-details__room-loop-head
                .room-details__room-loop-middle-1
                .room-details__room-loop-middle-2
        .room-details__expend
            .room-details__expend-container
                .room-details__split-container
                    .room-details__split
                        .room-details__more-info(data-component-js="js-about-room")
                            +about-room({
                               list: [
                                   {
                                        firstAdvantage: 'Комфорт',
                                        secondAdvantage: 'Шумоподавляющие стены',
                                        src: 'assets/image/insert_emoticon.svg',
                                        alt: 'Комфорт'
                                   },
                                   {
                                        firstAdvantage: 'Удобство',
                                        secondAdvantage: 'Окно в каждой из спален',
                                        src: 'assets/image/location_city.svg',
                                        alt: 'Удобство'
                                   },
                                   {
                                        firstAdvantage: 'Уют',
                                        secondAdvantage: 'Номер оснащён камином',
                                        src: 'assets/image/whatshot.svg',
                                        alt: 'Уют',
                                   }
                               ]
                            })
                            .room-details__impressions(data-component-js="js-impressions")
                               +impressions-room
                        .room-details__user-reviews(data-comment-js="js-user-reviews")
                            .room-details__user-reviews-comments
                                span.room-details__title-comment Отзывы посетителей номера
                                span.room-details__reviews-comments 2 отзыва 
                            +user-reviews({ count: 11 })
                            +user-reviews({ 
                                count: 2,
                                username: 'Патрисия Стёклышкова',
                                dayComment: 'Неделю назад',
                                src: 'assets/image/user_2.png',
                                desc: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
                                alt: 'Патрисия Стёклышкова'
                             })
                    .room-details__room-order(data-comment-js="js-room-order")
                        +room-order({
                            numberRoom: 888, 
                            level: 'люкс', 
                            priceDay: '9 990', 
                            currency: '₽', 
                            discount: '2 179', 
                            services: 300
                        })
                .room-details__orders 
                    +room-orders({
                        list: [
                            { txt: 'Нельзя с питомцами' },
                            { txt: 'Без вечеринок и мероприятий' },
                            { txt: 'Время прибытия — после 13:00, а выезд до 12:00' }
                        ]
                    })
                    .room-details__cancel
                        p.room-details__cancel-title Отмена
                        span.room-details__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги. 