@import '@variables';

.room-details {
  &__room-photos {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    height: 485px;
    margin: 0 auto;

    @media (max-width: 920px) {
      flex-direction: column;
      height: auto;
      padding: 0 10px;
    }
  }

  &__rules-container {
    margin: 0 100px 0 31px;

    @media (max-width: 1200px) {
      margin: 0 100px 0 10px;
    }

    @media (max-width: 720px) {
      margin-right: 0;
    }

    @media (max-width: 693px) {
      margin: 20px 10px 50px 0;
    }
  }

  &__room-big-photo-container {
    height: 485px;

    @media (max-width: 1500px) {
      background-size: auto;
    }

    @media (max-width: 920px) {
      width: 100%;
      margin: 10px auto;
      margin-bottom: 0;
      background-size: 100%;
    }

    @media (max-width: 693px) {
      height: auto;
    }

    @media (max-width: 440px) {
      height: 180px;
    }
  }

  &__room-side-section-photos {
    width: 459px;
    height: 485px;

    @media (max-width: 920px) {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  &__room-order-container {
    margin-right: 9px;
  }

  &__room-small-photo-container {
    height: 243px;

    @media (max-width: 920px) {
      width: 100%;
      height: auto;
      margin: 10px auto;
    }

    @media (max-width: 693px) {
      height: auto;
    }

    @media (max-width: 440px) {
      height: 180px;
    }
  }

  &__expend-container {
    max-width: 1179px;
    margin: 67px auto 72px;
  }

  &__split {
    margin-top: 4px;
  }

  &__split-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;

    @media (max-width: 1200px) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    @media all and (max-width: 693px) {
      margin: 5px;
    }
  }

  &__more-info {
    display: flex;
    max-width: 672px;
    margin: 0 0 20px 12px;
    margin-bottom: 20px;

    @media (max-width: 1200px) {
      margin-top: 60px;
    }

    @media (max-width: 693px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 693px) {
      margin: 60px 0 0;
    }
  }

  &__room-small-photo,
  &__room-big-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__rules-container {
    display: flex;

    @media (max-width: 1200px) {
      justify-content: center;
    }

    @media (max-width: 693px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 341px) {
      display: flex;
    }
  }

  &__reviews-comments {
    display: flex;
    padding: 0;
    color: $color-shade-grey;
    font-size: $font-size-main;
    list-style: none;

    @media (max-width: 1200px) {
      margin-right: 10px;
    }
  }

  &__about-room-container {
    margin-right: 79px;

    @media (max-width: 693px) {
      margin-right: 26px;
      margin-bottom: 30px;
    }

    @media (max-width: 693px) {
      margin-right: 26px;
      margin-bottom: 30px;
    }

    @media (max-width: 693px) {
      margin-right: 0;
    }
  }

  &__cancel {
    width: 341px;
    margin-bottom: 19px;
    color: $color-shade-secondary;
    font-size: $font-size-main;
    line-height: 24px;

    @media (max-width: 693px) {
      width: 255px;
      margin: 0 10px;
    }
  }

  &__cancel-title {
    margin: 0 0 19px;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__user-reviews {
    margin: 37px 0 0 10px;
  }

  &__user-reviews-comments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title-comment {
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-medium;

    @media (max-width: 440px) {
      width: 220px;
    }

    @media (max-width: 380px) {
      font-size: $font-size-main;
    }
  }

  &__button-like {
    position: absolute;
    top: 62px;
  }

  &__order {
    @media (max-width: 1200px) {
      margin-right: 0 !important;
    }
  }
}
