/*Основной контент*/
.container_room_loop {
	height:485px;
	display:flex;
}
/*Комнаты*/
.room_loop1 {
	width:981px;
	height:485px;
	background-image:url(../../../assets/image/room_loop1.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	transition:0.4s;
	background-position:center;
}

/*прближение картинки фона*/
.room_loop1:hover {
	background-size:115%;
	transition:0.4s;
	background-position:center;
}


.room_loop_head {
	height:485px;
	width:538px;
}

.room_loop2 {
	width:538px;
	height: 243px;
	background-image:url(../../../assets/image/room_loop2.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	transition:0.4s;
	background-position:center;
}

/*прближение картинки фона*/
.room_loop2:hover {
	background-size:115%;
	transition:0.3s;
}

.room_loop3 {
	width:538px;
	height:242px;
	background-image:url(../../../assets/image/room_loop3.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	transition:0.4s;
	background-position:center;
}

/*прближение картинки фона*/
.room_loop3:hover {
	background-size:115%;
	transition:0.3s;
	background-position:center;
}

.container_expend_details_room {
	max-width:1179px;
	margin:70px auto;
}

.container_split {
	display: flex;
	justify-content: space-between;
	margin-bottom:30px;
}
/*Контейнер для блоков сведения и впечатлений*/
.container_expend_details {
	display:flex;
	max-width:672px;
	margin-bottom:20px
}

/*Блок сведение о номере*/


.container_expend_details_room h2 {
	font-size:19px;
	line-height:24px;
	margin:0 0 24px 0;
}


.calendar {
	padding:0;
}


/*Блок с рейтингом впечатления*/
.rating_impressions {
	width:120px;
	height:120px;
	border-radius:50%;
	// background-image:url(../../../assets/image/Ellipse.jpg);
	margin-right:30px;
}

/*Кол-во голосов*/
.rating_impressions p {
	text-align:center;
	color:#BC9CFF;
	font-weight:bold;
}

.rating_impressions p:first-child{
	font-size:24px;
	line-height:30px;
	margin:35px 0 0 0;
}

.rating_impressions p:last-child{
	font-size:12px;
	line-height:15px;
	margin:0;
}

.container_split_details {
	max-width: 672px;
}



/*Правила номера и отмена*/
.order_rooms .container {
	display:flex;
}

.order_rooms .container .order {
	height:160px;
	width:292px;
	margin-right:100px;
}

/*Блок отмена (справа)*/
.order_rooms .container .cancel {
	height:160px;
	width:341px;
	line-height:24px;
}

.order h2 {
	margin-left:21px;
}

/*Блок - правила (слева)*/
.ul_order {
	list-style:none;
	padding:0;
	color:rgba(31, 32, 65, 0.75);
}

.ul_order li {
	margin-bottom:15px;
}

.ul_order .li_order3 {
	display:flex;
	margin-bottom:10px;
}

.ul_order span {
	padding:0;
	margin:0;
	display:block;
	width:250px;
}

.ul_order li:before {
	content:'';
	width:10px;
	height:10px;
	background-color:rgba(31, 32, 65, 0.25);;
	display:inline-block;
	margin-right:10px;
	border-radius:50%;
}

/*Забронировать*/


/*Прибытие и отъезд*/




.container_departure input:hover {
	border-color:#8C8C92;
	transition:0.3s;
}



/*Стрелка - узнать больше*/



.container_departure {
	height:64.4px;
	width:150px;
	position:relative;
	transition:0.3s;
}

.room-details__user-reviews-comments {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.room-details__title-comment {
	font-weight: bold;
	font-size: 19px;
	color: #1F2041;
}

#temp {
	margin-left:20px;
}

#dropItem1 {
	margin-right:124px;
}
#dropItem2 {
	margin-right:165px;
}

#dropItem3 {
	margin-right: 116px;
}

/*Стрелочка - узнать больше*/



.guests {
	border: none;
}

.guests:hover {
	border: none;
}

.container_expend_details {
	z-index: -1;
}


@media all and (max-width:1500px) {
	.room_loop1 {
		background-size: auto;
	}
}

@media all and (max-width: 1200px) {

	.container_split {
		justify-content: center;
		flex-direction: column-reverse;
		align-items: center;
	}

	.container_expend_details {
		margin-top: 60px;
	}

	.order_rooms .container {
		justify-content: center;
		align-items: center;
	}

	.order_rooms {
		margin: 0 10px;
	}
}

@media all and (max-width: 920px) {

	.container_room_loop {
		height: auto;
		padding: 0 10px;
		flex-direction: column;
	}

	.room_loop1,.room_loop2,.room_loop3 {
		width: 100%;
		margin: 10px auto;
	}

	.room_loop2,.room_loop3 {
		height: 420px;
	}

	.room_loop1 {
		margin-bottom: 0;
		background-size: 100%;
	}

	.room_loop_head {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
}

@media all and (max-width: 793px) {

	.container_departure {
		margin-top: 10px;
	}

	.order_rooms .container .order {
		margin-right: 0;
	}
}

@media all and (max-width: 693px) {

	.container_expend_details {
		flex-direction: column;
		align-items: center;
	}

	.order_rooms .container {
		flex-direction: column;
	}

	.order_rooms .container .order, .order_rooms .container .cancel {
		width: 100%;
	}

	.room_loop1,.room_loop2, .room_loop3 {
		height: 243px;
	}

}

@media all and (max-width: 440px) {
	.room_loop1,.room_loop2, .room_loop3 {
		height: 180px;
	}
}
