extends ../../../template-head/main.pug
include ../../../blocks/filter/filter.pug
include ../../../blocks/registration-card/registration-card.pug
include ../../../blocks/room-order/room-order.pug
include ../../../blocks/login-card/login-card.pug
include ../../../blocks/calendar/calendar.pug
include ../../../blocks/room-info/room-info.pug

block variables 
    - pageTitle = 'Карточки'

block content
    .cards
        .cards__container
            .cards__filters
                .cards__filter(data-component-js="js-cards-filter")
                    +filter({
                        title:'Найдём номера под ваши пожелания',
                        buttonOptions: {
                            href:'search-room.html',
                            type:'long',
                            text:'Подобрать номер'
                        },
                        dropDownOptions: {
                            isOpen: false,
                            list: [
                            { name: 'взрослые', val: 0 },
                            { name: 'дети', val: 0 },
                            { name: 'младенцы', val: 0 }
                            ],
                            appointment: 'guests',
                            showFunction: true,
                        },
                    })
                .cards__registration(data-component-js="js-cards-registration")
                    +registration-card
            .cards__dates
                .cards__range-dates(data-component-js="js-cards-range-dates")
                    +room-order({
                            numberRoom: 888, 
                            level: 'люкс', 
                            priceDay: '9 990', 
                            currency: '₽', 
                            discount: '2 179', 
                            services: 300
                        })
                .cards__login-card(data-component-js="js-cards-login")
                    +login-card
            .cards__rooms
                .cards__calendar-open(data-component-js="js-calendar-open")
                    +calendar
                .cards__room-card-first(data-component-js="js-card-room")
                    +room-info({
                        number: 888,
                        level: 'Люкс',
                        price: '9 990',
                        stars: 5,
                        review: 145,
                        sliders: [
                                    {
                                    "src": "../assets/image/rooms/room_888.jpg",
                                    "alt": "room №888"
                                    },
                                    {
                                    "src": "../assets/image/rooms/room_888.jpg",
                                    "alt": "room №888"
                                    },
                                    {
                                    "src": "../assets/image/rooms/room_888.jpg",
                                    "alt": "room №888"
                                    },
                                    {
                                    "src": "../assets/image/rooms/room_888.jpg",
                                    "alt": "room №888"
                                    }
                                ],
                    })
                .cards__room-card-second(data-component-js="js-card-room")
                    +room-info({
                        number: 840,
                        level: '',
                        price: '9 990',
                        stars: 4,
                        review: 65,
                        sliders: [
                                    {
                                    "src": "../assets/image/rooms/room_840.jpg",
                                    "alt": "room №840"
                                    },
                                    {
                                    "src": "../assets/image/rooms/room_840.jpg",
                                    "alt": "room №840"
                                    },
                                    {
                                    "src": "../assets/image/rooms/room_840.jpg",
                                    "alt": "room №840"
                                    },
                                    {
                                    "src": "../assets/image/rooms/room_840.jpg",
                                    "alt": "room №840"
                                    }
                                ],
                    })