extends ../../../template-head/main-index.pug
include ../../../blocks/calendar/calendar.pug
include ../../../blocks/filter/filter.pug
include ../../../blocks/backgrounds/backgrounds.pug

block variables
    - pageTitle = 'Главная «Toxin» | Отели'
    - roomsList = require('./utils/index-backgrounds.json');

block content
    main.index-main
        +backgrounds({ dataSrc: roomsList })
        .index-main__container
            .index-main__filter-item.js-filter-item
                +filter({
                    title:'Найдём номера под ваши пожелания',
                    buttonOptions: {
                        type:'long',
                        text:'Подобрать номер',
                        typeMethod: 'submit'
                    },
                    dropDownOptions: {
                        isOpen: false,
                        list: [
                            { name: 'взрослые', val: 0 },
                            { name: 'дети', val: 0 },
                            { name: 'младенцы', val: 0 }
                        ],
                        appointment: 'guests',
                        showFunction: true,
                        keyPhrases: ['гость', 'гостя', 'гостей']
                    },
                })
            p.index-main__description Лучшие номера для вашей работы, отдыха и просто вдохновения