@import '@variables';

.index-main {
  height: 830px;
  line-height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    position: relative;
    max-width: 1175px;
    min-height: 830px;
    margin: 0 auto;
  }

  &__description {
    position: absolute;
    right: 1px;
    bottom: 8px;
    width: 297px;
    margin-right: 15px;
    font-size: $font-size-main;
    text-align: right;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__filter-item {
    padding: 70px 5px 0;
  }
}
