@import '@variables';

.index-main {
  height: 830px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  line-height: 24px;

  &__container {
    position: relative;
    max-width: 1175px;
    min-height: 830px;
    margin: 0 auto;
  }

  &__description {
    position: absolute;
    right: 1px;
    bottom: 8px;
    width: 297px;
    margin-right: 15px;
    text-align: right;
    font-size: $font-size-main;
  }

  &__filter-item {
    padding: 70px 5px 0;
  }
}

@media all and (max-width: 1200px) {
  .logotype {
    margin-left: 10px;
  }
}

@media all and (max-width: 650px) {
  .index-main {
    &__description {
      display: none;
    }
  }
}
