extends ../../../template-head/main-index.pug
include ../../../blocks/header/header.pug
include ../../../blocks/footer/footer.pug
include ../../../blocks/button/button.pug
include ../../../blocks/registration-card/registration-card.pug

block variables
    - var pageTitle = '«Toxin» | Регистрация'

block content
    .registration-main
        .registration-main-container(data-component-js="js-registration-card")
            +registration-card
            