extends ../../../template-head/main-index.pug
include ../../../blocks/header/header.pug
include ../../../blocks/footer/footer.pug
include ../../../blocks/button/button.pug
include ../../../blocks/registration-card/registration-card.pug
include ../../../blocks/backgrounds/backgrounds.pug

block variables
    - var pageTitle = '«Toxin» | Регистрация'
    - roomsList = require('../login/utils/login-backgrounds.json');

block content
    .registration-main
        +backgrounds({ dataSrc: roomsList })
        .registration-main__container
            +registration-card
            