@import '@variables';

.nav-menu {
	margin-right: 20px;

    &__container {
        display:flex;
        width: 100%;
        font-weight:400;
        list-style:normal;
        font-size: $font-size-main;
        color: $color-shade-grey;
        align-items: center;
        padding: 0;
        margin: 0;
        position: relative;
    }

    & li {
        list-style:none;
        cursor:pointer;

        &:first-child {
            margin-left: 0;
        }
    }

    &__item {
        margin-left: 24px;
        display: flex;
        align-items: center;

        &_active > .nav-menu__subList:before {
            overflow: visible;
            visibility: visible;
        }
    }

    &__subList {
        color: $color-shade-grey;

        &:hover > .nav-menu__subList:before {
            overflow: visible;
            visibility: visible;
            color: $color-shade-secondary;
        }

        &:hover {
            font-weight: bold;
            color: $color-shade-secondary;
        }

        &:before {
            display: block;
            content: attr(title);
            font-weight: 700;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }

    &__link {
        text-align: center;
        text-decoration:none;
        color: $color-shade-grey;
        cursor:pointer;

        &:hover > .nav-menu__link:before {
            overflow: visible;
            visibility: visible;
            color: $color-shade-secondary;
        }

        &:hover {
            font-weight: bold;
            color: $color-shade-secondary;
        }

        &:before {
            display: block;
            content: attr(title);
            font-weight: 700;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }

    &__submenu {
        width: 100%;
        display:none;
        top: 45px;
        position:absolute;
        text-align: center;
        max-width: 150px;
        z-index: 5;

        &_active {
            display: block;
        }

        &-link {
            text-decoration:none;
            cursor:pointer;
            color: $color-shade-grey;
        }
    }

    &__submenu-link {
        word-wrap: break-word;

        &:hover {
            color: $color-shade-secondary;
            font-weight: bold;
        }
    }

    &__submenu-item {
        background-color: #fff;
        vertical-align: center;
        padding-bottom: 5px;

        &:hover {
            font-weight: bold;
            color: $color-shade-secondary;
        }
    }

    & .arrow-expend-more-btn {
        display: inline-block;
        width: 24px;
        height: 21px;
        background-image: url(../../assets/image/expand-more.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}