@import '@variables';

.nav-menu {
  margin-right: 10px;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    color: $color-shade-grey;
    font-weight: 400;
    font-size: $font-size-main;
    list-style: normal;
  }

  & li {
    list-style: none;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-left: 20px;

    &_active > .js-nav-menu {
      &__sub-list {
        color: $color-shade-secondary;
        font-weight: bold;
      }
    }
  }

  &__sub-list {
    color: $color-shade-grey;

    &:hover {
      color: $color-shade-secondary;
      font-weight: bold;
    }

    &::before {
      display: block;
      height: 0;
      overflow: hidden;
      font-weight: 700;
      visibility: hidden;
      content: attr(title);
    }

    &:hover > .nav-menu {
      &__sub-list {
        &::before {
          overflow: visible;
          color: $color-shade-secondary;
          visibility: visible;
        }
      }
    }
  }

  &__link {
    color: $color-shade-grey;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $color-shade-secondary;
      font-weight: bold;
    }

    &::before {
      display: block;
      height: 0;
      overflow: hidden;
      font-weight: 700;
      visibility: hidden;
      content: attr(title);
    }

    &:hover > .nav-menu {
      &__link::before {
        overflow: visible;
        color: $color-shade-secondary;
        visibility: visible;
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 45px;
    z-index: 5;
    display: none;
    min-width: 140px;
    max-width: 140px;
    padding: 0;
    text-align: center;
    transform: translateX(-20px);

    &_active {
      display: block;
    }

    &-link {
      color: $color-shade-grey;
      text-decoration: none;
      word-wrap: break-word;
      cursor: pointer;

      &:hover {
        color: $color-shade-secondary;
        font-weight: bold;
      }
    }
  }

  &__submenu-item {
    padding-bottom: 10px;
    vertical-align: center;
    background-color: #fff;
  }

  & .arrow-expend-more-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../../assets/image/expand-more.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
