mixin room-orders({ list = [] }={})
    div.room-orders
        div.room-orders__container
            div.room-orders__order
                p.room-orders__title Правила
                ul.room-orders__list
                    each element in list
                        li.room-orders__element
                            span.room-orders__text= element.txt