mixin room-orders({ list = [], title = 'Правила' }={})
  .room-orders
    .room-orders__container
      .room-orders__order
        if title
          span.room-orders__title= title
        ul.room-orders__list
          each element in list
            li.room-orders__element
              .room-orders__circle
              span.room-orders__text= element.txt
