@import '@variables';

.room-orders {
  font-size: $font-size-main;

  &__order {
    margin-right: 100px;

    @media (max-width: 793px) {
      margin-right: 0;
    }
  }

  &__title {
    display: block;
    margin-bottom: 19px;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-medium;
  }

  &__list {
    margin: 0;
    margin-bottom: 21px;
    margin-left: -20px;
    padding: 0;
    color: $color-shade-secondary;
    list-style: none;
  }

  &__element {
    position: relative;
    display: flex;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      background-color: $color-shade;
      border-radius: 50%;
      content: '';
    }
  }

  &__container {
    @media (max-width: 1200px) {
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 693px) {
      flex-direction: column;
    }
  }

  &__orders {
    @media (max-width: 693px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    position: absolute;
    top: -4px;
    left: 21px;
    color: $color-shade-secondary;
    line-height: 24px;
    display: block;
    width: 240px;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 1200px) {
    margin: 0 10px;
  }
  
  @media (max-width: 693px) {
    width: 341px;
    margin: 20px 10px 50px 0;
  }

  @media (max-width: 380px) {
    width: 240px;
  }
}
