@import '@variables';

.login-card {
  width: 380px;
  height: 358px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 12%);
  border-radius: 4px;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);

  &__container {
    height: 286px;
    padding: 40px 30px 32px;
  }

  &__title {
    margin-bottom: 20px;
    color: $color-shade-dark;
    font-weight: bold;
    font-size: $font-size-big;
  }

  &__email {
    margin: 20px 0 10px;
  }

  &__login-btn {
    margin-top: 20px;
  }

  &__has-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    margin-top: 30px;

    .button_type_border {
      height: 40px;
      padding: 0 20px;
    }
  }

  &__question {
    margin: 0;
    font-size: $font-size-main;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .login-card {
    max-width: 320px;

    & input {
      width: 260px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .login-card__container .btn_login {
    width: 260px;
  }
}
