extends ../template-head/main.pug

block variables
    - var pageTitle = 'Элементы'
    - var linkStyle = '../css/elements.css'
    - var linkStyle1 = '../css/searchRoom.css'
    - var linkStyle2 = '../css/Registration.css'
    - var linkStyle3 = '../css/roomDetails.css'
    - var linkStyle3 = '../css/range.css'


block header
    a(href="../index.html")
        div.logo
block content
    div.container-elements1
        div.elements-left
            div.elements-left__input
                div.elements-left__head-input
                    h3.elemets-left__title Text Field
                    p.option Default
                input.elements-left__input-element(placeholder="Email")
            div.elements-left__input
                div.elements-left__head-input
                    h3.elemets-left__title Text Field
                    p.option Hover / Focus
                input#input-el2.elements-left__input-element(placeholder="This is pretty awesome")
            div.elements-left__input
                div.search_room
                    div.residence
                        div.block3
                            h3.elemets-left__title Text Field
                            div.guests
                                input.counte_guests(placeholder="Сколько Гостей" autocomplete="off" readonly="")
                                div.arrow
                            include ../modules/dropBlock.pug
            div.elements-left__input
                h3.elements-left__title masked text field
                input.elements-left__input-element(placeholder="Email")
            div.elements-left__input
                div#el5.elements-left__input-element
                    div.elements-left__left-block
                        h3.elements-left__sub-title date Dropdown
                        div.search_room
                            div.residence
                                div.block_date
                                    div.block1
                                        div.date_arrival ДД.ММ.ГГГГ
                                            div.arrow
                                            include ../modules/calendar.pug
                    div.elements-left__left-block
                        h3.elements-left__sub-title date Dropdown
                        div.search_room
                            div.residence
                                div.block_date
                                    div.block2(style="margin-left:18px;")
                                        div.date_departure ДД.ММ.ГГГГ
                                            div.arrow
                                            include ../modules/calendar.pug
            div.elements-left__input
                h3.elements-left__title filter date dropdown
                div.content_search_room
                    div.data_arrival_in_otel
                        input(type="text" autocomplete="off" placeholder="19 авг - 23 авг" readonly="")
            div.elements-left__input
                h3.elements-left__title subscription text field
                    div.block5
                        div.email
                            input(placeholder="Email")

        div.elements-center
            div.elements-center__block-elements
                h3.elements-center__title Checkbox Buttons
                div.elements-center__checkboxs
                    div.order_in_house
                        div.checkbox_order
                            input#block_1.custom-checkbox(type="checkbox" name="block_1")
                            label(for="block_1") Можно курить
                    
                            input#block_2.custom-checkbox(type="checkbox" name="block_2")
                            label(for="block_2") Можно с питомцами
                        
                            input#block_3.custom-checkbox(type="checkbox" name="block_3" )
                            label(for="block_3") Можно пригласить гостей (до 10 человек)
            div.elements-center__block-elements
                h3.elements-center__title Radio Buttons
                div.elements-center__checkboxs
                    div.gender
                        input#block_checkbox_1.gender_checkbox(type="radio" name="block_checkbox")
                        label(for="block_checkbox_1") Мужчина
                        input#block_checkbox_2.gender_checkbox(type="radio" name="block_checkbox")
                        label(for="block_checkbox_2") Женщина
            div.elements-center__block-elements
                h3.elements-center__title Toggle
                div.elements-center__checkboxs
                    div.special_offer
                        input#block_checkbox_3.offer_checkbox(type="checkbox" name="block_checkbox" checked="checked")
                        label(for="block_checkbox_3") Получать спецпредложения
                    div.special_offer
                        input#block_checkbox_3.offer_checkbox(type="checkbox" name="block_checkbox")
                        label(for="block_checkbox_3") Получать спецпредложения
            div.elements-center__block-elements
                h3.elements-center__title like button
                div#checkbox-like.elements-center__checkboxs
                    div.heart.heart_1
                        div.fa_heart
                        span 12 
                    div.heart.heart_2
                        div.fa_heart.fa_heart2
                        span#span_heart 2 
            div.elements-center__block-elements
                h3.elements-center__title rate button
                div#checkbox-star.elements-center__checkboxs
                    div.star
                        div.stars#star1
                        div.stars#star2
                        div.stars#star3
                        div.stars#star4
                        div.stars#star5
                        
                    div.star
                        div.stars#star1
                        div.stars#star2
                        div.stars#star3
                        div.stars#star4
                        div.stars#star5
        div.elements-right
            div.elements-right__block-elements
                div.price_hotel
                    div.middle
                        div.container_price
                            div.price_title Range Slider
                            div.price
                                span#minValue
                                span ₽
                                span -
                                span#maxValue
                                span ₽
                        div.multi-range-slider
                            input#input-left(type="range" min="0" max="15000" value="1000")
                            input#input-right(type="range" min="0" max="15000" value="3000")
                            div.slider
                                div.track
                                div.range
                                div.thumb.left
                                div.thumb.right
            div.elements-right__block-elements
                h3.elements-right__title buttons
                div.elements-right__buttons.elements-right__buttons1
                    div.elements-right__btn1
                        div.if_have_account
                            a(href="login.html")
                                div.login
                                    p CLICK ME
                    div.elements-right__btn2
                        div.if_have_account
                            a(href="login.html")
                                div.login
                                    p CLICK ME
                div.elements-right__buttons.elements-right__buttons2
                    div.elements-right__btn1
                        div.if_have_account
                            a(href="login.html")
                                div.login
                                    p CLICK ME
                    div.elements-right__btn2
                        div.if_have_account
                            a(href="login.html")
                                div.login
                                    p CLICK ME
                div.elements-right__buttons.elements-right__buttons3
                    div.elements-right__btn1
                        div.if_have_account
                            a(href="login.html")
                                div.login
                                    p CLICK ME
                    div.elements-right__btn2
                        div.if_have_account
                            a(href="login.html")
                                div.login
                                    p CLICK ME
                div.elements-right__buttons.elements-right__buttons4
                    div.buy
                        p перейти к оплате
            div.elements-right__block-elements
                h3.elements-right__title pagination
                div.switch
                    div.container
                        div.circle.circle_1
                            p(style="color:#fff;")
                                b 1
                        div.circle.circle_2
                            p 2
                        div.circle.circle_3
                            p 3
                        div.circle.circle_4
                            p ...
                        div.circle.circle_5
                            p 15
                        div.circle.circle_6
                            i.fas.fa-arrow-right
                    p(style="font-size: 14px;line-height: 24px;margin:11px 0 0 0;") 1 – 12 из 100+ вариантов аренды

                



            

