extends ../template-head/main_login.pug

block header
    include ../includes/header-all.pug
block content
    div.block_login
        div.container
            div.login_user
                div.container_user
                    h1(style="margin:0; margin-bottom:20px;") Войти
                    input.input_favorite(placeholder="Email" autocomplete="off" required="")
                    input.input_favorite(placeholder="Пароль" autocomplete="off" type="password" required="")
                    div.btn_login
                        p войти
                    div.if_have_account
                            div.question
                                p Нет аккаунта на Toxin?
                            a(href="Registration.html")
                                div.login
                                    p создать
block footer
    include ../includes/footer_all.pug