block content 
    include ../modules/Room1.pug
    include ../modules/Room2.pug
    include ../modules/Room3.pug
    include ../modules/Room4.pug
    include ../modules/Room5.pug
    include ../modules/Room5.pug
    include ../modules/Room6.pug
    include ../modules/Room7.pug
    include ../modules/Room8.pug
    include ../modules/Room9.pug
    include ../modules/Room10.pug
    include ../modules/Room11.pug
    include ../modules/Room12.pug

