		//- 	div.switch
		//- 		div.container
		//- 			 div.circle circle_1
		//- 			 	p style="color:#fff;b 1/b /p 
		//- 			 /div 
		//- 			 div.circle circle_2
		//- 			 	p 2/p 
		//- 			 /div 
		//- 			 div.circle circle_3
		//- 			 	p 3/p 
		//- 			 /div 
		//- 			 div.circle circle_4
		//- 			 	p .../p 
		//- 			 /div 
		//- 			 div.circle circle_5
		//- 			 	p 15/p 
		//- 			 /div 
		//- 			 div.circle circle_6
		//- 			 	i.fas fa-arrow-right/i 
		//- 			 /div 
		//- 		/div 
		//- 		 p style="font-size: 14px;line-height: 24px;margin:11px 0 0 0;1 – 12 из 100+ вариантов аренды/p 
		//- 	/div 

		//- /div 

		//- !-- Левый бар -- 
		//- div.left_bar" style="width:266px;
		//- 	div.data_arrival_in_otel
		//- 		span.h_span_block_hotelдаты пребывания в отеле/span 
		//- 		input type="text" autocomplete="off" placeholder="19 авг - 23 авг" readonly="
				
		//- 	/div 
		//- 			div.guests

		//- 				input placeholder="Сколько Гостей" autocomplete="off" readonly="".counte_guests
		//- 			/div 
		//- 				div.dropBlock hide
		//- 					div.drop_block_item
		//- 						div.drop_block_row
		//- 							span.dropItem" id="dropItem1Взрослые/span 
		//- 							button.circle_drop_item circle_drop_minus1
		//- 								-
		//- 							/button 
		//- 								input type="text" id="counter1" value="0
		//- 							button.circle_drop_item circle_drop_plus1
		//- 								+
		//- 							/button 
		//- 						/div 
		//- 						div.drop_block_row
		//- 							span.dropItem" id="dropItem2Дети/span 
		//- 							button.circle_drop_item circle_drop_minus2"  
		//- 								-
		//- 							/button 
		//- 								input id="counter2" value="0
		//- 							button.circle_drop_item circle_drop_plus2
		//- 								+
		//- 							/button 
		//- 						/div 
		//- 						div.drop_block_row
		//- 							span.dropItem" id="dropItem3Младенцы/span 
		//- 							button.circle_drop_item circle_drop_minus3
		//- 								-
		//- 							/button 
		//- 								input id="counter3" value="0
		//- 							button.circle_drop_item circle_drop_plus3
		//- 								+
		//- 							/button 
		//- 						/div 
		//- 						div.drop_function
		//- 							button id="clear".link_drop_functionОЧИСТИТЬ/button 
		//- 							button.link_drop_function" id="applyПРИМЕНИТЬ/button 
		//- 						/div 
		//- 					/div 
		//- 				/div 

		//- 	div.price_hotel
		//- 		div.middle
		//- 			div.container_price
		//- 				div.price_title
		//- 					Диапозон Цен:
		//- 				/div 
		//- 				div.price
		//- 					span id="minValue/span 
		//- 					span ₽/span 
		//- 					span &nbsp-/span 
		//- 					span id="maxValue/span 
		//- 					span ₽/span 
		//- 				/div 
		//- 			/div 
		//- 			div.multi-range-slider
		//- 				input type="range" id="input-left" min="0" max="15000" value="1000
		//- 				input type="range" id="input-right" min="0" max="15000" value="3000

		//- 				div.slider
		//- 					div.track/div 
		//- 					div.range/div 
		//- 					div.thumb left/div 
		//- 					div.thumb right/div 
		//- 				/div 
		//- 			/div 
		//- 		/div 

		//- 		span style="color:#8E8E9FСтоимость за сутки пребывания в номере/span 
		//- 	/div 

		//- 	div.order_in_house
		//- 		span.h_span_block_hotelправила дома/span 
		//- 			div.checkbox_order
						
		//- 					input type="checkbox".custom-checkbox" name="block_1" id="block_1
		//- 					label for="block_1Можно курить/label 
					
		//- 					input type="checkbox".custom-checkbox" name="block_2" id="block_2
		//- 					label for="block_2"  Можно с питомцами/label 
						
		//- 					input type="checkbox".custom-checkbox" name="block_3" id="block_3
		//- 					label for="block_3Можно пригласить гостей (до 10 человек)/label 
		//- 			/div 
		//- 	/div 

		//- 	div.availability
		//- 		span.h_span_block_hotelдоступность/span 

		//- 		input type="checkbox".custom-checkbox" name="block_4" id="block_4
		//- 		label for="block_4
		//- 			span b style="color:#575870;font-size:14px;Широкий коридор/b 
		//- 			/span 
		//- 			p Ширина коридоров в номере не менее 91 см.
		//- 			/p 
		//- 		/label 

		//- 		input type="checkbox".custom-checkbox" name="block_5" id="block_5
		//- 			label for="block_5
		//- 				b style="color:#575870; font-size:14px;Помощник для инвалидов/b 
		//- 				 	p На 1 этаже вас встретит специалист  и  проводит до номера.
		//- 				/p 
		//- 			/label 
		//- 	/div 

		//- 	span.h_span_block_hotelудобства номера/span 
		//- 	div.conveniences
		//- 		input type="text" name="block_6" id="block_6" placeholder="2 спальни, 2 кровати" autocomplete="off" readonly="".counte_conveniences
		//- 	/div 
		//- 		div.dropBlockCon dropBlock hide
		//- 					div.drop_block_item
		//- 						div.drop_block_row
		//- 							span.dropItem dropItemCon1" id="dropItem1спальни/span 
		//- 							button.circle_drop_item circle_con_minus1" data-direction="minus
		//- 								-
		//- 							/button 
		//- 								input type="text" id ="counterCon1" value="0
		//- 							button.circle_drop_item circle_con_plus1" data-direction="plus
		//- 								+
		//- 							/button 
		//- 						/div 
		//- 						div.drop_block_row
		//- 							span.dropItem dropItemCon2" id="dropItem2кровати/span 
		//- 							button.circle_drop_item circle_con_minus2" data-direction="minus
		//- 								-
		//- 							/button 
		//- 								input id ="counterCon2" value="0
		//- 							button.circle_drop_item circle_con_plus2"data-direction="plus
		//- 								+
		//- 							/button 
		//- 						/div 
		//- 						div.drop_block_row
		//- 							span.dropItem dropItemCon3" id="dropItem3ванные комнаты/span 
		//- 							button.circle_drop_item circle_con_minus3" data-direction="minus
		//- 								-
		//- 							/button 
		//- 								input id ="counterCon3" value="0
		//- 							button.circle_drop_item circle_con_plus3" data-direction="plus
		//- 								+
		//- 							/button 
		//- 						/div 
		//- 						div.drop_function
		//- 							button id = "clear".link_drop_functionОЧИСТИТЬ/button 
		//- 							button.link_drop_function" id = "applyПРИМЕНИТЬ/button 
		//- 						/div 
		//- 					/div 
		//- 				/div 

		//- 	div.convenience
		//- 		span дополнительные удобства/span 
		//- 		div.not_active arrow_convenience/div 
		//- 		div.drop_block_convenience hide
		//- 			div.drop_item_convenience
		//- 						input type="checkbox".convenience-checkbox" name="drop_1" id="drop_1
		//- 						label for="drop_1Завтрак/label 
		
		//- 						input type="checkbox".convenience-checkbox" name="drop_2" id="drop_2
		//- 						label for="drop_2Письменный стол/label 

		//- 						input type="checkbox".convenience-checkbox" name="drop_3" id="drop_3
		//- 						label for="drop_3Стул для кормления/label 

		//- 						input type="checkbox".convenience-checkbox" name="drop_4" id="drop_4
		//- 						label for="drop_4Кроватка/label 

		//- 						input type="checkbox".convenience-checkbox" name="drop_5" id="drop_5
		//- 						label for="drop_5Телевизор/label 

		//- 						input type="checkbox".convenience-checkbox" name="drop_6" id="drop_6
		//- 						label for="drop_6Шампунь/label 
		//- 			/div 
					
		//- 		/div 
		//- 	/div 
		//- /div 