extends ../template-head/main.pug

block variables 
    - var pageTitle = 'Цвета и Типы'
    - var linkStyle =  '../css/UI.css'


block header
    a(href="../index.html")
        div.logo
block content
    div.container-blocks
        div.left-block
            ul.left-block__list-color
                li
                    div#square1.left-block__square
                    div.left-block__text
                        h2 Dark Shade 100%
                        p #1F2041
                li
                    div#square2.left-block__square
                    div.left-block__text
                        h2 Dark Shade 75%
                        p #1F2041
                li
                    div#square3.left-block__square
                    div.left-block__text
                        h2 Dark Shade 50%
                        p #1F2041
                li
                    div#square4.left-block__square
                    div.left-block__text
                        h2 Dark Shade 25%
                        p #1F2041
                li
                    div#square5.left-block__square
                    div.left-block__text
                        h2 Dark Shade 5%
                        p #1F2041
                li
                    div#square6.left-block__square
                    div.left-block__text
                        h2 Purple
                        p #BC9CFF
                li
                    div#square7.left-block__square
                    div.left-block__text
                        h2 Green
                        p #6FCF97
        div.right-block
            ul.right-block__list 
                li
                    span#h1.right-block__h H1
                    h1.right-block__text This one is the sub-section or widget title
                li
                    span#h2.right-block__h H2
                    h2.right-block__text Next one is the item title inside widgets
                li
                    span#h3.right-block__h H3
                    h3.right-block__text This is a label or CTA text
                li
                    span#p.right-block__h Body
                    p.right-block__text This is the body text which is used for most of the design, like paragraphs, lists, etc.


