extends ../../../template-head/main-ui.pug
include ../blocks/colors/colors.pug
include ../blocks/text-description/text-description.pug

block variables 
    - var pageTitle = 'Цвета и Типы'

block content
    div.colors-type
        div.colors-type__left-block
            ul.colors-type__list-color
                li.colors-type__item
                    +colors()
                li.colors-type__item
                    +colors({
                        colorItem: 'shade-secondary',
                        title:'Dark Shade 75%',
                    })
                li.colors-type__item
                    +colors({
                        colorItem: 'shade-grey',
                        title: 'Dark Shade 50%',
                    })
                li.colors-type__item
                    +colors({
                        colorItem: 'shade',
                        title: 'Dark Shade 25%',
                    })
                li.colors-type__item
                    +colors({
                        colorItem: 'shade-light',
                        title: 'Dark Shade 5%',
                    })
                li.colors-type__item
                    +colors({
                        colorItem: 'purple',
                        title: 'Purple',
                        hex: '#BC9CFF'
                    })
                li.colors-type__item
                    +colors({
                        colorItem: 'green',
                        title: 'Green',
                        hex: '#6FCF97'
                    })
        div.colors-type__right-block
            ul.colors-type__right-block-list
                li.colors-type__right-block-item
                    +text-description({
                        textSize: 'big-size',
                    })
                li.colors-type__right-block-item
                    +text-description({
                        textSize: 'medium-size',
                        description: 'Next one is the item title inside widgets',
                        title: 'H2'
                    })
                li.colors-type__right-block-item
                    +text-description({
                        textSize: 'small-size',
                        description: 'This is a label or CTA text',
                        title: 'H3'
                    })
                li.colors-type__right-block-item
                    +text-description({
                        textSize: 'default-size',
                        description: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
                        title: 'Body'
                    })
