@import '@variables';

.colors-type {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 140px 156px 145px 149.74px;

  &__left-block {
    width: 281.36px;
    height: 610px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
  }

  &__title-color {
    font-size: $font-size-medium;
    display: block;
    font-weight: bold;
  }

  &__color-hex {
    font-size: $font-size-medium;
    display: block;
  }

  &__text {
    line-height: 27.79px;
  }

  &__list-color {
    padding: 0;
  }

  #square-color-1 {
    background: $color-shade-dark;
  }

  #square-color-2 {
    background: $color-shade-secondary;
  }

  #square-color-3 {
    background: $color-shade-grey;
  }

  #square-color-4 {
    background: $color-shade;
  }

  #square-color-5 {
    background: $color-shade-light;
  }

  #square-color-6 {
    background: $color-purple;
  }

  #square-color-7 {
    background: $color-green;
  }

  &__right-block {
    width: 436px;
  }

  &__right-block-list {
    padding: 0;
    list-style: none;
  }

  &__right-block-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__description {
    width: 369px;
    margin: 0;
  }

  &__big-text {
    font-size: $font-size-big;
  }

  &__big-text.colors-type__text-size-caption {
    margin-left: 8px;
  }

  &__medium-text {
    font-size: $font-size-medium;
  }

  &__medium-text.colors-type__text-size-caption {
    margin-left: 10px;
  }

  &__small-text {
    font-size: $font-size-main;
  }

  &__small-text.colors-type__text-size-caption {
    margin-left: 18px;
  }

  &__body-text {
    font-size: $font-size-small;
  }

  &__body-text.colors-type__text-size-caption {
    margin-left: 5px;
  }

  &__text-size-caption {
    font-weight: bold;
    margin: 0;
  }
}