@import '../blocks/ui-header.scss';
@import '@variables';

.colors-type {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 140px 156px 145px 149.74px;
}

.left-block {
  width: 281.36px;
  height: 610px;

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    list-style: none;
  }

  &__square {
    width: 70px;
    height: 70px;
    margin-right: 40px;
    background: #1f2041;
    border-radius: 6px;
  }

  #square2 {
    background: $color-shade-secondary;
  }

  #square3 {
    background: $color-shade-grey;
  }

  #square4 {
    background: $color-shade;
  }

  #square5 {
    background: $color-shade-light;
  }

  #square6 {
    background: $color-purple;
  }

  #square7 {
    background: $color-green;
  }

  &__text {
    width: 171px;
    height: 56px;

    & h2 {
      margin: 0;
      font-size: $font-size-medium;
      line-height: 28px;
    }

    & p {
      margin: 0;
    }
  }
}

.color-type {
  &__right-block {
    display: flex;
    width: 436px;
    height: 321px;
  }

  &__list {
    width: 436px;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  & li {
    display: flex;
    margin-bottom: 50px;
    list-style: none;
  }

  & h1 {
    font-size: $font-size-big;
    line-height: 29px;
  }

  #h1 {
    color: $color-shade;
    font-size: $font-size-big;
    line-height: 29px;
  }

  & h2 {
    font-size: $font-size-medium;
    line-height: 23px;
  }

  #h2 {
    color: $color-shade;
    font-size: $font-size-medium;
    line-height: 23px;
  }

  & h3 {
    font-size: $font-size-small;
    line-height: 15px;
  }

  #h3 {
    margin-left: 10px;
    color: $color-shade;
    font-size: $font-size-small;
    line-height: 15px;
  }

  & p {
    font-size: $font-size-main;
    line-height: 24px;
  }

  #p {
    color: $color-shade;
    font-size: $font-size-main;
    line-height: 24px;
  }

  &__h {
    color: $color-shade;
  }

  &__text {
    width: 369px;
    margin: 0;
    color: $color-shade-dark;
    font-size: $font-size-big;
    line-height: 29px;
  }
}
