extends ../../../template-head/main-ui.pug

block variables 
    - var pageTitle = 'Цвета и Типы'

block content
    div.container-blocks
        div.left-block
            ul.left-block__list-color
                li.left-block__item
                    div#square1.left-block__square
                    div.left-block__text
                        h2.left-block__title-color Dark Shade 100%
                        p.left-block__color-hex #1F2041
                li.left-block__item
                    div#square2.left-block__square
                    div.left-block__text
                        h2.left-block__title-color Dark Shade 75%
                        p.left-block__color-hex #1F2041
                li.left-block__item
                    div#square3.left-block__square
                    div.left-block__text
                        h2.left-block__title-color Dark Shade 50%
                        p.left-block__color-hex #1F2041
                li.left-block__item
                    div#square4.left-block__square
                    div.left-block__text
                        h2.left-block__title-color Dark Shade 25%
                        p.left-block__color-hex #1F2041
                li.left-block__item
                    div#square5.left-block__square
                    div.left-block__text
                        h2.left-block__title-color Dark Shade 5%
                        p.left-block__color-hex #1F2041
                li.left-block__item
                    div#square6.left-block__square
                    div.left-block__text
                        h2.left-block__title-color Purple
                        p.left-block__color-hex #BC9CFF
                li.left-block__item
                    div#square7.left-block__square
                    div.left-block__text
                        h2.left-block__title-color Green
                        p.left-block__color-hex #6FCF97
        div.right-block
            ul.right-block__list 
                li.right-block__item
                    span#h1.right-block__h H1
                    h1.right-block__text This one is the sub-section or widget title
                li.right-block__item
                    span#h2.right-block__h H2
                    h2.right-block__text Next one is the item title inside widgets
                li.right-block__item
                    span#h3.right-block__h H3
                    h3.right-block__text This is a label or CTA text
                li.right-block__item
                    span#p.right-block__h Body
                    p.right-block__text This is the body text which is used for most of the design, like paragraphs, lists, etc.


