.text-field {
    user-select: none;
    width: 100%;
    color: rgba(31, 32, 65, 0.25);
    
    &__input {
        user-select: none;
        height: 44px;
        width: 100%;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        padding: 0 15px;
        color: rgba(31, 32, 65, 0.25);
    }

    &__input:hover {
       color: rgba(31,32,65,0.75);
       border-color: rgba(31,32,65,0.5);
    }

    &__input::placeholder {
        color: rgba(31, 32, 65, 0.25);
    }

    &__input::-webkit-input-placeholder {
        color: rgba(31, 32, 65, 0.25);
    }

    &__input::-moz-placeholder {
        color: rgba(31, 32, 65, 0.25);
    }
}