extends ../../../template-head/main_index.pug
include ../../../blocks/header/header.pug
include ../../../blocks/footer/footer.pug


block variables
    - pageTitle = '«Toxin» | Вход'

block header
    +header
block content
    div.block_login
        div.container
            div.login_user
                div.container_user
                    h1(style="margin:0; margin-bottom:20px;") Войти
                    input.input_favorite(placeholder="Email" autocomplete="off" required="")
                    input.input_favorite(placeholder="Пароль" autocomplete="off" type="password" required="")
                    div.btn_login.button
                        p войти
                    div.if_have_account
                            div.question
                                p Нет аккаунта на Toxin?
                            a(href="Registration.html")
                                div.login.button
                                    p создать
block footer
    +footer