

.login-page {
	height:684px;
	background-image:url(../../../assets/image/registration_bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;

	&__container {
		padding: 172px 0;
	}
}