extends ../../../template-head/main-index.pug
include ../../../blocks/header/header.pug
include ../../../blocks/footer/footer.pug
include ../../../blocks/button/button.pug
include ../../../blocks/login-card/login-card.pug

block variables
    - pageTitle = '«Toxin» | Вход'
    - roomsList = require('./utils/login-backgrounds.json');

block content
    .login-page.js-login-page(style="background-image: url('assets/image/registration-bg.jpg');", data-src= roomsList)
        .login-page__container
            +login-card
            