extends ../../../template-head/main-index.pug
include ../../../blocks/header/header.pug
include ../../../blocks/footer/footer.pug
include ../../../blocks/button/button.pug
include ../../../blocks/login-card/login-card.pug

block variables
    - pageTitle = '«Toxin» | Вход'

block content
    .login-page
        .login-page__container
            +login-card
            