@import '@variables';

.login-page {
  position: relative;
  height: 699px;

  &__container {
    max-width: 380px;
    margin: 0 auto;
    padding: 172px 0;

    @media (max-width: 400px) {
      margin: 0 10px;
    }
  }
}
