@import '@variables';

.filter {
  &__search-room {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 380px;
    height: 374px;
    padding: 40px 30px 30px;
    color: #1f2041;
    font-style: normal;
    background: #fff;
    border: 1px solid rgb(0 0 0 / 12%);
    border-radius: 4px;
    box-shadow: 0 0 25px rgb(0 0 0 / 20%);

    & p {
      margin-bottom: 5.44px;
    }

    & .filter {
      &__text-field-calendar {
        & .datepicker-here {
          width: 320px;
          padding: 12px 12px 8.44px 15px;
        }
      }
    }
  }

  &__guest-title {
    font-weight: bold;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__title {
    margin: 0;
    font-size: $font-size-big;
    line-height: 29px;
  }

  &__container-search-room {
    display: flex;
    justify-content: flex-start;
  }

  &__date-arrival {
    position: relative;
    border: 1px solid $color-shade;
    border-radius: 4px;
    cursor: pointer;
  }

  &__residence {
    margin-top: 15px;
  }

  &__search-room-title {
    margin-bottom: 5px;
  }

  &__residence input {
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  &__container-date-departure {
    position: relative;
    margin-left: 18px;
  }

  &__button-pay {
    width: 320px;
    height: 19px;
    padding: 15px 0 10px;
    color: white;
    text-align: center;
    background: $gradient-main;
    border-radius: 22px;
  }

  &__button-pay:hover {
    background: linear-gradient(90deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 40px;
  }

  &__search-room-link {
    height: 44px;
    margin-top: 32px;
  }

  &__button-pay p {
    margin: 0;
  }

  &__block-date {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  &__block-date p {
    margin-top: 21.7px;
    font-size: $font-size-small;
  }

  &__block-date h3 {
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  &__container-drop-down {
    margin: 14px 0 31px;
  }
}

@media all and (max-width: 1200px) {
  .filter {
    &__container-search-room {
      padding-left: 0;
    }

    &__search-room {
      left: 10px;
      margin: 0 auto;
    }

    &__title {
      font-size: $font-size-medium;
    }
  }
}

@media all and (max-width: 425px) {
  .filter {
    &__search-room {
      height: auto;
    }

    &__date_departure {
      width: 100%;
    }

    & .drop-down {
      &__name {
        width: auto;
      }
    }
  }
}

@media all and (max-width: 375px) {
  .filter {
    &__search-room {
      width: auto;
    }

    & .calendar-container {
      transform: translate(-15px, 5px);
    }
  }
}

@media all and (max-width: 340px) {
  .filter {
    & .calendar-container {
      transform: translate(-36px, 5px);
    }
  }
}
