include ../dropDown/dropDown.pug
include ../button/button.pug
include ../range-date-calendar/range-date-calendar.pug

mixin filter(options={})
    - const {title,buttonOptions,dropDownOptions} = options;

    .filter.js-filter
        .filter__container-search-room
            .filter__search-room
                h1.filter__title !{title}
                .filter__residence
                    .filter__block-date
                        .filter__block-date-calendar
                            +range-date-calendar
                        .filter__container-dropDown
                            h3.filter__search-room-title Гости
                            +dropDown(dropDownOptions)
                        +button(buttonOptions)