.filter {
	height:830px;
	background-image:url(../../assets/image/content.jpg);
	background-repeat:no-repeat;
	background-position: center;

	&__container-search-room {
		padding: 70px 0 0 180px;
	}

	&__search-room {
		width:380px;
		background:#fff;
		color:#1F2041;
		font-weight:bold;
		font-style:normal;
		font-family:Montserrat,sans-serif;
		padding:40px 30px 30px 30px;
		border:1px solid rgba(0, 0, 0, 0.12);
		box-sizing:border-box;
		box-shadow:0px 0px 25px rgba(0, 0, 0, 0.2);
		border-radius:4px;
		display:flex;
		flex-direction:column;

		& h1 {
			font-size: 24px;
			margin:0;
		}

		& p {
			margin-bottom: 5.44px;
		}

		& .filter__text-field-calendar .datepicker-here {
			width: 320px;
			padding: 12px 12px 8.44px 15px;
		}

		

	}

	&__search-room-title {
		text-transform: uppercase;
	}

	&__date_departure {
		width: 150px;
	}

}



.filter__search-room .filter__date-arrival, .filter__date_departure {
	position:relative;
	border-radius: 4px;
	border:1px solid rgba(31, 32, 65, 0.25);
	cursor: pointer;
}

.filter__search-room .filter__date-arrival:hover, .filter__date_departure:hover {
	border:1px solid #787878;
}

.filter__residence {
	margin-top: 21px;
}

.filter__search-room-title {
	margin-bottom: 5px;
}

.filter__search-room .filter__residence input {
	cursor:pointer;
	border:none;
	border-radius:3px;
}

.filter__search-room .filter__container-date-departure {
	margin-left: 18px;
	position: relative;
}

.filter__search-room .filter__button-pay{
	width:320px;
	height:19px;
	border-radius:22px;
	background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color:white;
	text-align:center;
	padding: 15px 0 10px 0;
}

.filter__search-room .filter__residence .filter__button-pay:hover {
	background:linear-gradient(90deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius:40px;
}

.filter__search-room-link {
	height: 44px;
	margin-top:32px;
}

.filter__search-room-link .filter__button-pay p {
	margin: 0;
}

.filter__block-date {
	display:flex;
	justify-content:space-around;
	flex-direction: column;
	text-align:left;
	flex-wrap:wrap;
	margin:0;
	padding:0;
}

.filter__block-date p {
	margin-top: 21.7px;
	font-size: 12px;
}

.filter__block-date h3 {
	font-size: 12px;
	text-transform: uppercase;
}

.filter__container-dropDown {
	margin: 21px 0 31px 0;
}

@media all and (max-width:1200px ) {
    .filter .filter__container-search-room {
		padding-left: 0;
	}
	
	.filter .filter__search-room {
		padding: 15px;
		margin: 0 auto;
	}

    .filter .filter__search-room {
		left: 10px;
		width: 350px;
	}
}

@media all and (max-width:425px) {
    .filter .filter__search-room {
		width: auto;
    }

    .filter__search-room .filter__date_departure {
		width: 100%;
	}

    .filter__search-room .filter__container-dropDown .dropDown__name {
		width: auto;
	}

}