@import '@variables';

body {
  margin: 0;
  padding: 0;
  color: $color-shade-dark;
  font-weight: 400;
  font-size: $font-size-main;
  font-family: $font-family-main;
  font-style: normal;
  line-height: 24px;
}
