$color-shade-dark: #1F2041;
$color-shade-secondary: rgba(31, 32, 65, 0.75);
$color-shade-grey: rgba(31, 32, 65, 0.5);
$color-shade: rgba(31, 32, 65, 0.25);
$color-shade-light: rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-green: #6FCF97;

$gradient-main: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$gradient-secondary: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

$font-family-main: Montserrat, Tahoma, sans-serif;
$font-family-secondary: Quicksand, Tahoma, sans-serif;

$font-size-main: 14px;
$font-size-small: 12px;
$font-size-medium: 19px;
$font-size-big: 24px;