@import '../nav-menu/nav-menu.scss';
@import '@variables';

.header {
	height:70px;
	width: 100%;
	box-shadow: 0px 10px 20px $color-shade-light;
	background: #FFFFFF;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1160px;
		min-height: 70px;
		margin: 0 auto;
		user-select: none;
	}

	&__right-part{
		display:flex;
		justify-content:space-around;
		height:35px;
		align-items: center;
		text-align: center;
	}

	&__user {
		padding-left: 20px;
		border-left: 1px solid rgba(31, 32, 65, 0.1);
		height: 30px;
		display: flex;
		align-items: center;
	}

	&__user-name {
		color: $color-shade-grey;
		text-transform: none;
		font-size: $font-size-main;
		font-weight: 400;
		text-decoration: none;
	}
}

@media all and (max-width:1200px ) {
	.header__right-part {
		display:none;
		justify-content:space-between;
	}
}

@media all and (max-width:425px) {
	.header__container {
		margin-bottom: 50px;
	}
}

.li_burger {
	padding:6px 0px 8px 7px;
	font-size:16px;
	margin:0;
	display:flex;
	flex-direction:row;
	width:320px;
	position:relative;
	z-index: 99;
	right:260px;
	background:#fff;
	border-bottom:1px solid #E8E8EC;	
	box-shadow:0px -2px 4px 0px #E8E8EC;
}

.li_burger a:first-child {
	border-radius:0 0 4px 4px;
}

.li_burger a:last-child {
	border-radius:4px 4px 0 0;
}

.menu_burger {
	list-style:none;
	padding:0;
	margin-top:50px;
	padding-left:-20px;
	display:none;
	user-select:none;

	.nav-burger__link {
		width: 100%;
		text-decoration:none;
		color: $color-shade-grey;
	}
}

.menu_burger a {
	background:#fff;
}

.header__container-login {
	display:flex;
	text-transform:uppercase;
	font-weight:bold;
	font-size: $font-size-small;
	text-align:center;
}

.header__container-login .header__btn-login:hover {
	opacity: 0.5;
}

.header__container-login .header__btn-login a{
	color:$color-purple;
}

.header__container-login .header__btn-registration a {
	background: $gradient-main;
	color:#fff;
	border-radius:22px;
	margin-left:20px;
	border:3px solid transparent;
}

.header__container-login .header__btn-registration a {
	color:#fff;
}

.header__container-login .header__btn-registration:hover {
	opacity: 0.5;
}


.header__container-login p {
	padding:0;
	margin:7px 0;
}

.burger:hover > .menu_burger{
	display:block;
}

.burger:hover > .border2{
	opacity:0;
	transition:0.2s;
}

.burger:hover > .border1{
	transform:rotate(45deg);
	top:20px;
	transition:0.2s;
}

.burger:hover > .border3{
	transform:rotate(-45deg);
	bottom:22px;
	transition:0.2s;
}

.burger:hover > .border {
	animation:lir 2s infinite;
}

.burger {
	width:50px;
	height:50px;
	display:none;
	position:relative;
}

.nav-burger__border1 {
	height:8px;
	width:50px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	position:absolute;
	top:4px;
	left:0;
	transition:0.2s;
	outline: none;
	border: none;
}
.nav-burger__border2 {
	position:absolute;
	width:50px;
	height:8px;
	top:21px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	transition:0.2s;
	outline: none;
	border: none;
}

.nav-burger__border3 {
	height:8px;
	width:50px;
	background:linear-gradient(180deg, #BC9CFF 0%,#8BA4F9 100%);
	position:absolute;
	bottom:4px;
	left:0;
	transition:0.2s;
	outline: none;
	border: none;
}

@media all and (max-width:1200px ) {
    .burger {
		display:block;
		margin-right:15px;
	}
}