include ../logotype/logotype.pug
include ../button/button.pug
include ../nav-menu/nav-menu.pug

mixin header({ } = {})
    nav.header
        div.header__container
            +logotype
            .header__right-part
                +nav-menu({
                        listMenu: [
                        {name: 'О нас', href: '/mock-address/change-me'},
                        {name: 'Услуги', href: '/mock-address/change-me', submenu: [
                            {name: 'Услуга 1', href: '/mock-address/change-me'},
                            {name: 'Услуга 2', href: '/mock-address/change-me'}
                        ]},
                        {name: 'Вакансии', href: '/mock-address/change-me'},
                        {name: 'Новости', href: '/mock-address/change-me'},
                        {name: 'Соглашения', href: '/mock-address/change-me', submenu: [
                            {name: 'Соглашение 1', href: '/mock-address/change-me'},
                            {name: 'Соглашение 2', href: '/mock-address/change-me'}
                        ]},
                    ]
                })
                .header__container-logup.logup
                    .header__btn-login.login
                        +button({
                            type: 'border',
                            text: 'Войти',
                            href: 'login.html',
                            small: true
                        })
                    .header__btn-registration.registration
                        +button({
                            type: 'background',
                            text: 'Зарегистрироваться',
                            href: 'Registration.html',
                            small: true
                        })
            div.burger.burger_menu_active
                    button.border1.border
                    button.border2.border
                    button.border3.border
                    ul.menu_burger
                        a(href="../../index.html")
                            li.li_burger.li_burger1 Главная
                        a(href="#")
                            li.li_burger.li_burger1 О Нас
                        a(href="#")
                            li.li_burger Услуги
                        a(href="#")
                            li.li_burger Вакансии
                        a(href="#")
                            li.li_burger Новости
                        a(href="#")
                            li.li_burger Соглашения
                        a(href="login.html")
                            li.li_burger
                                b Войти
                        a(href="Registration.html")
                            li.li_burger.li_burger7
                                b Регистрация