include ../logotype/logotype.pug
include ../button/button.pug
include ../nav-menu/nav-menu.pug
include ./nav-burger/nav-burger.pug

mixin header({ } = {})
    nav.header
        div.header__container
            +logotype
            .header__right-part
                +nav-menu({
                        listMenu: [
                        {name: 'О нас', href: '/mock-address/change-me'},
                        {name: 'Услуги', href: '/mock-address/change-me', submenu: [
                            {name: 'Услуга 1', href: '/mock-address/change-me'},
                            {name: 'Услуга 2', href: '/mock-address/change-me'}
                        ]},
                        {name: 'Вакансии', href: '/mock-address/change-me'},
                        {name: 'Новости', href: '/mock-address/change-me'},
                        {name: 'Соглашения', href: '/mock-address/change-me', submenu: [
                            {name: 'Соглашение 1', href: '/mock-address/change-me'},
                            {name: 'Соглашение 2', href: '/mock-address/change-me'}
                        ]},
                    ]
                })
                .header__container-logup.logup
                    .header__btn-login.login
                        +button({
                            type: 'border',
                            text: 'Войти',
                            href: 'login.html',
                            small: true
                        })
                    .header__btn-registration.registration
                        +button({
                            type: 'background',
                            text: 'Зарегистрироваться',
                            href: 'Registration.html',
                            small: true
                        })
            +nav-burger({
                navLinks: [
                    { title: 'О нас', link: '/mock-address/change-me' },
                    { title: 'Услуги', link: '/mock-address/change-me' },
                    { title: 'Вакансии', link: '/mock-address/change-me' },
                    { title: 'Новости', link: '/mock-address/change-me' },
                    { title: 'Соглашения', link: '/mock-address/change-me' },
                    { title: 'Главная', link: 'index.html' },
                ]
            })