.header {
	height:70px;
	width: 100%;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	background: #FFFFFF;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1160px;
	min-height: 70px;
	margin: 0 auto;
}

.header__right-part{
	display:flex;
	justify-content:space-around;
	height:35px;
	align-items: center;
	text-align: center;
}

@media all and (max-width:1200px ) {
	.header__right-part {
		display:none;
		justify-content:space-between;
	}
}

@media all and (max-width:425px) {
	.header__container {
		margin-bottom: 50px;
	}
}


.li_burger {
	padding:6px 0px 8px 7px;
	font-size:16px;
	margin:0;
	display:flex;
	flex-direction:row;
	width:320px;
	position:relative;
	right:260px;
	background:#fff;
	border-bottom:1px solid #E8E8EC;	
	box-shadow:0px -2px 4px 0px #E8E8EC;
}

.li_burger a:first-child {
	border-radius:0 0 4px 4px;
}

.li_burger a:last-child {
	border-radius:4px 4px 0 0;
}

.menu_burger {
	list-style:none;
	padding:0;
	margin-top:50px;
	padding-left:-20px;
	display:none;
	user-select:none;
}

.menu_burger a {
	background:#fff;
}

.burger:hover > .menu_burger{
	display:block;
}

.burger:hover > .border2{
	opacity:0;
	transition:0.2s;
}

.burger:hover > .border1{
	transform:rotate(45deg);
	top:20px;
	transition:0.2s;
}

.burger:hover > .border3{
	transform:rotate(-45deg);
	bottom:22px;
	transition:0.2s;
}

.burger:hover > .border {
	animation:lir 2s infinite;
}

.burger {
	width:50px;
	height:50px;
	display:none;
	z-index:99;
	position:relative;
}

@media all and (max-width:1200px ) {
    .burger {
		display:block;
		margin-right:15px;
	}
}