include ../logo/logotype.pug
include ../buttons/buttons.pug

mixin header({ } = {})
    .header
        .header__container
            .header__logotype 
                +logotype
            .header__navbar
                .header__right_Part_Header.navbar
                    include ../nav-menu/nav-menu.pug
                    +nav-menu({
                         listMenu: [
                            {name: 'О нас', href: '/mock-address/change-me'},
                            {name: 'Услуги', href: '/mock-address/change-me', submenu: [
                                {name: 'Услуга 1', href: '/mock-address/change-me'},
                                {name: 'Услуга 2', href: '/mock-address/change-me'}
                            ]},
                            {name: 'Вакансии', href: '/mock-address/change-me'},
                            {name: 'Новости', href: '/mock-address/change-me'},
                            {name: 'Соглашения', href: '/mock-address/change-me', submenu: [
                                {name: 'Соглашение 1', href: '/mock-address/change-me'},
                                {name: 'Соглашение 2', href: '/mock-address/change-me'}
                            ]},
                        ]
                    })
                .header__container-logup
                    .header__btn-login
                        +button({
                            group: 'border',
                            text: 'Войти',
                            href: 'sign-in.html',
                            small: true
                        })
                        .header__btn-registration
                        +button({
                            group: 'background',
                            text: 'Зарегистрироваться',
                            href: 'sign-up.html',
                            small: true
                        })


                //- div.navbar__burger.navbar__menu-burger-active
                //-     button.border1.border
                //-     button.border2.border
                //-     button.border3.border
                //-     ul.navbar__menu-burger
                //-         a(href="#")
                //-             li.navbar__li-burger.navbar__li-burger1 Главная
                //-         a(href="#")
                //-             li.navbar__li-burger.navbar__li-burger1 О Нас
                //-         a(href="#")
                //-             li.navbar__li-burger Услуги
                //-         a(href="#")
                //-             li.navbar__li-burger Вакансии
                //-         a(href="#")
                //-             li.navbar__li-burger Новости
                //-         a(href="#")
                //-             li.navbar__li-burger Соглашения
                //-         a(href="./website-pages/login/login.html")
                //-             li.navbar__li-burger
                //-                 b Войти
                //-         a(href="./website-pages/Registration/Registration.html")
                //-             li.navbar__li-burger.navbar__li-burger7
                //-                 b Регистрация