include ../logo/logotype.pug

mixin header({ } = {})
    nav.header
        .header__container
            .header__logotype 
                +logotype
            div.header__right_Part_Header
                div.header__list
                    ul.header__menu-list
                        li
                            u
                                a(href="./ui-kit/site-pages.html") UI Компоненты
                        li
                            a(href="#") О нас
                        li
                            a.header__arrow-list-li#arrow_li_left(href="#") Услуги
                            ul
                                li Услуга 1
                                li Услуга 2
                                li Услуга 3
                        li
                            a(href="#") Вакансии
                        li
                            a(href="#") Новости
                        li
                            a.header__arrow-list-li(href="#") Соглашения
                            ul
                                li Соглашение
                                li Соглашение
                                li Соглашение
                div.header__logup
                    a(href="./website-pages/login/login.html")
                        div.header__login
                            p Войти
                    a(href="./website-pages/registration/Registration.html")
                        div.header__registration
                            p Зарегистрироваться
                            
                div.header__burger.header__menu-burger-active
                    button.border1.border
                    button.border2.border
                    button.border3.border
                    ul.header__menu-burger
                        a(href="#")
                            li.header__li-burger.header__li-burger1 Главная
                        a(href="#")
                            li.header__li-burger.header__li-burger1 О Нас
                        a(href="#")
                            li.header__li-burger Услуги
                        a(href="#")
                            li.header__li-burger Вакансии
                        a(href="#")
                            li.header__li-burger Новости
                        a(href="#")
                            li.header__li-burger Соглашения
                        a(href="./website-pages/login/login.html")
                            li.header__li-burger
                                b Войти
                        a(href="./website-pages/Registration/Registration.html")
                            li.header__li-burger.header__li-burger7
                                b Регистрация