@import '../nav-menu/nav-menu.scss';
@import '@variables';

.header {
	height:70px;
	width: 100%;
	box-shadow: 0px 10px 20px $color-shade-light;
	background: #FFFFFF;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1160px;
		min-height: 69.5px;
		margin: 0 auto;
		user-select: none;
	}

	&__right-part{
		display:flex;
		justify-content:space-around;
		height:34px;
		align-items: center;
		text-align: center;
	}

	&__user {
		padding-left: 20px;
		border-left: 1px solid rgba(31, 32, 65, 0.1);
		height: 30px;
		display: flex;
		align-items: center;
	}

	&__user-name {
		color: $color-shade-grey;
		text-transform: none;
		font-size: $font-size-main;
		font-weight: 400;
		text-decoration: none;
	}

	&__container-login {
		display:flex;
		text-transform:uppercase;
		font-weight:bold;
		font-size: $font-size-small;
		text-align:center;
	}

	&__btn-login {
		margin-right: 7px;

		&:hover {
			opacity: 0.5;
		}

		& a {
			color:$color-purple;
		}
	}

	&__btn-registration {
		width: auto;
		& a {
			background: $gradient-main;
			color:#fff;
			border-radius:22px;
			margin-left:5px;
			border:2px solid transparent;
		}
		
		:hover {
			opacity: 0.5;
		}
	}

	&__container-login {
		& p {
			padding:0;
			margin:7px 0;
		}
	}
}

@media all and (max-width:1200px ) {
	.header {
		&__right-part {
			display:none;
			justify-content:space-between;
		}
	}
}

@media all and (max-width:425px) {
	.header {
		&__container {
			margin-bottom: 50px;
		}
	}
}