<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/cards.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="image/Logo.png" type="image/png">
    <link rel="stylesheet" href="../css/UI.css">
    <link rel="stylesheet" href="../css/searchRoom.css">
    <link rel="stylesheet" href="../css/Registration.css">
    <link rel="stylesheet" href="../css/roomDetails.css">
    <link rel="stylesheet" href="../css/range.css">
    <link rel="stylesheet" href="../css/login.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="awesome/fontawesome.min.js"></script>
    <script src="https://kit.fontawesome.com/bc390f5649.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <title>Карточки</title>
  </head>
  <body><a href="../index.html">
      <div class="logo"></div></a>
    <div class="container-cards">
      <div class="left-cards">
        <div class="left-cards__blocks1">
          <div class="content">
            <div class="search-room">
              <h1>Найдём номера под ваши пожелания</h1>
              <div class="residence">
                <div class="block_date">
                  <div class="block1">
                    <h3>Прибытие</h3>
                    <div class="date_arrival">ДД.ММ.ГГГГ
                      <div class="arrow"></div>
                      <div class="calendar_main hide">
                        <div class="calendar hide">
                          <div class="container">
                            <div class="month">
                              <h2>Август 2020</h2>
                              <div class="date">
                                <div class="day">Пн </div>
                                <div class="day">Вт </div>
                                <div class="day">Ср </div>
                                <div class="day">Чт </div>
                                <div class="day">Пт </div>
                                <div class="day">Сб </div>
                                <div class="day">Вс </div>
                                <div class="number">29 </div>
                                <div class="number">30 </div>
                                <div class="number">31 </div>
                                <div class="number">1 </div>
                                <div class="number">2 </div>
                                <div class="number">3 </div>
                                <div class="number">4 </div>
                                <div class="number">5 </div>
                                <div class="number">6 </div>
                                <div class="number">7 </div>
                                <div class="number">8 </div>
                                <div class="number">9 </div>
                                <div class="number">10 </div>
                                <div class="number">11 </div>
                                <div class="number">12 </div>
                                <div class="number">13 </div>
                                <div class="number">14 </div>
                                <div class="number">15 </div>
                                <div class="number">16 </div>
                                <div class="number">17 </div>
                                <div class="number">18 </div>
                                <div class="number">19 </div>
                                <div class="number">20 </div>
                                <div class="number">21 </div>
                                <div class="number">22 </div>
                                <div class="number">23 </div>
                                <div class="number">24 </div>
                                <div class="number">25 </div>
                                <div class="number">26 </div>
                                <div class="number">27 </div>
                                <div class="number">28 </div>
                                <div class="number">29 </div>
                                <div class="number">30 </div>
                                <div class="number">31 </div>
                                <div class="number">1</div>
                              </div>
                            </div>
                            <div class="function">
                              <div class="clear">Очистить</div>
                              <div class="apply">Применить</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block2" style="margin-left:18px;">
                    <h3>Выезд</h3>
                    <div class="date_departure">ДД.ММ.ГГГГ
                      <div class="arrow"></div>
                      <div class="calendar_main hide" style="left:-184px;">
                        <div class="calendar">
                          <div class="container">
                            <div class="month">
                              <h2>Август 2020</h2>
                              <div class="date">
                                <div class="day">Пн</div>
                                <div class="day">Вт</div>
                                <div class="day">Ср</div>
                                <div class="day">Чт</div>
                                <div class="day">Пт</div>
                                <div class="day">Сб</div>
                                <div class="day">Вс</div>
                                <div class="number">29</div>
                                <div class="number">30</div>
                                <div class="number">31</div>
                                <div class="number">1</div>
                                <div class="number">2</div>
                                <div class="number">3</div>
                                <div class="number">4</div>
                                <div class="number">5</div>
                                <div class="number">6</div>
                                <div class="number">7</div>
                                <div class="number">8</div>
                                <div class="number">9</div>
                                <div class="number">10</div>
                                <div class="number">11</div>
                                <div class="number">12</div>
                                <div class="number">13</div>
                                <div class="number">14</div>
                                <div class="number">15</div>
                                <div class="number">16</div>
                                <div class="number">17</div>
                                <div class="number">18</div>
                                <div class="number">19</div>
                                <div class="number">20</div>
                                <div class="number">21</div>
                                <div class="number">22</div>
                                <div class="number">23</div>
                                <div class="number">24</div>
                                <div class="number">25</div>
                                <div class="number">26</div>
                                <div class="number">27</div>
                                <div class="number">28</div>
                                <div class="number">29</div>
                                <div class="number">30</div>
                                <div class="number">31</div>
                                <div class="number">1</div>
                              </div>
                              <div class="function">
                                <div class="clear">Очистить</div>
                                <div class="apply">Применить</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="block3">
                    <h3>Гости</h3>
                    <div class="guests">
                      <input class="counte_guests" placeholder="Сколько Гостей" autocomplete="off" readonly="">
                      <div class="arrow"></div>
                    </div>
                    <div class="dropBlock hide">
                      <div class="drop_block_item">
                        <div class="drop_block_row">
                          <h3 class="dropItem" id="dropItem1">Взрослые</h3>
                          <div class="db1"> 
                            <button class="circle_drop_item circle_drop_minus1">-</button>
                            <input id="counter1" type="text" value="0">
                            <button class="circle_drop_item circle_drop_plus1">+</button>
                          </div>
                        </div>
                        <div class="drop_block_row">
                          <h3 class="dropItem" id="dropItem2">Дети</h3>
                          <div class="db2"> 
                            <button class="circle_drop_item circle_drop_minus2">-</button>
                            <input id="counter2" value="0">
                            <button class="circle_drop_item circle_drop_plus2">+</button>
                          </div>
                        </div>
                        <div class="drop_block_row">
                          <h3 class="dropItem" id="dropItem3">Младенцы</h3>
                          <div class="db3"> 
                            <button class="circle_drop_item circle_drop_minus3">-</button>
                            <input id="counter3" value="0">
                            <button class="circle_drop_item circle_drop_plus3">+</button>
                          </div>
                        </div>
                        <div class="drop_function">
                          <button class="link_drop_function" id="clear">ОЧИСТИТЬ</button>
                          <button class="link_drop_function" id="apply">ПРИМЕНИТЬ</button>
                        </div>
                      </div>
                    </div>
                  </div><a href="layout/searchRoom.html">
                    <div class="block4">
                      <p style="padding-top:15px">подобрать номер</p>
                      <div class="arrow_right"></div>
                    </div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left-cards__blocks2">
          <div class="registration_user">
            <div class="container_user">
              <div class="head">
                <h1>Регистрация аккаунта</h1>
              </div>
              <div class="container_name">
                <div class="user_name">
                  <input class="input_favorite" placeholder="Имя" autocomplete="off">
                  <input class="input_favorite" placeholder="Фамилия" autocomplete="off">
                </div>
                <div class="gender">
                  <input class="gender_checkbox" id="block_checkbox_1" type="radio" name="block_checkbox">
                  <label for="block_checkbox_1">Мужчина</label>
                  <input class="gender_checkbox" id="block_checkbox_2" type="radio" name="block_checkbox">
                  <label for="block_checkbox_2">Женщина</label>
                </div>
                <div class="date_birthday">
                  <h4 style="margin:0 0 5px 0;">дата рождения</h4>
                  <input class="input_favorite" placeholder="ДД.ММ.ГГГГ" autocomplete="off" readonly="">
                </div>
                <div class="data_login">
                  <h4 style="margin:0 0 5px 0;">данные для входа в сервис</h4>
                  <input class="input_favorite" placeholder="Email" autocomplete="off">
                  <input class="input_favorite" placeholder="Пароль" autocomplete="off" type="password">
                </div>
                <div class="special_offer">
                  <input class="offer_checkbox" id="block_checkbox_3" type="checkbox" name="block_checkbox">
                  <label for="block_checkbox_3">Получать спецпредложения</label>
                </div>
                <div class="buy">
                  <p>перейти к оплате</p>
                </div>
                <div class="if_have_account">
                  <div class="question">
                    <p>Уже есть аккаунт на Toxin</p>
                  </div><a href="login.html">
                    <div class="login">
                      <p>войти</p>
                    </div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="center-cards">
        <div class="center-cards__blocks1">
          <div class="booking">
            <div class="container">
              <div class="head">
                <h2>№ 888 люкс </h2>
                <p>9 990₽ в сутки </p>
              </div>
              <div class="booking_arrival">
                <div class="container_arrival">
                  <h2>прибытие</h2>
                  <div class="date_arrival">ДД.ММ.ГГГГ</div>
                  <div class="arrow"></div>
                  <div class="calendar_main hide"> 
                    <div class="calendar hide"> 
                      <div class="container"> 
                        <div class="month"> 
                          <h2>Август 2020</h2>
                          <div class="date"> 
                            <div class="day">Пн</div>
                            <div class="day">Вт</div>
                            <div class="day">Ср</div>
                            <div class="day">Чт</div>
                            <div class="day">Пт</div>
                            <div class="day">Сб</div>
                            <div class="day">Вс</div>
                            <div class="number">29</div>
                            <div class="number">30</div>
                            <div class="number">31</div>
                            <div class="number">1</div>
                            <div class="number">2</div>
                            <div class="number">3</div>
                            <div class="number">4</div>
                            <div class="number">5</div>
                            <div class="number">6</div>
                            <div class="number">7</div>
                            <div class="number">8</div>
                            <div class="number">9</div>
                            <div class="number">10</div>
                            <div class="number">11</div>
                            <div class="number">12</div>
                            <div class="number">13</div>
                            <div class="number">14</div>
                            <div class="number">15</div>
                            <div class="number">16</div>
                            <div class="number">17</div>
                            <div class="number">18</div>
                            <div class="number">19</div>
                            <div class="number">20</div>
                            <div class="number">21</div>
                            <div class="number">22</div>
                            <div class="number">23</div>
                            <div class="number">24</div>
                            <div class="number">25</div>
                            <div class="number">26</div>
                            <div class="number">27</div>
                            <div class="number">28</div>
                            <div class="number">29</div>
                            <div class="number">30</div>
                            <div class="number">31</div>
                            <div class="number">1</div>
                          </div>
                          <div class="function"> 
                            <div class="clear">Очистить</div>
                            <div class="apply">Применить  </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container_departure">
                  <h2>выезд</h2>
                  <div class="date_departure">ДД.ММ.ГГГГ</div>
                  <div class="arrow"></div>
                  <div class="calendar_main hide"> 
                    <div class="calendar hide"> 
                      <div class="container"> 
                        <div class="month"> 
                          <h2>Август 2020</h2>
                          <div class="date"> 
                            <div class="day">Пн</div>
                            <div class="day">Вт</div>
                            <div class="day">Ср</div>
                            <div class="day">Чт</div>
                            <div class="day">Пт</div>
                            <div class="day">Сб</div>
                            <div class="day">Вс</div>
                            <div class="number">29</div>
                            <div class="number">30</div>
                            <div class="number">31</div>
                            <div class="number">1</div>
                            <div class="number">2</div>
                            <div class="number">3</div>
                            <div class="number">4</div>
                            <div class="number">5</div>
                            <div class="number">6</div>
                            <div class="number">7</div>
                            <div class="number">8</div>
                            <div class="number">9</div>
                            <div class="number">10</div>
                            <div class="number">11</div>
                            <div class="number">12</div>
                            <div class="number">13</div>
                            <div class="number">14</div>
                            <div class="number">15</div>
                            <div class="number">16</div>
                            <div class="number">17</div>
                            <div class="number">18</div>
                            <div class="number">19</div>
                            <div class="number">20</div>
                            <div class="number">21</div>
                            <div class="number">22</div>
                            <div class="number">23</div>
                            <div class="number">24</div>
                            <div class="number">25</div>
                            <div class="number">26</div>
                            <div class="number">27</div>
                            <div class="number">28</div>
                            <div class="number">29</div>
                            <div class="number">30</div>
                            <div class="number">31</div>
                            <div class="number">1</div>
                          </div>
                          <div class="function"> 
                            <div class="clear">Очистить</div>
                            <div class="apply">Применить  </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="booking_guests">
                <h2>гости</h2>
                <div class="guests">
                  <input class="counte_guests" placeholder="Сколько Гостей" autocomplete="off" readonly="">
                </div>
                <div class="arrow"></div>
                <div class="dropBlock hide">
                  <div class="drop_block_item">
                    <div class="drop_block_row">
                      <h3 class="dropItem" id="dropItem1">Взрослые</h3>
                      <div class="db1"> 
                        <button class="circle_drop_item circle_drop_minus1">-</button>
                        <input id="counter1" type="text" value="0">
                        <button class="circle_drop_item circle_drop_plus1">+</button>
                      </div>
                    </div>
                    <div class="drop_block_row">
                      <h3 class="dropItem" id="dropItem2">Дети</h3>
                      <div class="db2"> 
                        <button class="circle_drop_item circle_drop_minus2">-</button>
                        <input id="counter2" value="0">
                        <button class="circle_drop_item circle_drop_plus2">+</button>
                      </div>
                    </div>
                    <div class="drop_block_row">
                      <h3 class="dropItem" id="dropItem3">Младенцы</h3>
                      <div class="db3"> 
                        <button class="circle_drop_item circle_drop_minus3">-</button>
                        <input id="counter3" value="0">
                        <button class="circle_drop_item circle_drop_plus3">+</button>
                      </div>
                    </div>
                    <div class="drop_function">
                      <button class="link_drop_function" id="clear">ОЧИСТИТЬ</button>
                      <button class="link_drop_function" id="apply">ПРИМЕНИТЬ</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="booking_price">
                <div class="container_block1"><span>9 990₽ х 4 суток </span><span>39 960₽ </span></div>
                <div class="container_block2"><span class="span_container">Сбор за услуги: скидка 2 179₽ </span><span>0₽ </span></div>
                <div class="container_block3"><span class="span_container" style="width:214px;">Сбор за дополнительные услуги.</span><span>300₽ </span></div>
              </div>
              <div class="result">
                <h2>Итого</h2>
                <h2>38 081₽</h2>
              </div><a href="login.html">
                <div class="to_book">
                  <p>забронировать  </p>
                </div></a>
            </div>
          </div>
        </div>
        <div class="center-cards__blocks2">
          <div class="block_login">
            <div class="container">
              <div class="login_user">
                <div class="container_user">
                  <h1 style="margin:0; margin-bottom:20px;">Войти</h1>
                  <input class="input_favorite" placeholder="Email" autocomplete="off" required="">
                  <input class="input_favorite" placeholder="Пароль" autocomplete="off" type="password" required="">
                  <div class="btn_login">
                    <p>войти</p>
                  </div>
                  <div class="if_have_account">
                    <div class="question">
                      <p>Нет аккаунта на Toxin?</p>
                    </div><a href="Registration.html">
                      <div class="login">
                        <p>создать</p>
                      </div></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-cards">
        <div class="right-cards__blocks1">
          <div class="residence">
            <div class="block_date">
              <div class="block1">
                <div class="arrow"></div>
                <div class="calendar_main">
                  <div class="calendar">
                    <div class="container">
                      <div class="month">
                        <h2>Август 2020</h2>
                        <div class="date">
                          <div class="day">Пн </div>
                          <div class="day">Вт </div>
                          <div class="day">Ср </div>
                          <div class="day">Чт </div>
                          <div class="day">Пт </div>
                          <div class="day">Сб </div>
                          <div class="day">Вс </div>
                          <div class="number">29 </div>
                          <div class="number">30 </div>
                          <div class="number">31 </div>
                          <div class="number">1 </div>
                          <div class="number">2 </div>
                          <div class="number">3 </div>
                          <div class="number">4 </div>
                          <div class="number">5 </div>
                          <div class="number">6 </div>
                          <div class="number">7 </div>
                          <div class="number">8 </div>
                          <div class="number">9 </div>
                          <div class="number">10 </div>
                          <div class="number">11 </div>
                          <div class="number">12 </div>
                          <div class="number">13 </div>
                          <div class="number">14 </div>
                          <div class="number">15 </div>
                          <div class="number">16 </div>
                          <div class="number">17 </div>
                          <div class="number">18 </div>
                          <div class="number">19 </div>
                          <div class="number">20 </div>
                          <div class="number">21 </div>
                          <div class="number">22 </div>
                          <div class="number">23 </div>
                          <div class="number">24 </div>
                          <div class="number">25 </div>
                          <div class="number">26 </div>
                          <div class="number">27 </div>
                          <div class="number">28 </div>
                          <div class="number">29 </div>
                          <div class="number">30 </div>
                          <div class="number">31 </div>
                          <div class="number">1</div>
                        </div>
                      </div>
                      <div class="function">
                        <div class="clear">Очистить</div>
                        <div class="apply">Применить</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-cards__blocks2">
          <div class="content_search-room">
            <div class="main_content_search-room">
              <div class="container_in_hotel">
                <div class="room1 room_in_hotel">
                  <div class="container">
                    <div class="move_arrow arrow_left"><a href="../layout/roomDetails.html">
                        <div class="container_a">
                          <div class="icon"></div>
                        </div></a></div>
                    <div class="move_arrow arrow_right"><a href="../layout/roomDetails.html">
                        <div class="container_a">
                          <div class="icon"></div>
                        </div></a></div>
                    <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html"></a><a class="circle circle_1" href="../layout/roomDetails.html"></a><a class="circle circle_1" href="../layout/roomDetails.html"></a><a class="circle circle_1" href="../layout/roomDetails.html"></a></div>
                  </div>
                  <div class="head_room">
                    <p style="font-size:18px; color:#1F2041; font-weight:bold;">№888</p><span>Люкс</span>
                    <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">9 990₽ в сутки</p>
                  </div>
                  <div class="rating">
                    <div class="star">
                      <div class="stars" id="star1"></div>
                      <div class="stars" id="star2"></div>
                      <div class="stars" id="star3"></div>
                      <div class="stars" id="star4"></div>
                      <div class="stars" id="star5"></div>
                    </div>
                    <div class="feedbackspan"><b>145 Отзывов</b></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-cards__blocks3">
          <div class="content_search-room">
            <div class="main_content_search-room">
              <div class="container_in_hotel">
                <div class="room2 room_in_hotel">
                  <div class="container">
                    <div class="move_arrow arrow_left"><a href="../layout/roomDetails.html">
                        <div class="container_a">
                          <div class="icon"></div>
                        </div></a></div>
                    <div class="move_arrow arrow_right"><a href="../layout/roomDetails.html">
                        <div class="container_a">
                          <div class="icon"></div>
                        </div></a></div>
                    <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html"></a><a class="circle circle_1" href="../layout/roomDetails.html"></a><a class="circle circle_1" href="../layout/roomDetails.html"></a><a class="circle circle_1" href="../layout/roomDetails.html"></a></div>
                  </div>
                  <div class="head_room">
                    <p style="font-size:18px; color:#1F2041; font-weight:bold;">№840</p><span>Люкс</span>
                    <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">9 990₽ в сутки</p>
                  </div>
                  <div class="rating">
                    <div class="star">
                      <div class="stars" id="star1"></div>
                      <div class="stars" id="star2"></div>
                      <div class="stars" id="star3"></div>
                      <div class="stars" id="star4"></div>
                      <div class="stars" id="star5"></div>
                    </div>
                    <div class="feedbackspan"><b>65 Отзывов</b></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/click.js"></script>
    <script src="../js/menu.js"> </script>
    <script src="../js/close.js"></script>
    <script src="../js/close_calendare.js"></script>
    <script src="../js/like.js"></script>
    <script src="../js/range.js"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/value.js"></script>
    <script src="../js/close__dropBlock.js"></script>
    <script src="../js/conveniences.js"></script>
    <script src="../js/close_conveniences.js"></script>
  </body>
</html>