<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/elements.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="image/Logo.png" type="image/png">
    <link rel="stylesheet" href="../css/UI.css">
    <link rel="stylesheet" href="../css/searchRoom.css">
    <link rel="stylesheet" href="../css/Registration.css">
    <link rel="stylesheet" href="../css/range.css">
    <link rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="awesome/fontawesome.min.js"></script>
    <script src="https://kit.fontawesome.com/bc390f5649.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <title>Элементы</title>
  </head>
  <body><a href="../index.html">
      <div class="logo"></div></a>
    <div class="container-elements1">
      <div class="elements-left">
        <div class="elements-left__input">
          <div class="elements-left__head-input">
            <h3 class="elemets-left__title">Text Field</h3>
            <p class="option">Default</p>
          </div>
          <input class="elements-left__input-element" placeholder="Email">
        </div>
        <div class="elements-left__input">
          <div class="elements-left__head-input">
            <h3 class="elemets-left__title">Text Field</h3>
            <p class="option">Hover / Focus</p>
          </div>
          <input class="elements-left__input-element" id="input-el2" placeholder="This is pretty awesome">
        </div>
        <div class="elements-left__input">
          <div class="search_room">
            <div class="residence">
              <div class="block3">
                <h3 class="elemets-left__title">Text Field</h3>
                <div class="guests1">
                  <input class="counte_guests" placeholder="Сколько Гостей" autocomplete="off" readonly="">
                  <div class="arrow"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elements-left__input">
          <h3 class="elements-left__title">masked text field</h3>
          <input class="elements-left__input-element" placeholder="Email">
        </div>
        <div class="elements-left__input">
          <div class="elements-left__input-element" id="el5">
            <div class="elements-left__left-block">
              <h3 class="elements-left__sub-title">date Dropdown</h3>
              <div class="search_room">
                <div class="residence">
                  <div class="block_date">
                    <div class="block1">
                      <div class="date_arrival">ДД.ММ.ГГГГ
                        <div class="arrow"></div>
                        <div class="calendar_main hide"> 
                          <div class="calendar hide"> 
                            <div class="container"> 
                              <div class="month"> 
                                <h2>Август 2020</h2>
                                <div class="date"> 
                                  <div class="day">Пн</div>
                                  <div class="day">Вт</div>
                                  <div class="day">Ср</div>
                                  <div class="day">Чт</div>
                                  <div class="day">Пт</div>
                                  <div class="day">Сб</div>
                                  <div class="day">Вс</div>
                                  <div class="number">29</div>
                                  <div class="number">30</div>
                                  <div class="number">31</div>
                                  <div class="number">1</div>
                                  <div class="number">2</div>
                                  <div class="number">3</div>
                                  <div class="number">4</div>
                                  <div class="number">5</div>
                                  <div class="number">6</div>
                                  <div class="number">7</div>
                                  <div class="number">8</div>
                                  <div class="number">9</div>
                                  <div class="number">10</div>
                                  <div class="number">11</div>
                                  <div class="number">12</div>
                                  <div class="number">13</div>
                                  <div class="number">14</div>
                                  <div class="number">15</div>
                                  <div class="number">16</div>
                                  <div class="number">17</div>
                                  <div class="number">18</div>
                                  <div class="number">19</div>
                                  <div class="number">20</div>
                                  <div class="number">21</div>
                                  <div class="number">22</div>
                                  <div class="number">23</div>
                                  <div class="number">24</div>
                                  <div class="number">25</div>
                                  <div class="number">26</div>
                                  <div class="number">27</div>
                                  <div class="number">28</div>
                                  <div class="number">29</div>
                                  <div class="number">30</div>
                                  <div class="number">31</div>
                                  <div class="number">1</div>
                                </div>
                                <div class="function"> 
                                  <div class="clear">Очистить</div>
                                  <div class="apply">Применить  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="elements-left__left-block">
              <h3 class="elements-left__sub-title">date Dropdown</h3>
              <div class="search_room">
                <div class="residence">
                  <div class="block_date">
                    <div class="block2" style="margin-left:18px;">
                      <div class="date_departure">ДД.ММ.ГГГГ
                        <div class="arrow"></div>
                        <div class="calendar_main hide"> 
                          <div class="calendar hide"> 
                            <div class="container"> 
                              <div class="month"> 
                                <h2>Август 2020</h2>
                                <div class="date"> 
                                  <div class="day">Пн</div>
                                  <div class="day">Вт</div>
                                  <div class="day">Ср</div>
                                  <div class="day">Чт</div>
                                  <div class="day">Пт</div>
                                  <div class="day">Сб</div>
                                  <div class="day">Вс</div>
                                  <div class="number">29</div>
                                  <div class="number">30</div>
                                  <div class="number">31</div>
                                  <div class="number">1</div>
                                  <div class="number">2</div>
                                  <div class="number">3</div>
                                  <div class="number">4</div>
                                  <div class="number">5</div>
                                  <div class="number">6</div>
                                  <div class="number">7</div>
                                  <div class="number">8</div>
                                  <div class="number">9</div>
                                  <div class="number">10</div>
                                  <div class="number">11</div>
                                  <div class="number">12</div>
                                  <div class="number">13</div>
                                  <div class="number">14</div>
                                  <div class="number">15</div>
                                  <div class="number">16</div>
                                  <div class="number">17</div>
                                  <div class="number">18</div>
                                  <div class="number">19</div>
                                  <div class="number">20</div>
                                  <div class="number">21</div>
                                  <div class="number">22</div>
                                  <div class="number">23</div>
                                  <div class="number">24</div>
                                  <div class="number">25</div>
                                  <div class="number">26</div>
                                  <div class="number">27</div>
                                  <div class="number">28</div>
                                  <div class="number">29</div>
                                  <div class="number">30</div>
                                  <div class="number">31</div>
                                  <div class="number">1</div>
                                </div>
                                <div class="function"> 
                                  <div class="clear">Очистить</div>
                                  <div class="apply">Применить  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elements-left__input">
          <h3 class="elements-left__title">filter date dropdown</h3>
          <div class="content_search_room">
            <div class="data_arrival_in_otel">
              <input type="text" autocomplete="off" placeholder="19 авг - 23 авг" readonly="">
            </div>
          </div>
        </div>
        <div class="elements-left__input">
          <h3 class="elements-left__title">subscription text field
            <div class="block5">
              <div class="email">
                <input placeholder="Email">
              </div>
            </div>
          </h3>
        </div>
      </div>
      <div class="elements-center">
        <div class="elements-center__block-elements">
          <h3 class="elements-center__title">Checkbox Buttons</h3>
          <div class="elements-center__checkboxs">
            <div class="order_in_house">
              <div class="checkbox_order">
                <input class="custom-checkbox" id="block_1" type="checkbox" name="block_1">
                <label for="block_1">Можно курить</label>
                <input class="custom-checkbox" id="block_2" type="checkbox" name="block_2">
                <label for="block_2">Можно с питомцами</label>
                <input class="custom-checkbox" id="block_3" type="checkbox" name="block_3">
                <label for="block_3">Можно пригласить гостей (до 10 человек)</label>
              </div>
            </div>
          </div>
        </div>
        <div class="elements-center__block-elements">
          <h3 class="elements-center__title">Radio Buttons</h3>
          <div class="elements-center__checkboxs">
            <div class="gender">
              <input class="gender_checkbox" id="block_checkbox_1" type="radio" name="block_checkbox">
              <label for="block_checkbox_1">Мужчина</label>
              <input class="gender_checkbox" id="block_checkbox_2" type="radio" name="block_checkbox">
              <label for="block_checkbox_2">Женщина</label>
            </div>
          </div>
        </div>
        <div class="elements-center__block-elements">
          <h3 class="elements-center__title">Toggle</h3>
          <div class="elements-center__checkboxs">
            <div class="special_offer">
              <input class="offer_checkbox" id="block_checkbox_3" type="checkbox" name="block_checkbox" checked="checked">
              <label for="block_checkbox_3">Получать спецпредложения</label>
            </div>
            <div class="special_offer">
              <input class="offer_checkbox" id="block_checkbox_3" type="checkbox" name="block_checkbox">
              <label for="block_checkbox_3">Получать спецпредложения</label>
            </div>
          </div>
        </div>
        <div class="elements-center__block-elements">
          <h3 class="elements-center__title">like button</h3>
          <div class="elements-center__checkboxs" id="checkbox-like">
            <div class="heart heart_1">
              <div class="fa_heart"></div><span>12 </span>
            </div>
            <div class="heart heart_2">
              <div class="fa_heart fa_heart2"></div><span id="span_heart">2 </span>
            </div>
          </div>
        </div>
        <div class="elements-center__block-elements">
          <h3 class="elements-center__title">rate button</h3>
          <div class="elements-center__checkboxs" id="checkbox-star">
            <div class="star">
              <div class="stars" id="star1"></div>
              <div class="stars" id="star2"></div>
              <div class="stars" id="star3"></div>
              <div class="stars" id="star4"></div>
              <div class="stars" id="star5"></div>
            </div>
            <div class="star">
              <div class="stars" id="star1"></div>
              <div class="stars" id="star2"></div>
              <div class="stars" id="star3"></div>
              <div class="stars" id="star4"></div>
              <div class="stars" id="star5"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="elements-right">
        <div class="elements-right__block-elements">
          <div class="price_hotel">
            <div class="middle">
              <div class="container_price">
                <div class="price_title">Range Slider</div>
                <div class="price"><span id="minValue"></span><span>₽</span><span>-</span><span id="maxValue"></span><span>₽</span></div>
              </div>
              <div class="multi-range-slider">
                <input id="input-left" type="range" min="0" max="15000" value="1000">
                <input id="input-right" type="range" min="0" max="15000" value="3000">
                <div class="slider">
                  <div class="track"></div>
                  <div class="range"></div>
                  <div class="thumb left"></div>
                  <div class="thumb right"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elements-right__block-elements">
          <h3 class="elements-right__title">buttons</h3>
          <div class="elements-right__buttons elements-right__buttons1">
            <div class="elements-right__btn1">
              <div class="if_have_account"><a href="#">
                  <div class="login">
                    <p>CLICK ME</p>
                  </div></a></div>
            </div>
            <div class="elements-right__btn2">
              <div class="if_have_account"><a href="#">
                  <div class="login">
                    <p>CLICK ME</p>
                  </div></a></div>
            </div>
          </div>
          <div class="elements-right__buttons elements-right__buttons2">
            <div class="elements-right__btn1">
              <div class="if_have_account"><a href="#">
                  <div class="login">
                    <p>CLICK ME</p>
                  </div></a></div>
            </div>
            <div class="elements-right__btn2">
              <div class="if_have_account"><a href="#">
                  <div class="login">
                    <p>CLICK ME</p>
                  </div></a></div>
            </div>
          </div>
          <div class="elements-right__buttons elements-right__buttons3">
            <div class="elements-right__btn1">
              <div class="if_have_account"><a href="#">
                  <p>CLICK ME</p></a></div>
            </div>
            <div class="elements-right__btn2">
              <div class="if_have_account"><a href="#">
                  <p>CLICK ME</p></a></div>
            </div>
          </div>
          <div class="elements-right__buttons elements-right__buttons4">
            <div class="buy">
              <p>перейти к оплате</p>
            </div>
          </div>
        </div>
        <div class="elements-right__block-elements">
          <h3 class="elements-right__title">pagination</h3>
          <div class="switch">
            <div class="container">
              <div class="circle circle_1">
                <p style="color:#fff;"><b>1</b></p>
              </div>
              <div class="circle circle_2">
                <p>2</p>
              </div>
              <div class="circle circle_3">
                <p>3</p>
              </div>
              <div class="circle circle_4">
                <p>...</p>
              </div>
              <div class="circle circle_5">
                <p>15</p>
              </div>
              <div class="circle circle_6"><i class="fas fa-arrow-right"></i></div>
            </div>
            <p style="font-size: 14px;line-height: 24px;margin:11px 0 0 0;">1 – 12 из 100+ вариантов аренды</p>
          </div>
        </div>
      </div>
    </div>
    <div class="con-elements2">
      <div class="elements-left2">
        <div class="elements-left2__drops elements-left2__drop1">
          <div class="elements-left2__head-drop">
            <h3 class="elements-left2__title">dropdown</h3>
            <p class="elements-left2__option">Default</p>
          </div>
          <div class="elements-left2__dropElmenet">
            <div class="conveniences1">
              <input placeholder="2 спальни, 2 кровати" autocomplete="off" readonly="">
            </div>
          </div>
        </div>
        <div class="elements-left2__drops elements-left2__drop2">
          <div class="elements-left2__head-drop">
            <h3 class="elements-left2__title">dropdown</h3>
            <p class="elements-left2__option">expanded</p>
          </div>
          <div class="elements-left2__dropElmenet">
            <div class="conveniences">
              <input class="counte_conveniences" id="block_6" type="text" name="block_6" placeholder="2 спальни, 2 кровати" autocomplete="off" readonly="">
            </div>
            <div class="dropBlockCon dropBlock">
              <div class="drop_block_item">
                <div class="drop_block_row">
                  <h3 class="dropItem dropItemCon1" id="dropItem">спальни</h3>
                  <button class="circle_drop_item circle_con_minus1" data-direction="minus">-</button>
                  <input id="counterCon1" type="text" value="0">
                  <button class="circle_drop_item circle_con_plus1" data-direction="plus">+</button>
                </div>
                <div class="drop_block_row">
                  <h3 class="dropItem dropItemCon2" id="dropItem2">кровати</h3>
                  <button class="circle_drop_item circle_con_minus2" data-direction="minus">-</button>
                  <input id="counterCon2" value="2">
                  <button class="circle_drop_item circle_con_plus2" data-direction="plus">+</button>
                </div>
                <div class="drop_block_row">
                  <h3 class="dropItem dropItemCon3" id="dropItem3">ванные комнаты</h3>
                  <button class="circle_drop_item circle_con_minus3" data-direction="minus">-</button>
                  <input id="counterCon3" value="2">
                  <button class="circle_drop_item circle_con_plus3" data-direction="plus">+</button>
                </div>
                <div class="drop_function">
                  <button class="link_drop_function" id="clear">ОЧИСТИТЬ</button>
                  <button class="link_drop_function" id="apply">ПРИМЕНИТЬ</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elements-left2__drops elements-left2__drop3">
          <div class="elements-left2__dropElmenet">
            <div class="convenience1"><span>expandable checkbox list</span>
              <div class="arrow_convenience1"></div>
            </div>
          </div>
        </div>
        <div class="elements-left2__drops elements-left2__drop4">
          <div class="elements-left2__dropElmenet">
            <div class="convenience"><span>expandable checkbox list</span>
              <div class="active arrow_convenience"></div>
              <div class="drop_block_convenience">
                <div class="drop_item_convenience">
                  <input class="convenience-checkbox" id="drop_1" type="checkbox" name="drop_1">
                  <label for="drop_1">Завтрак</label>
                  <input class="convenience-checkbox" id="drop_2" type="checkbox" name="drop_2" checked="checked">
                  <label for="drop_2">Письменный стол</label>
                  <input class="convenience-checkbox" id="drop_3" type="checkbox" name="drop_3" checked="checked">
                  <label for="drop_3">Стул для кормления</label>
                  <input class="convenience-checkbox" id="drop_4" type="checkbox" name="drop_4" checked="checked">
                  <label for="drop_4">Кроватка</label>
                  <inputdrop_5 class="convenience-checkbox" type="checkbox" name="drop_5"></inputdrop_5>
                  <label for="drop_5">Телевизор</label>
                  <input class="convenience-checkbox" id="drop_6" type="checkbox" name="drop_6">
                  <label for="drop_6">Шампунь</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="elements-center2">
        <div class="elements-center2__drops elements-center2__drop1">
          <h3 class="elements-center2__title">dropdown</h3>
          <div class="elements-center2__dropElmenet">
            <div class="guests">
              <input class="counte_guests" placeholder="Сколько Гостей" autocomplete="off" readonly="">
              <div class="arrow"></div>
            </div>
            <div class="dropBlock">
              <div class="drop_block_item">
                <div class="drop_block_row">
                  <h3 class="dropItem" id="dropItem1">Взрослые</h3>
                  <div class="db1">
                    <button class="circle_drop_item circle_drop_minus1">-</button>
                    <input id="counter1" type="text" value="0">
                    <button class="circle_drop_item circle_drop_plus1">+</button>
                  </div>
                </div>
                <div class="drop_block_row">
                  <h3 class="dropItem" id="dropItem2">Дети</h3>
                  <div class="db2">
                    <button class="circle_drop_item circle_drop_minus2">-</button>
                    <input id="counter2" value="0">
                    <button class="circle_drop_item circle_drop_plus2">+</button>
                  </div>
                </div>
                <div class="drop_block_row">
                  <h3 class="dropItem" id="dropItem3">Младенцы</h3>
                  <div class="db3">
                    <button class="circle_drop_item circle_drop_minus3">-</button>
                    <input id="counter3" value="0">
                    <button class="circle_drop_item circle_drop_plus3">+</button>
                  </div>
                </div>
                <div class="drop_function">
                  <button class="link_drop_function" id="apply">ПРИМЕНИТЬ</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elements-center2__drops elements-center2__drop2">
          <h3 class="elements-center2__title">rich Checkbox Buttons</h3>
          <div class="elements-center2__dropElmenet">
            <div class="availability">
              <input class="custom-checkbox" id="block_4" type="checkbox" name="block_4">
              <label for="block_4"><span><b style="color:#575870; font-size:14px;">Широкий коридор</b></span>
                <p>Ширина коридоров в номере не менее 91 см.</p>
              </label>
              <input class="custom-checkbox" id="block_5" type="checkbox" name="block_5">
              <label for="block_5"><b style="color:#575870; font-size:14px;">Помощник для инвалидов</b>
                <p>На 1 этаже вас встретит специалист  и  проводит до номера.</p>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="elements-right2">
        <div class="elements-right2__drops elements-right2__drop1">
          <h3 class="elements-right2__title">dropdown</h3>
          <div class="guests">
            <input class="counte_guests" placeholder="Сколько Гостей" autocomplete="off" readonly="">
            <div class="arrow"></div>
          </div>
          <div class="dropBlock">
            <div class="drop_block_item">
              <div class="drop_block_row">
                <h3 class="dropItem" id="dropItem1">Взрослые</h3>
                <div class="db1">
                  <button class="circle_drop_item circle_drop_minus1">-</button>
                  <input id="counter1" type="text" value="2">
                  <button class="circle_drop_item circle_drop_plus1">+</button>
                </div>
              </div>
              <div class="drop_block_row">
                <h3 class="dropItem" id="dropItem2">Дети</h3>
                <div class="db2">
                  <button class="circle_drop_item circle_drop_minus2">-</button>
                  <input id="counter2" value="1">
                  <button class="circle_drop_item circle_drop_plus2">+</button>
                </div>
              </div>
              <div class="drop_block_row">
                <h3 class="dropItem" id="dropItem3">Младенцы</h3>
                <div class="db3">
                  <button class="circle_drop_item circle_drop_minus3">-</button>
                  <input id="counter3" value="0">
                  <button class="circle_drop_item circle_drop_plus3">+</button>
                </div>
              </div>
              <div class="drop_function">
                <button class="link_drop_function" id="clear">ОЧИСТИТЬ</button>
                <button class="link_drop_function" id="apply">ПРИМЕНИТЬ</button>
              </div>
            </div>
          </div>
        </div>
        <div class="elements-right2__drops elements-right2__drop2">
          <h3 class="elements-right2__title">bullet list</h3>
          <div class="order">
            <ul class="ul_order">
              <li class="li_order1">Нельзя с питомцами </li>
              <li class="li_order2">Без вечеринок и мероприятий</li>
              <li class="li_order3"><span>Время прибытия — после 13:00<span>а выезд до 12:00  </span></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/click.js"></script>
    <script src="../js/menu.js"> </script>
    <script src="../js/close.js"></script>
    <script src="../js/close_calendare.js"></script>
    <script src="../js/like.js"></script>
    <script src="../js/range.js"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/value.js"></script>
    <script src="../js/close__dropBlock.js"></script>
    <script src="../js/conveniences.js"></script>
    <script src="../js/close_conveniences.js"></script>
  </body>
</html>