<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/searchRoom.css">
    <link rel="stylesheet" href="../css/range.css">
    <link rel="stylesheet" href="../css/datepicker.min.css">
    <link rel="shortcut icon" href="../image/Logo.png" type="image/png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="awesome/fontawesome.min.js"></script>
    <script src="https://kit.fontawesome.com/bc390f5649.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <title>«Toxin» | Лучшие номера для вас</title>
  </head>
  <body>
    <nav class="header"><a href="../index.html">
        <div class="logo"><img src="../image/Logo.svg" width="106px" height="40px"></div></a>
      <div class="right_Part_Header">
        <div class="list">
          <ul class="menu_list">
            <li>
              <u><a href="site-pages.html">UI Компоненты</a></u>
            </li>
            <li><a href="#">О нас</a></li>
            <li><a class="arrow_list_li" id="arrow_li_left" href="#">Услуги</a>
              <ul>
                <li>Услгуа 1</li>
                <li>Услгуа 2</li>
                <li>Услгуа 3</li>
              </ul>
            </li>
            <li><a href="#">Вакансии</a></li>
            <li><a href="#">Новости</a></li>
            <li><a class="arrow_list_li" href="#">Соглашения</a>
              <ul>
                <li>Соглашение 1</li>
                <li>Соглашение 2</li>
                <li>Соглашение 3</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="logup"><a href="login.html">
            <div class="login">
              <p>Войти</p>
            </div></a><a href="Registration.html">
            <div class="registration">
              <p>Зарегистрироваться</p>
            </div></a></div>
        <div class="burger burger_menu_active">
          <button class="border1 border"></button>
          <button class="border2 border"></button>
          <button class="border3 border"></button>
          <ul class="menu_burger"><a href="../index.html">
              <li class="li_burger li_burger1">Главная</li></a><a href="#">
              <li class="li_burger li_burger1">О Нас</li></a><a href="#">
              <li class="li_burger">Услуги</li></a><a href="#">
              <li class="li_burger">Вакансии</li></a><a href="#">
              <li class="li_burger">Новости</li></a><a href="#">
              <li class="li_burger">Соглашения</li></a><a href="login.html">
              <li class="li_burger"><b>Войти</b></li></a><a href="Registration.html">
              <li class="li_burger li_burger7"><b>Регистрация</b></li></a></ul>
        </div>
      </div>
    </nav>
    <div class="content_search_room">
      <div class="main_content_search_room">
        <h2>Номера, которые мы для вас подобрали </h2>
        <div class="container_in_hotel">
          <div class="room1 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№888</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">9 990₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>145 Отзывов</b></div>
              </div></a>
          </div class="room1 room_in_hotel">
          <div class="room2 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№840</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">9 990₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>65 Отзывов</b></div>
              </div></a>
          </div class="room2 room_in_hotel">
          <div class="room3 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№980</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">8 500₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>35 Отзывов</b></div>
              </div></a>
          </div class="room3 room_in_hotel">
          <div class="room4 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№856</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">7 300₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>19 Отзывов</b></div>
              </div></a>
          </div class="room4 room_in_hotel">
          <div class="room5 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№740</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">6 000₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>44 Отзывов</b></div>
              </div></a>
          </div class="room5 room_in_hotel">
          <div class="room6 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№982</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">5 800₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>56 Отзывов</b></div>
              </div></a>
          </div class="room6 room_in_hotel">
          <div class="room7 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№678</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">5 500₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>45 Отзывов</b></div>
              </div></a>
          </div class="room7 room_in_hotel">
          <div class="room8 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№450</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">5 300₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>39 Отзывов</b></div>
              </div></a>
          </div class="room8 room_in_hotel">
          <div class="room9 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№350</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">5 000₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>77 Отзывов</b></div>
              </div></a>
          </div class="room9 room_in_hotel">
          <div class="room10 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№666</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">5 000₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>25 Отзывов</b></div>
              </div></a>
          </div class="room10 room_in_hotel">
          <div class="room11 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№444</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">5 000₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>15 Отзывов</b></div>
              </div></a>
          </div class="room11 room_in_hotel">
          <div class="room12 room_in_hotel">
            <div class="container">
              <div class="move_arrow arrow_left">
                <div class="container_a_l">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="move_arrow arrow_right">
                <div class="container_a_r">
                  <div class="icon"></div>
                </div>
              </div>
              <div class="in_circle"><a class="circle circle_1" href="../layout/roomDetails.html" count="1" fill="yes"></a><a class="circle circle_2" href="../layout/roomDetails.html" count="2" fill="no"></a><a class="circle circle_3" href="../layout/roomDetails.html" count="3" fill="no"></a><a class="circle circle_4" href="../layout/roomDetails.html" count="4" fill="no"></a></div>
            </div><a class="link-for-room" href="../layout/roomDetails.html">
              <div class="head_room">
                <p style="font-size:18px; color:#1F2041; font-weight:bold;">№352</p><span>Люкс</span>
                <p style="font-size:12.5px;line-height: 16px;margin-top:3px;">5 000₽ в сутки</p>
              </div>
              <div class="rating">
                <div class="star">
                  <div class="stars" id="star1"></div>
                  <div class="stars" id="star2"></div>
                  <div class="stars" id="star3"></div>
                  <div class="stars" id="star4"></div>
                  <div class="stars" id="star5"></div>
                </div>
                <div class="feedbackspan"><b>55 Отзывов</b></div>
              </div></a>
          </div class="room12 room_in_hotel">
        </div>
        <div class="switch">
          <div class="container">
            <div class="circle circle_1">
              <p style="color:#fff;"><b>1</b></p>
            </div>
            <div class="circle circle_2">
              <p>2</p>
            </div>
            <div class="circle circle_3">
              <p>3</p>
            </div>
            <div class="circle circle_4">
              <p>...</p>
            </div>
            <div class="circle circle_5">
              <p>15</p>
            </div>
            <div class="circle circle_6"><i class="fas fa-arrow-right"></i></div>
          </div>
          <p style="font-size: 14px;line-height: 24px;margin:11px 0 0 0;">1 – 12 из 100+ вариантов аренды</p>
        </div>
      </div>
      <div class="left_bar" style="width:266px;">
        <div class="data_arrival_in_otel"><span class="h_span_block_hotel">даты пребывания в отеле</span>
          <input class="datepicker-here field-date-left" type="text" data-range="true" data-multiple-dates-separator=" - " data-language="ru" placeholder="ДД.ММ.ГГГГ">
        </div>
        <div class="guests">
          <input class="counte_guests" placeholder="Сколько Гостей" autocomplete="off" readonly="">
        </div>
        <div class="dropBlock hide">
          <div class="drop_block_item">
            <div class="drop_block_row">
              <h3 class="dropItem" id="dropItem1">Взрослые</h3>
              <div class="db1">
                <button class="circle_drop_item circle_drop_minus1">-</button>
                <input id="counter1" type="text" value="0">
                <button class="circle_drop_item circle_drop_plus1">+</button>
              </div>
            </div>
            <div class="drop_block_row">
              <h3 class="dropItem" id="dropItem2">Дети</h3>
              <div class="db2">
                <button class="circle_drop_item circle_drop_minus2">-</button>
                <input id="counter2" value="0">
                <button class="circle_drop_item circle_drop_plus2">+</button>
              </div>
            </div>
            <div class="drop_block_row">
              <h3 class="dropItem" id="dropItem3">Младенцы</h3>
              <div class="db3">
                <button class="circle_drop_item circle_drop_minus3">-</button>
                <input id="counter3" value="0">
                <button class="circle_drop_item circle_drop_plus3">+</button>
              </div>
            </div>
            <div class="drop_function">
              <button class="link_drop_function" id="clear">ОЧИСТИТЬ</button>
              <button class="link_drop_function" id="apply">ПРИМЕНИТЬ</button>
            </div>
          </div>
        </div>
        <div class="price_hotel">
          <div class="middle">
            <div class="container_price">
              <div class="price_title">Диапозон Цен:</div>
              <div class="price"><span id="minValue"></span><span>₽</span><span>-</span><span id="maxValue"></span><span>₽</span></div>
            </div>
            <div class="multi-range-slider">
              <input id="input-left" type="range" min="0" max="15000" value="1000">
              <input id="input-right" type="range" min="0" max="15000" value="3000">
              <div class="slider">
                <div class="track"></div>
                <div class="range"></div>
                <div class="thumb left"></div>
                <div class="thumb right"></div>
              </div>
            </div>
          </div><span style="color:#8E8E9F">Стоимость за сутки пребывания в номере</span>
        </div>
        <div class="order_in_house"><span class="h_span_block_hotel">правила дома</span>
          <div class="checkbox_order">
            <input class="custom-checkbox" id="block_1" type="checkbox" name="block_1">
            <label for="block_1">Можно курить</label>
            <input class="custom-checkbox" id="block_2" type="checkbox" name="block_2">
            <label for="block_2">Можно с питомцами</label>
            <input class="custom-checkbox" id="block_3" type="checkbox" name="block_3">
            <label for="block_3">Можно пригласить гостей (до 10 человек)</label>
          </div>
        </div>
        <div class="availability"><span class="h_span_block_hotel">доступность</span>
          <input class="custom-checkbox" id="block_4" type="checkbox" name="block_4">
          <label for="block_4"><span><b style="color:#575870; font-size:14px;">Широкий коридор</b></span>
            <p>Ширина коридоров в номере не менее 91 см.</p>
          </label>
          <input class="custom-checkbox" id="block_5" type="checkbox" name="block_5">
          <label for="block_5"><b style="color:#575870; font-size:14px;">Помощник для инвалидов</b>
            <p>На 1 этаже вас встретит специалист  и  проводит до номера.</p>
          </label>
        </div><span class="h_span_block_hotel">удобства номера</span>
        <div class="conveniences">
          <input class="counte_conveniences" id="block_6" type="text" name="block_6" placeholder="2 спальни, 2 кровати" autocomplete="off" readonly="">
        </div>
        <div class="dropBlockCon dropBlock hide">
          <div class="drop_block_item">
            <div class="drop_block_row">
              <h3 class="dropItem dropItemCon1" id="dropItem">спальни</h3>
              <div class="db1">
                <button class="circle_drop_item circle_con_minus1" data-direction="minus">-</button>
                <input id="counterCon1" type="text" value="0">
                <button class="circle_drop_item circle_con_plus1" data-direction="plus">+</button>
              </div>
            </div>
            <div class="drop_block_row">
              <h3 class="dropItem dropItemCon2" id="dropItem2">кровати</h3>
              <div class="db2">
                <button class="circle_drop_item circle_con_minus2" data-direction="minus">-</button>
                <input id="counterCon2" value="0">
                <button class="circle_drop_item circle_con_plus2" data-direction="plus">+</button>
              </div>
            </div>
            <div class="drop_block_row">
              <h3 class="dropItem dropItemCon3" id="dropItem3">ванные комнаты</h3>
              <div class="db3">
                <button class="circle_drop_item circle_con_minus3" data-direction="minus">-</button>
                <input id="counterCon3" value="0">
                <button class="circle_drop_item circle_con_plus3" data-direction="plus">+</button>
              </div>
            </div>
            <div class="drop_function">
              <button class="link_drop_function" id="clear_conv">ОЧИСТИТЬ</button>
              <button class="link_drop_function" id="apply_conv">ПРИМЕНИТЬ</button>
            </div>
          </div>
        </div>
        <div class="convenience"><span>дополнительные удобства</span>
          <div class="not_active arrow_convenience"></div>
          <div class="drop_block_convenience hide">
            <div class="drop_item_convenience">
              <input class="convenience-checkbox" id="drop_1" type="checkbox" name="drop_1">
              <label for="drop_1">Завтрак</label>
              <input class="convenience-checkbox" id="drop_2" type="checkbox" name="drop_2">
              <label for="drop_2">Письменный стол</label>
              <input class="convenience-checkbox" id="drop_3" type="checkbox" name="drop_3">
              <label for="drop_3">Стул для кормления</label>
              <input class="convenience-checkbox" id="drop_4" type="checkbox" name="drop_4">
              <label for="drop_4">Кроватка</label>
              <inputdrop_5 class="convenience-checkbox" type="checkbox" name="drop_5"></inputdrop_5>
              <label for="drop_5">Телевизор</label>
              <input class="convenience-checkbox" id="drop_6" type="checkbox" name="drop_6">
              <label for="drop_6">Шампунь</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer_list">
        <div class="block1"><img src="../image/Logo.svg" width="100px" height="40px">
          <div class="text_block1_f">
            <p>Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»</p>
          </div>
        </div>
        <div class="block2">
          <h3>навигация</h3>
          <ul class="ul_block2">
            <li>О нас</li>
            <li>Новости</li>
            <li>Служба поддержки</li>
            <li>Услуги</li>
          </ul>
        </div>
        <div class="block3">
          <h3>о нас</h3>
          <ul class="ul_block3">
            <li>О сервисе</li>
            <li>Наша команда</li>
            <li>Вакансии</li>
            <li>Инвесторы</li>
          </ul>
        </div>
        <div class="block4">
          <h3>Служба поддержки</h3>
          <ul class="ul_block4">
            <li>Соглашения</li>
            <li>Сообщества</li>
            <li>Связь с нами</li>
          </ul>
        </div>
        <div class="block5">
          <h3>Подписка</h3>
          <p>Получайте специальные предложения и новости сервиса</p>
          <div class="email">
            <input placeholder="Email">
          </div>
        </div>
      </div>
    </footer>
    <div class="footer_sub">
      <div class="footer_sub_container">
        <p>Copyright © 2018 Toxin отель. Все правазачищены.</p>
        <div class="sub_icons"><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-facebook-square"></i></a><a href="#"><i class="fab fa-instagram"></i></a></div>
      </div>
    </div>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/datepicker.min.js"> </script>
    <script src="../js/date-field.js"> </script>
    <script src="../js/jquery.slider.js"></script>
    <script src="../js/slider.js"></script>
    <script src="../js/click.js"></script>
    <script src="../js/value.js"></script>
    <script src="../js/range.js"></script>
    <script src="../js/close.js"></script>
    <script src="../js/clear.js"></script>
    <script src="../js/clear_conv.js"></script>
    <script src="../js/close__dropBlock.js"></script>
    <script src="../js/conveniences.js"></script>
    <script src="../js/close_conveniences.js"></script>
  </body>
</html>