<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../image/Logo.png" type="image/png">
    <link rel="stylesheet" href="../css/UI.css">
    <link rel="stylesheet" href="../css/site-pages.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="awesome/fontawesome.min.js"></script>
    <script src="https://kit.fontawesome.com/bc390f5649.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <title></title>
  </head>
  <body><a href="../index.html">
      <div class="logo"></div></a>
    <div class="contaienr_elements"><a href="CT.html" target="_blank"> 
        <div class="link1 links">
          <h3>Colors & Type</h3>
        </div></a><a href="Elements.html" target="_blank"> 
        <div class="link2 links">
          <h3>Form Elements</h3>
        </div></a><a href="Cards.html" target="_blank"> 
        <div class="link3 links">
          <h3>Cards</h3>
        </div></a><a href="HeaderFooter.html" target="_blank"> 
        <div class="link4 links">
          <h3>Headers & Footers</h3>
        </div></a></div>
  </body>
</html>